@charset "utf-8";

body {
	color: #333;
	font-size: 14px;
	line-height: 1;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

a,
input[type=submit] {
	transition: .2s;
	cursor: pointer;
}
a:hover,
input[type=submit]:hover {
	opacity: .7;
}

h1 {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	padding: 15px 0;
	background: #25a;
	text-align: center;
	color: #fff;
	font-size: 30px;
	line-height: 1;
}

#container {
	display: inline-block;
	position: relative;
	z-index: 1;
	padding: 80px 20px;
	white-space: nowrap;
	text-align: left;
}


/* ----------------------------------------
	Inputs
---------------------------------------- */

input {
	vertical-align: middle;
}

input[type=checkbox] {
	width: 16px;
	height: 16px;
	margin: 0;
}

.name,
.nation {
	width: 180px;
	height: 20px;
	padding: 5px;
	font-size: 18px;
}
.nation {
	width: 50px;
	padding: 5px 0;
	text-align: center;
}

.winner {
	position: absolute;
	right: 10px;
	top: 50%;
	z-index: 2;
	margin-top: -8px !important;
}

.court {
	display: block;
	width: 150px;
	font-size: 16px;
}

.match label:before {
	content: 'During the Game';
	margin-right: 5px;
}

.swap label:before {
	content: 'Swap';
	margin-right: 5px;
}


/* ----------------------------------------
	Layouts
---------------------------------------- */

.location,
.result {
	display: inline-block;
	padding-right: 30px;
	vertical-align: top;
}

.inputArea,
.sectionLine {
	background: #ffc;
}

.inputArea {
	border-top: solid 10px #fff;
	border-bottom: solid 10px #fff;
}

.section {
	display: inline-block;
	vertical-align: middle;
}
.section ul {
	position: relative;
}

.player {
	position: relative;
	padding-right: 36px;
}

.status {
	position: relative;
	z-index: 1;
	padding: 10px;
}
.status div {
	display: inline-block;
	margin-top: 10px;
}

.status .match {
	display: none;
}

.player:before,
.player:after,
.status:before,
.status:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	z-index: 1;
	width: 36px;
	height: 2px;
	margin-top: -1px;
	background: #000;
}
.player:after,
.status:before,
.status:after {
	width: 2px;
	height: 100%;
}
.player2nd:after {
	top: auto;
	bottom: 50%;
}
.status:before,
.status:after {
	top: 0;
	margin: 0;
}
.status:after {
	opacity: 0;
	height: 50%;
}

.positionInit {
	position: absolute;
	right: 20px;
	top: 30px;
	border: 1px solid black;
	font-weight: bold;
	padding: 5px;
}
.positionMatch {
	border: 1px solid black;
	font-weight: bold;
	padding: 5px;
    position: absolute;
    right: 30px;
}

/* sectionLine
---------------------------------------- */

.sectionLine {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.line {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 2px;
	background: #000;
}

.sectionLine .player2nd {
	top: auto;
	bottom: 0;
}

.line .winner {
	right: 50%;
	margin-right: -8px !important;
}

.sectionLine .status {
	padding: 56px 10px;
}

.secLine4 .status { padding: 133px 10px; }
.secLine3 .status { padding: 287px 10px; }
.secLine2 .status { padding: 598px 10px; }
.secLine1 .status { padding: 1218px 10px; }

/* sectionWinner
---------------------------------------- */

.sectionWinner {
	display: inline-block;
	position: relative;
	padding: 0 40px;
	vertical-align: middle;
	font-weight: bold;
	font-size: 20px;
}
.sectionWinner:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 30px;
	height: 2px;
	margin-top: -1px;
	background: #000;
}

.sectionWinner .winner {
	position: static;
	margin: 0 !important;
}


/* on, Win, Lose
---------------------------------------- */

.on .positionMatch {
	background: yellow;
}

.win1st,
.win2nd {
	background: #ddd;
}

.win1st .court,
.win1st .swap,
.win2nd .court,
.win2nd .swap {
	opacity: .3;
}

.win1st .player1st:before,
.win1st .player1st:after,
.win1st .status:after,
.win1st .player1st.line,
.win1st.sectionWinner:before,
.win2nd .player2nd:before,
.win2nd .player2nd:after,
.win2nd .status:after,
.win2nd .player2nd.line,
.win2nd.sectionWinner:before {
	background: #f30;
}

.win1st .player2nd:before,
.win1st .player2nd:after,
.win1st .status:before,
.win1st .player2nd.line,
.win2nd .player1st:before,
.win2nd .player1st:after,
.win2nd .status:before,
.win2nd .player1st.line {
	background: #bbb;
}

.win1st .status:after,
.win2nd .status:after {
	opacity: 1;
}
.win2nd .status:after {
	top: auto;
	bottom: 0;
}


/* ----------------------------------------
	#info
---------------------------------------- */

#info {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
	box-sizing: border-box;
	max-width: 600px;
	height: 100%;
	padding: 60px 0 80px;
	text-align: left;
	transition: .5s;
}
#info>div {
	overflow-x: hidden;
	position: relative;
	box-sizing: border-box;
	height: 100%;
	padding: 20px;
	border-left: solid 2px #25a;
	background: #fff;
}

#courtInfo li {
	padding: 15px 0 15px 2%;
	border-top: solid 2px #999;
	width: 47%;
	display: inline-block;
	vertical-align: top;
}
#courtInfo li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}
#courtInfo p {
	margin: 0 0 10px -10px;
	padding-left: 7px;
	border-left: solid 3px #999;
	font-size: 16px;
	font-weight: bold;
}
#courtInfo p.courtGreen {
	border-left: solid 3px #09a800;
}
#courtInfo p.courtYellow {
	border-left: solid 3px #f1df00;
}
#courtInfo p.courtRed {
	border-left: solid 3px #ff0000;
}
#courtInfo p.courtBlue {
	border-left: solid 3px #0000ff;
}

#courtInfo .name,
#courtInfo .nation {
	font-size: 14px;
	padding: 2px;
}

#courtInfo .vs {
	margin: 10px 0;
	text-align: center;
}

#infoClose {
	position: absolute;
	right: 100%;
	top: 60px;
	padding: 10px 20px 10px 10px;
	border-left: solid 2px #25a;
	border-bottom: solid 2px #25a;
	border-radius: 0 0 0 10px;
	background: #fff;
	font-weight: bold;
}
#infoClose:before {
	content: 'Close';
}
#infoClose:after {
	content: '';
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -6px;
	border: solid 6px transparent;
	border-left: solid 10px #333;
	border-right: 0;
}

/* close
---------------------------------------- */

#infoClose.close:before {
	content: 'Open ';
}
#infoClose.close:after {
	border-left: 0;
	border-right: solid 10px #333;
}


/* ----------------------------------------
	btnWrap
---------------------------------------- */

#btnWrap {
	display: block;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 20;
	width: 100%;
	padding: 15px 0;
	background: #eee;
	text-align: center;
}
#btnSend {
	width: 200px;
	height: 50px;
	font-size: 20px;
}

.label {
    display: block;
    width: 145px;
    font-size: 16px;
	margin-top: 5px;
	padding-left: 5px;
}
