html,body{
    font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif;
}
label{
    font-weight: 400;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	vertical-align: middle;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-weight: 100;
}

.login_content h1{
    font:100 25px 'Roboto',arial,'Noto Sans Japanese',sans-serif;
    letter-spacing: 0;
}
.login_content h1:after, .login_content h1:before{
    top:15px;
}
.main_container .right_col {
    font-size: 15px;
}

tr.duplicated {
    background: #fee3e3;
}
