<input type="text" name="name1" id="name{$num}" class="name{$num}" value="">
<input type="text" maxlength="3" name="nation{$num}" id="nation{$num}" class="nation" value="">
<input type="checkbox" name="w{$num}" id="w{$num}" class="winner" value="" {if $t[w|cat:$num]}checked{/if}>