<li id="ci{$num}">
    <p class="courtGreen">{$name}</p>
    <span>Left Player：</span>
    <span id="ci{$num}NameL" class="name"></span>
    <span id="ci{$num}NationL" class="nation"></span><br>
    <div class="vs"></div>
    <span>Right Player：</span>
    <span id="ci{$num}NameR" class="name"></span>
    <span id="ci{$num}NationR" class="nation"></span><br>
</li>