<div class="status">
	{html_options name="c$num" class='court' id="c$num" options=$cArr selected=$t[c|cat:$num]}
	<div class="swap"><label><input type="checkbox" name="s{$num}" id="s{$num}" value="1" {if $t[s|cat:$num]}checked{/if}></label></div>
	<input type="color" name="f{$num}" id="f{$num}" class="color" value="{$t[f|cat:$num]}" >
	<input type="text" name="l{$num}" id="l{$num}" class="label" placeholder="ラベル" value="{$t[l|cat:$num]}" >
<!--game{$num} status--></div>