@charset "utf-8";

/* ++++++++++++++++++++++++++++++++++++++++

	Global CSS

++++++++++++++++++++++++++++++++++++++++ */

/* ----------------------------------------
	Common Settings
---------------------------------------- */
html{
	width: 100%;
}

body {
	min-height: 100%;
	background: url(../img/common/bg.gif);
	color: #3E3A39;
	font-size: 14px;
	line-height: 1.5;
	font-family:"ヒラギノ角ゴ Pro W3", sans-serif;
	width: 100%;
}

h1,h2,h3,h4,h5{
	font-family: 'Cabin',"游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" ,Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;	
}

h1{
	color: #333;
	display: inline-block;
    vertical-align: top;
}

a {
	color: #f87d00;
	text-decoration: underline;
	outline: none;
	cursor: pointer;
	transition: .3s;
}
a:hover img {
	color: #fff;
}
a img,
input[type=submit]:hover,
input[type=image]:hover {
	/*transition: .3s;*/
}
a:hover img,
input[type=submit]:hover,
input[type=image]:hover {
	opacity: 0.7;
}

a:hover .rollover {
	opacity: 1;
}

img {
	display: block;
	max-width: 100%;
}

table {
	width: 100%;
}


/* ----------------------------------------
	form
---------------------------------------- */
form{
	overflow: hidden;
}
form#confirm{
	overflow: visible;
	display: inline-block;
}
form#confirm input{
	width: 60px;
	text-align: center;
	font-size: 14px;
}

.confirm-group {
    float: none;
    margin-left: 15px;
    width: auto;
}

form label{
	font-weight: normal;
    padding-left: 5px;
}

p#note{
	margin: 20px auto;
    text-align: center;
    font-size: 16px;
}

.form-control{
	width: 210px;
	display: inline-block;
}

textarea.form-control{
	width: 100%;
	/*max-width: 485px;*/
}

.form-group{
	overflow: hidden;
}

.submit-area{
	text-align: center;
	margin: 50px auto 0;
}

.submit-area #form_next,
.submit-area #form_submit{
	/*background-color: #333;
	color: #fff;*/
}
.submit-area p {
	font-size: 12px;
	margin-bottom: 5px;
}

form dt,
form dd{
    margin: 14px 0;
    min-height: 30px !important;
    border-top: 1px dotted #888;
    padding-top: 10px;
    line-height: 1;
}

.memo{
	padding: 15px;
	border: 1px solid #888;
	text-align: left;
}

/* ----------------------------------------
	qr
---------------------------------------- */
#qr img{
	width: 100%;
	max-width: 200px;
	margin: 50px auto;
}

.qr-area{
	overflow: hidden;
}

/* ----------------------------------------
	container
---------------------------------------- */

#container {
	margin: 40px auto;
	min-height: 600px;
}


/* ----------------------------------------
	header
---------------------------------------- */
header {
	width: 100%;
	background: url(../img/common/header_bg.png) repeat-x;
	margin-bottom: 54px;
}
#headerInner {
	width: 950px;
	margin: auto;
	padding: 17px 0 30px;
}

/* ----------------------------------------
	article
---------------------------------------- */

article {
	margin: auto;
	width: 735px;
	padding-bottom: 95px;
	background: #fff;
    overflow: hidden;
    padding: 30px;
    min-height: 600px;
}
.section {
	padding: 30px 0;
	border-bottom: 1px solid #e0e0e0;
}
.section.end {
	border: none;
}
img.contentsBg {
	display: block;
	margin: 0 auto;
}
#title {
}
h2 {
	margin-bottom: 17px;
	font-size: 26px;
}

.button-area{
	width: 100%;
}

.button-area .button{
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2466b6;
    color: #fff;
    margin: 100px auto;
    display: block;
    text-align: center;
    cursor: pointer;
}
.button-area .button a,
.button-area .button a:hover{
	text-decoration: none;
	color: #fff;
}	
/* ----------------------------------------
	footer
---------------------------------------- */

footer {
	width: 100%;
	background: #000;
	text-align: center;
	color: #fff;
	font-size: 12px;
	line-height: 12px;
	font: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	padding: 50px 0 45px;
}


/* ----------------------------------------
	Admin
---------------------------------------- */
.nav-tabs {
	display: inline-block;
    margin-left: 20px;
	width: 750px;
}

/* ----------------------------------------
	Menu
---------------------------------------- */
.bootstrap-switch-id-admissionToggle{
    float: right;
}
#admissionToggleArea{
    width: 150px;
    position: absolute;
    right: 0;
    top: -15px;
}
#admissionToggleArea label{
    width: 110px;
    text-align: center;
    float: right;
    margin: 0;
    color: #23527c;
}
div.news{
	border-radius: 5px;
	background-color: #eee;
	color: #3E3A39;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 10px;
}

div.news ul li{
	float: left;
}

div.news ul li span{
    font-size: 14px;
    margin:0 5px;
}

div.warn{
	background-color: #23527c;
	color: #fff;
}

div.newItem {
  max-height: 0;
  opacity: 0;
  transform: translateX(-300px);
  border: 3px solid #f87d00;
  animation: 
    openSpace 0.2s ease forwards,
    moveIn 0.3s 0.2s ease forwards,
    borderLine 3s 0.3s ease forwards;
}
@keyframes openSpace {
  to { 
    max-height: 74px;
  }
}
@keyframes moveIn {
  to { 
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes borderLine {
  to { 
    border: 3px solid #fff;
  }
}


/* ----------------------------------------
	Search
---------------------------------------- */
div.dataTables_wrapper {
	overflow-y :hidden;
    width: 100%;
    margin: 50px auto;
}
table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: nowrap;
    vertical-align: middle;
}

#sorted_table td.cat{
	color: white;
	padding: 5px 10px;
}
#sorted_table td.cat0{
	background-color: #2466b6 !important;
}
#sorted_table td.cat1{
	background-color: #FBA026 !important;
}
#sorted_table td.cat2{
	background-color: #E25041 !important;
}
#sorted_table td.cat3{
	background-color: #9365B8 !important;
}
#sorted_table td.cat4{
	background-color: #61BD6D !important;
}
#sorted_table td.cat5{
	background-color: #2466b6 !important;
}

.storeBlock > p {
    background-color: #888;
    color: #fff;
    line-height: 1;
    font-size: 16px;
    padding: 10px 15px;
    margin: 20px 0 20px;
	cursor: pointer;
}.storeBlock > p.multiUser {
	color: red;
}

.storeBlock > p .dataId {
	width: 50px;
	display: inline-block;
	text-align: right;
	color: #fff;
}

.storeBlock > p .dateSpan{
	font-size: 14px;
	padding: 3px 10px;
	color: #888;
	background-color: #fff;
    margin: 0 5px;
}

.storeBlock > p .postCat{
	font-size: 14px;
	padding: 3px 10px;
	color: #fff;
	background-color: green;
	position: absolute;
	right: 50px;
	top: 9px;
}

.storeBlock > p .postCatSns{
	font-size: 14px;
	padding: 3px 10px;
	color: #fff;
	background-color: blue;
	position: absolute;
	right: 50px;
	top: 9px;
}

.storeBlock > p span.storeShow,
.storeBlock > p span.storeHide{
	float: right;
	color: #fff;
}

.storeDetail dl{
	margin: 0 0 10px;
}

.storeDetail dl dt {
	clear: both;
}

.storeDetail dl dt,
.storeDetail dl dd{
	font-size: 14px;
    min-height: 30px;
}

.storeDetail dl dd img {
	margin-bottom: 5px;
}

.storeHide{
	display: none;
}

.storeDetail{
	display: none;	
}

.storeDetail .text-center .no-float {
	float: none;	
}

.mediaUrl {
	max-width: 100%;
	max-height: 300px;
	margin: 10px 0;	
}

.ng-word {
	color: red;	
}


/* ----------------------------------------
	SP
---------------------------------------- */

/*@media screen and (max-width: 640px) and (-webkit-min-device-pixel-ratio: 1.5){*/
@media screen and (max-width: 640px){

h1 {
    display: block;
}

header {
	width: 100%;
	background-image: none;
	background-color: #fff;
}
#headerInner {
	width: 100%;
}
header img {
	width: 40%;
	margin: auto;
	display: block;
}
article {
	width: 90%;
	margin: auto;
	padding: 15px 15px 30px;
}
img.contentsBg {
	width: 90%;
	margin: auto;
}
article img {
	width: 90%;
}
article #title {
	width: 90%;
	margin: auto;
	padding: 25px 0 35px;
}
#title img {
	width: 100%;
}
footer {
	width: 96%;
	padding: 40px 2%;
	font-size: 11px;
}
}
