@charset "utf-8";

#form_template_1 {
    background: url(/meiji/img/form/pop1.jpg);
    background-size: 200px 141px;
}
#form_template_2 {
    background: url(/meiji/img/form/pop2.jpg);
    background-size: 200px 141px;
}
.image-radio input[type="radio"],
.image-radio2 input[type="radio"] {
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	-ms-appearance:none;
	appearance:none;
	position: relative;
	display: none;
}
.image-radio img,
.image-radio2 img{
	float: left;
	margin: 5px;
}
.image-radio img.checked,
.image-radio2 img.checked {
	opacity: 0.6;
	box-shadow: 0px 0px 0px 3px red;
}
.image-radio label,
.image-radio2 label{
	text-indent: -99999px;
}
#form_photo{
	width: 100%;
}
p.error{
	color: #e40112;
    width: 100%;
    display: inline-block;
}
span.necessary{
	color: #e40112;	
	font-size: 80%;
}
.palaw-area{
	text-align: center;
	font-size: 120%;
    padding: 8px 5px;
    border: 2px solid #e40112;
}
.palaw-area #palaw-error{
	display: none;
}
/*#result-area{
	position: relative;
}*/
#result-area #result-img{
	width: 675px;
	height: 476px;
	background-position:center top;
	background-repeat:no-repeat;
	-moz-background-size:cover;
	background-size:cover;
    position: relative;
    pointer-events: none;
    z-index: 1000;
}
#result-area #result-img img{
	width: 675px;
}
.template1 #crop-wrapper{
	margin-top: -451px;
    margin-left: 24px;
    margin-bottom: 100px;
    z-index: 2;
}
.template2 #crop-wrapper{
    margin-top: -403px;
    margin-left: 24px;
    margin-bottom: 60px;
    z-index: 2;
}
.template2-2 #crop-wrapper{
    margin-top: -383px;
    margin-left: 24px;
    margin-bottom: 80px;
    z-index: 2;
}

.ci-image-wrapper span{
	z-index: 9999 !important;
}
.ci-main .ci-image-wrapper{
	border: 5px solid #00ffff;
    box-shadow: none;
}
.template1 .ci-main .ci-tool{
    top: 120px;
}
.template2 .ci-main .ci-tool{
    top: 20px;
}
.ci-tip{
	z-index: 10000 !important;	
}

#result-background{
    margin-top: -476px;
    z-index: 1;
}
#result-background img{
	width: 100%;
}
p#note2{
    margin: 5px auto 20px;
    padding-left: 20px;
    text-align: left;
    font-size: 14px;
}