a {
    color: #286090;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

table.dataTable tr.odd,
table.dataTable tr.even,
table.dataTable tr.odd td.sorting_1,
table.dataTable tr.even td.sorting_1{
	background-color: #fff !important;
}