@charset "utf-8";

#title {
	margin: 0 0 50px;
	padding: 25px 0 34px 65px;
	width: 915px;
	border-bottom: 1px solid #dcdcdc;
}

article {
	width: 980px;
}

#tableHead {
	color: #2466b6;
	border-bottom: #2466b6 solid 3px;
	width: 842px;
	margin: auto;
	color: #2466b6;
}
#tableHead th {
	padding-bottom: 17px;
	padding-left: 6px;
	font-weight:bold;
	text-align: left;
}
#tableHead .col01 {
	width: 114px;
}
#tableHead .col02 {
	width: 300px;
}
#tableHead .col03 {
	width: 268px;
}
#tableHead .col04 {
	width: 136px; 
}

div#tableWrapper {
	padding: 0 22px 45px;
	background: #efefef;
	width: 798px;
	margin: auto;
}
#tableContents {
	width: 100%;
}
#tableContents td {
	height: 54px;
	vertical-align: middle;
	border-bottom: solid 1px #bcbcbc;
	padding-left: 6px;
}
#tableContents .col01 {
	width: 78px;
	padding: 0;!important
}
#tableContents .col02 {
	width: 220px;
}
#tableContents .col03 {
	width: 340px;
}
#tableContents .col04 {
	width: 148px; 
}

#tableContents td span {
	height: 26px;
	width: 26px;
	display: block;
	text-align: center;
	background: #2466b6;
	color: #fff;
	font-size: 12px;
	line-height: 26px;
}

/*@media screen and (max-width: 640px) and (-webkit-min-device-pixel-ratio: 1.5){*/
@media screen and (max-width: 640px){

div#tableWrapper {
	width: 90%;
	padding: 0 0 20px;
}
table#tableHead {
	width: 90%;
	font-size: 9px;
}
table#tableContents {
	width: 100%;
	font-size: 9px;
}
table th,
table td {
	padding-left: 1%;
	text-align: left;
}
#tableHead .col01,
#tableContents .col01 {
	width: 20%;
}
#tableHead .col02,
#tableContents .col02 {
	width: 18%;
}
#tableHead .col03,
#tableContents .col03 {
	width: 30%;
}
#tableHead .col04,
#tableContents .col04 {
	width: 28%;
}
article {
	width: 90%;
}
.submit-area input {
	width: 40%;
	margin: auto;
}

article #title {
	padding-bottom: 15px;
	margin-bottom: 30px;
}

}