@charset "utf-8";

/* ++++++++++++++++++++++++++++++++++++++++

	Reset and Clearfix

++++++++++++++++++++++++++++++++++++++++ */

/* ----------------------------------------
	reset
---------------------------------------- */

html, body,
div, p,
table, tr, th, td,
ul, ol, li,
dl, dt, dd,
h1, h2, h3, h4, h5, h6,
img, a, address, figure {
	margin: 0;
	padding: 0;
	border: 0;
}

li {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ----------------------------------------
	clearfix
---------------------------------------- */

.clearfix:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
}

.clearfix {
	min-height: 1px;
}

* html .clearfix {
	height: 1px;
	/*\*//*/
	overflow: hidden;
	height: auto;
	/**/
}
