@charset "utf-8";

/* ++++++++++++++++++++++++++++++++++++++++

	for Smart Devices

++++++++++++++++++++++++++++++++++++++++ */

@media (max-width: 767px) {
/* PCではスマホ表示しない場合
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5) {
*/

/* ----------------------------------------
	Common Settings
---------------------------------------- */

body {
	color: #333;
	font-size: 12px;
	line-height: 1.5;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	-webkit-text-size-adjust: 100%;
}

img {
	max-width: 100%;
	width: 100%;
	vertical-align: bottom;
}

a {
	text-decoration: underline;
	color: #e52d8a;
	cursor: pointer;
	transition: .2s;
}
a:hover {
	opacity: .7;
}
a img,
input[type=submit],
input[type=image] {
	transition: .2s;
}
a:hover img,
input[type=submit]:hover,
input[type=image]:hover {
	opacity: .6;
}

a:hover .rollover {
	opacity: 1;
}

#container {
}

.sp {
	display: inline;
}
.pc {
	display: none;
}

/* ----------------------------------------
	header
---------------------------------------- */

header {
	height: 50px;
	background: #fff;
	text-align: center;
}

header .inner{
	width: auto;
	margin: auto;
}

h1 {
	padding: 8px;
}
h1 img {
	width: 129px;
}

/* ----------------------------------------
	article
---------------------------------------- */

article {
}


/* --------------#main---------------*/
#main {
	height: auto;
	background: url(../img/bg_mv_sp.jpg) no-repeat;
	background-size: 100% auto;
}
#main .inner {
	position: relative;
	width: auto;
	height: auto;
	margin: auto;
	padding: 0 5.3% 5%;
	background: none;
}
#main h2 img {
	margin-left: auto;
	margin-top: 7.5%;
}
#main ul {
	position: relative;
	width: auto;
	margin: auto;
}
#main li {
	float: none;
	width: 75%;
	margin: 3.125% 0;
}
#main li:last-child {
	margin-right: 0;
	width: 26.78%;
	position: absolute;
	top: 32.25%;
	right: 0.5%;
}
#main li:last-child img {
	margin-top: 0;
}
#main .pop {
	position: absolute;
	top: auto;
	left: auto;
	right: 5.13%;
	margin-top: 3%;
	width: 32.18%;
}
	#main .pop:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
	}

/* ----------------------------------------
	contents
---------------------------------------- */

#container {
	padding: 0;
}
#contents section  {
	width: auto;
}
#contents section .inner {
	width: auto;
	margin: 5.46% 3.125% 6.125%;
	padding: 3.125% 3.125%;
	background: #fff;
	border-radius: 10px;
}
h3 {
	padding-bottom: 2.5%;
	border-bottom: solid 3px #eb7aab;
	margin-bottom: 6.56%;
}
#container .contents_inner {
	width: auto;
	margin: auto;
	background: none;
}

/* --------------#main---------------*/
#overview p {
	margin: 0;
	font-size: 13px;
}
#overview dl,
#overview dt,
#overview dd {
  box-sizing: inherit;
	font-size: 14px;
}
#overview dl {
  background: none;
}
#overview dt,
#overview dd {
	border-top: solid 2px #fff;
}
#overview dt {
	width: auto;
	float: none;
	padding: 5.31% 0 0 0;
	color: #e52d8a;
	text-align: left;
	font-weight: bold;
}
#overview dt:before {
		content: '<';
	}
#overview dt:after {
		content: '>';
	}
#overview dd {
	background: none;
	padding: 0;
	margin-left: 0;
	border-left: solid 2px #fff;
	font-size: 12px;
	line-height: 1.7;
}
#overview dd:after {
  content: '';
  display: block;
  clear: both;
}
#overview dd small {
	font-size: 10px;
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}
#overview h3 img {
	width: 55.5%
}
#overview .mrgn {
	margin-top: 10px;
}
#overview dd span.indent {
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}
/* --------------#agreemnt---------------*/

#agreement .scroll {
	padding: 0;
	height: auto;
	font-size: 13px;
	overflow-y: auto;
}
#agreement h3 img {
	width: 31.16%
}

/* ----------------------------------------
	btn_area
---------------------------------------- */

.btn_area {
	width: auto;
	margin: 0 3.125% 6.125%;
	padding: 0;
}
.btn_area a{
	display: block;
	text-align: center;
}

/* ----------------------------------------
	footer
---------------------------------------- */

footer {
	background: #fff;
	text-align: center;
	color: #000;
}
footer .inner {
	position: relative;
	width: auto;
	margin: auto;
	padding: 6.25% 0;
}
footer .to_top {
	position: absolute;
	width: 21.93%;
	top: 0;
	left: 50%;
	margin-left: 13%;
	margin-top: 7.9%;
}
footer .to_top img {
	position: absolute;
	top: 0;
	left: 0;
}
footer .info {
	width: 85.15%;
}


/* ----------------------------------------
	sub
---------------------------------------- */

#sub #main {
	height: auto;
	background: url(../img/bg_sub_sp.jpg) no-repeat;
	background-size: 100% auto;
}
#sub #main .inner{
	height: auto;
	background: none;
}

#sub .center {
	text-align: center;
}
#sub .pink {
	color: #e52d8a;
}
#sub h3 {
	text-align: center;
	margin-bottom: 20px;
}
#sub h3 img {
	width: 70%;
	margin: auto;
}
#sub #form_area p {
	font-size: 13px;
}


/* --------------#form---------------*/

#sub #form_area dt {
	position: inherit;
	padding-top: 0;
	margin-bottom: 2%;
	width: auto;
	font-size: 13px;
	font-weight: 600;
	text-align: left;
	float: none;
}
#sub #form_area dd {
	font-size: 14px;
	padding-left: 0;
	margin-bottom: 10px;
	margin-left: 0;
	width: auto;
}
#sub #form_area dd.space {
	margin-bottom: 5%;
}
/*css radio02*/
#form_area dt .required {
    position: relative;
    /* right: 0; */
    padding: 0 10px;
    margin-left: 24px;
}
#sub dl {
	margin-top: 0;
		padding-top: 20px;
}
#form_area .course {
	padding-top: 0;
}

.radio_btn {
  display: none;
}
.radio_btn + label {
  padding-left: 25px;
  position:relative;
  margin-right: 20px;
}
.radio_btn + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #fdf1f6;
  border-radius: 50%;
	background: #fdf1f6;
}
.radio_btn:checked + label::after {
	content: "";
	display: block;
	position: absolute;
	top: 8px;
	left: 5px;
	width: 8px;
	height: 8px;
	background: #eb7aab;
	border-radius: 50%;
}

.selectbox select {
	position: relative;
	width: 100%;
	height: 40px;
	padding: 0 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background: #fdf1f6;
	border-radius: 10px;
}
.selectbox select::-ms-expand {
    display: none;
}
.selectbox label {
	position: relative;
	display: block;
	width: 100%;
}
.selectbox label:after {
	display: block;
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 40px;
	margin-top: 0;
	border-radius: 0px 10px 10px 0px;
	background: url(../img/arrow.png) 0 0 no-repeat #eb7aab;
	background-size: 100%;
	pointer-events: none;
}
.selectbox span {
	margin-left: 0;
}

input[type="text"],
input[type="email"]{
	width: auto;
	height: 40px;
	padding: 0 2%;
	background: #fdf1f6;
	border: none;
	border-radius: 10px;
}
input.other {
    height: auto;
	padding: 2%;
}
input.address[type="text"],
input[type="email"] {
	width: 96%;
}
dd input[type="text"]:first-child {
	margin-right: 10px;
}
dd .address_auto {
	margin-top: 10px;
	margin-left: 0;
    display: inline-block;
}

:placeholder-shown {
    color: #f7c0d6; }
/* Google Chrome, Safari, Opera 15+, Android, iOS */
::-webkit-input-placeholder {
    color: #f7c0d6; }
/* Firefox 18- */
:-moz-placeholder {
    color: #f7c0d6; opacity: 1; }
/* Firefox 19+ */
::-moz-placeholder {
    color: #f7c0d6; opacity: 1; }
/* IE 10+ */
:-ms-input-placeholder {
    color: #f7c0d6; }

input[type="number"] {
	width: 39%;
	height: 40px;
	padding: 0 10px;
	background: #fdf1f6;
	border: none;
	border-radius: 10px;
}
dd input[type="text"]:first-child{
	margin-right: 2%;
	margin-bottom: 2%;
}
dd input.address[type="text"]:first-child,
dd input[type="email"]:first-child {
	margin-right: 0;
	margin-bottom: 2%;
}
.upload {
	width: auto;
	position: relative;
}
#upload_btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 55px;
	height: 20px;
	background: #eb7aab;
	color: #fff;
	cursor: pointer;
	padding: 10px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	border-radius: 0 10px 10px 0;
}
input[type="file"] {
	background: none;
	box-shadow: none;
	border: none;
}
.upload input[type="text"]{
	width: 93%;
}
input.conf_btn {
	width: 100%;
	height: 0;
	padding-top: 15%;
	background: url(../img/conf_btn_sp.png) no-repeat;
	background-size: 100%;
}
input.other {
    height: auto;
    padding: 2%;
    margin-top: 4%;
}
#sub #form_area dd.enquete label:first-of-type {
    margin-right: 0;
    padding-left: 27px;
}
#sub #form_area dd.enquete label {
	font-size: 12px;
}

input.size_l {
	width: 80%;
}
input.size_s {
	width: 25%;
}
.selectbox {
	width: 50%;
}


/* --------------#conf_area---------------*/

#conf_area dl {
	margin-top: 5%;
}
#conf_area dt {
	display: block;
	width: auto;
	color: #eb7aab;
	font-size: 13px;
	font-weight: 600;
	text-align: left;
}
#conf_area dd {
	display: block;
	width: auto;
  margin-bottom: 2%;
	font-size: 15px;
}
#conf_area dd:last-child {
	padding-bottom: 5%;
}
.conf_btn_area {
	width: auto;
  margin: 0 3.125%;
	padding: 0 0 10%;
}
.conf_btn_area .apply_btn,
.conf_btn_area .back_btn{
	width: auto;
	display: block;
	margin-bottom: 3%;
	text-align: center;
}
.apply_btn {
	float: none;
}
.conf_btn_area .apply_btn {
	height: 0;
	width: 100%;
	padding-top: 12.9%;
	background: url(../img/apply_btn_short.png) no-repeat;
	background-size: 100%;
	border: none;
}


/* --------------#comp_area---------------*/

.product {
	display: block;
	width: 90%;
	margin: 40px auto;
	text-align: center;
}
.thanks {
	margin: 0 auto 35px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

/* Break Point */
}
