@charset "utf-8";

/* ++++++++++++++++++++++++++++++++++++++++

	Global CSS

++++++++++++++++++++++++++++++++++++++++ */

/* ----------------------------------------
	Common Settings
---------------------------------------- */

.sp { display: none; }

#container {
	padding: 30px;
}

.header {
    background-color: #663366;
    background-image: -webkit-linear-gradient(bottom, #663366, #804180);
    background: url(../img/noiz.png) repeat 0 0,linear-gradient(to top, #663366, #804180);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#663366', endColorstr='#804180', GradientType=0)";
    border-bottom: 1px solid #3e2742;
    position: fixed;
    width: 100%;
    min-width: 850px;
    z-index: 99;
    box-shadow: 0 1px 4px 1px rgba(0,0,0,0.3);
    background-repeat: repeat-x;
}

.header h2 {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    padding: 16px;
}

.enq_title_txt {
    line-height: 1.3;
    margin: 0 auto;
		text-align: left;
}

/* ----------------------------------------
	contents
---------------------------------------- */

h1 {
	width: 980px;
	text-align: center;
	margin: 0 auto;
}
div#title {
	width: 980px;
	text-align: center;
	margin: 40px auto 50px;
}
div#title .pc {
	display: initial;
}

#contents section {
	width: 980px;
	margin: 80px auto 0;
	font-size: 14px;
}
#contents section .inner {
	width: 890px;
	margin: 0 auto;
}

#main {
	margin: 0 -55px;
	background: #f6f6f6;
	font-size: 16px;
}
#main div {
	display: table-cell;
	vertical-align: middle;
}
#main .fig {
	width: 380px;
}
#main .lead {
	padding-left: 30px;
}
#main .lead h2 {
	width: auto;
	margin: 16px 0 0;
	text-align: left;
	font-size: 28px;
}

/* ----------------------------------------
	agreement
---------------------------------------- */

#agreement {
    padding: 30px 20px 30px 30px;
	margin: 30px auto 85px;
	border: 1px solid #000;
}
#agreement .scroll {
    height: 380px;
    padding-right: 20px;
    font-size: 16px;
    overflow-y: scroll;
}
#agreement .scroll::-webkit-scrollbar {
	height: 10px;
}
#agreement .scroll::-webkit-scrollbar-thumb{
	background: #222;
	border-radius: 3px;
}
#agreement .scroll::-webkit-scrollbar-track-piece {
	background: #efefef;
}
#agreement h3 {
	font-weight: bold;
    font-size: 18px;
}
#agreement h4 {
	margin: 20px 0 5px;
    font-size: 17px;
	font-weight: bold;
}
#agree_check {
	text-align: center;
	margin: 0 auto 85px;
}
#submit:disabled,
#submit:disabled:hover {
	opacity: .5;
	cursor: auto;
}

/* ----------------------------------------
	footer
---------------------------------------- */

footer {
	width: 980px;
	text-align: center;
	margin: 100px auto 0;
}

/* ----------------------------------------
	btn_area
---------------------------------------- */

.btn_area {
	text-align: center;
}
.btn_area .btn {
    border: none;
    background: #000;
    border-radius: 5px;
    padding: 10px 40px;
    margin-left: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-weight: normal;
    font-size: 20px;
    display: inline-block;
}
.btn_area .btn_top {
	width: 550px !important;
}
.btn_area a.btn img {
	width: 300px;
}
.btn_area a.btn_top img {
	width: 550px;
}

/* ----------------------------------------
	form
---------------------------------------- */

#form_area dl {
	line-height: 33px;
	padding: 40px 0 25px;
}
#form_area dt {
	width: 220px;
	margin-bottom: 30px;
	float: left;
    position: relative;
}
#form_area dt .required {
    position: absolute;
    right: 0;
    padding: 0 10px;
    margin-right: 20px;
    font-size: 14px;
    color: #b01025;
    border: 1px solid #b01025;
    border-radius: 5px;
}
#form_area dd {
	width: 670px;
	margin: 0 0 30px 220px;
}
#form_area dd p {
	line-height: 25px;
}
#form_area dd .selectbox p {
	margin-top: 30px;
}


#form_area dl input.space_r {
	margin-right: 35px;
}

.attention {
	margin: 5px 0 0 !important;
	font-size: 16px;

}
.quiz_area {
	margin-bottom: 115px;
	border-top: 1px solid #c9cace;
	border-bottom: 1px solid #c9cace;
}
.quiz_area .quiz1 img {
	width: 625px;
}
.quiz_area .quiz1 div {
	width: 45.5%;
	float: left;
}

dd .address_auto {
    border: none;
    background: #000;
    border-radius: 5px;
    padding: 5px 8px;
    margin-left: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
}

p.error_text {
    margin-top: 5px;
	font-size: 16px;
    line-height: 1.2em;
    color: #b01025;
}
p + .error_text {
    margin-top: 0;
}

/* ------ input ------ */

.selectbox select {
	width: 670px;
	height: 35px;
	padding: 0 10px;
	border: 1px solid #c2c3c8;
	border-radius: 5px;
	-moz-appearance: none;
	appearance: none;
	background: #fff;
}
.selectbox select::-ms-expand {
    display: none;
}
#birth_year,
#birth_month,
#birth_day {
	width: 120px;
	display: inline-block;
}
#age select{
	width: 200px !important;
}

input[type="text"],
input[type="email"] {
	height: 33px;
	padding: 0 10px;
	border: 1px solid #c2c3c8;
	border-radius: 5px;
}

.red {
    color: #b01025;
}
.f16 {
	font-size: 16px;
}
.size_s {
	width: 120px;
}
.size_m {
	width: 220px;
}
.size_l {
	width: 645px;
}

/* Google Chrome, Safari, Opera 15+, Android, iOS */
:placeholder-shown,
::-webkit-input-placeholder {
    color: #626368;
	font-family: "小塚明朝 Pro", "ヒラギノ明朝 pro", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
/* Firefox 18- */
/* Firefox 19+ */
/* IE 10+ */
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
    color: #626368;
	opacity: 1;
	font-family: "小塚明朝 Pro", "ヒラギノ明朝 pro", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}


/* --------------#conf---------------*/

#conf dd.size_nm {
	height: 35px;
}
#conf dd.size_nm div {
	width: 335px;
	float: left;
}

#agree_check .required {
    padding: 7px 10px;
    margin-right: 10px;
    font-size: 14px;
    color: #b01025;
    border: 1px solid #b01025;
    border-radius: 5px;
}

/* --------------#comp---------------*/

#comp #thanks {
	text-align: center;
	margin: 115px auto;
}
#comp #thanks + p {
	text-align: center;
	margin: 25px auto 50px;
	font-size: 16px;
}
#comp + div.btn_area {
	margin: 115px auto 150px;
}
#comp + div.btn_area #photo {
	width: 450px;
}

/* --------------#errorpage---------------*/

#errorpage {
	text-align: center;
	margin: 150px auto !important;
}
