.arrow {
    display:  inline-block;
    color: #fff;
    text-decoration:  none;
    background-color: #2196F3;
    border-radius: 3px;
    position:  relative;
    height: 25px;
    width: 25px;
}

.arrow::before {
    content:  '';
    width: 10px;
    height: 10px;
    display:  block;
    border-top: solid 2px;
    border-right: solid 2px;
    transform: rotate(-45deg);
    position:  absolute;
    top: 5px;
    bottom:  0;
    left:  0;
    right:  0;
    margin:  auto;
}
.arrow.down::before {
    transform: rotate(135deg);
    top: -3px;
}

.arrow.dummy {
    background-color: white;
}
.arrow.dummy::before {
    opacity:0;
}

.id {
    width: 100px;
}

.disabled { 
    background-color: #a0a0a0;
    border-color: #a0a0a0;
}