@charset "utf-8";


body {
	color: white;
	font-family: 'Ameba Sans','UD Bold';
	text-align: center;
    background: rgba(180,100,210,1);
    
}

.container {
    position: absolute;
	width: 100%;
	height: 100%;
}

.statusWrap {
	position: absolute;
	width: 10.4%;
	left: 45.5%;
    bottom: 8.7037037037037vh;
}
.statusWrap > img {
	width: 100%;
	height: 100%;
	display: block;
}
.roundWrap {
    position: absolute;
    width: 36%;
    height: 41%;
    top: 6%;
    left: 47%;
}
.roundWrap p {
	margin-right: -50%;
}
.timeWrap {
    position: absolute;
    left: 26%;
    top: 39%;
    width: 71%;
    height: 54%;
    text-align: left;
}
.bgWrapL,
.bgWrapR{
	background: black;
    width: 33.95833333333333%;
    height: 7.77777777777778vh;
    bottom: 8.7037037037037vh;
    position: absolute;
    border-radius: 1vh;
}
.bgWrapL{
    left: 11vh;
	border-radius: 5vh 0 0 5vh;
}
.bgWrapR{
	right: 9.2vh;
    border-radius: 0 5vh 5vh 0;
}
.bgWrapL.on,
.bgWrapL.invalid {
    border: 1.29vh solid transparent;
    width: 33.95833333333333%;
    height: 7.77777777777778vh;
    bottom: 7.4137037037037vh;
    left: 9.71vh;
	border-radius: 5vh 0 1vh 5vh;
}
.bgWrapR.on,
.bgWrapR.invalid {
    border: 1.29vh solid transparent;
    width: 33.95833333333333%;
    height: 7.77777777777778vh;
    bottom: 7.4137037037037vh;
    right: 7.91vh;
    border-radius: 0 5vh 5vh 1vh;
}
.bgWrapL.short.on,
.bgWrapL.short.invalid {
    left: 24vh;
}
.bgWrapR.short.on,
.bgWrapR.short.invalid {
    right: 24vh;
}

.bgWrapL .circle,
.bgWrapR .circle {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    background: black;
}
.invalid{ border-color: rgba(255,255,255,1) !important;}
.bgWrapL.on{ border-color: rgba(255, 0, 0, 1) !important;}
.bgWrapR.on{ border-color: rgba(0, 255, 0, 1) !important;}
.bgWrapL .circle{
    right: 99%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
	border-right: none;
}
.bgWrapR .circle {
    left: 99%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
	border-left: none;
}

.bgWrapL .colorCircle,
.bgWrapR .colorCircle {
    height: 3%;
    display: block;
    position: fixed;
    bottom: 11.1%;
    border-radius: 100%;
}
.bgWrapL .colorCircle{
    left: 7.8%;
	background: #FF0000;
}
.bgWrapR .colorCircle {
	right: 6.8%;
	background: #00D600;
}

.bgWrapL.short {
    left: 25vh;
}
.bgWrapR.short {
    right: 25vh;
}
.bgWrapL.short, #bgWrapR.short {
    width: 26%;
}

.portraitL,
.portraitR {
    position: fixed;
    bottom: 9.3%;
    width: 5.2%;
    /* padding: 0.2%; */
    /* background: white; */
    border-radius: 11px;
    box-sizing: border-box;
    border: 0.19vw solid white;
    border-radius: 11px;
    overflow: hidden;
}
.portraitL {
    left: 10.2%;
}
.portraitR {
    right: 9.2%;
}
.portraitL img,
.portraitR img{
	width:100%;
    display: block;
}

.scoreBoxL,
.scoreBoxR {
	position: absolute;
	width: 4.2%;
    height: 7.77777777777778vh;
    bottom: 8.7037037037037vh;
	left: 40.95%;
	background: white;
	color: black;
}
.scoreBoxR {
	left: auto;
	right: 39.9%;
}
/*
.scoreBoxR:before,
.scoreBoxL:before {
    content: "";
    position: fixed;
    bottom: 5%;
    width: 22.00%;
    height: 1.4%;
	opacity:0;
} */
.scoreBoxL:before {
    background: #FF0000;
    left: 18.2%;
}
.scoreBoxR:before{
    background: #00D600;
    right: 18.2%;
}
.scoreBoxR.on:before,
.scoreBoxL.on:before {
	opacity:1;
} 
.scoreBoxR.invalid:before,
.scoreBoxL.invalid:before {
	opacity:1;
	background: white;
} 
.nameLWrap,
.nameRWrap {
	position: absolute;
    width: 24%;
    height: 7%;
    bottom: 9.1%;
	font-family: 'UD Bold';
	word-break: break-all;
}
.nameLWrap {
    left: 16%;
}
.nameRWrap {
	right: 15%;
}
.nameL,
.nameR {
	width: 100%;
	height: 100%;
}
.scoreL,
.scoreR {
	width: 100%;
	height: 100%;
}

.logo {
    position: absolute;
    width: 6.71875%;
    left: 47.3%;
    bottom: 5.09%;
    height: 3.09%;
}
.logo img {
    width: 100%;
}

.fixfont {
	opacity: 0;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin: auto;
}
.fixfont>div {
	display: table;
	width: 100%;
	height: 100%;
}
.fixfont>div>div {
	display: table-cell;
	vertical-align: middle;
}

/* ----------------------------------------
	sign
---------------------------------------- */

.sign {
    top: 77.8%;
    left: 0;
    height: 3.98%;
    width: 100%;
    position: absolute;
}
.sign .card {
	position: absolute;
	width: 1.71875%;
	height: 100%;
    border-radius: 15%;
    top: 31%;
}
.sign>div {
	opacity: 0;
	/*opacity: 1; /*debug*/
}
.yellowcardL,
.yellowcardR {
	background:#FFE100;
}
.yellowcardL {
	left: 43.2%;
}
.yellowcardR {
	right: 42.1%
}
.redcardL {
	background:red;
}
.redcardR {
	background:red;
}
.redcardL { 
	left: 41.2%;
}
.redcardR { 
	right: 40.15%;
}
.nationLWrap,
.nationRWrap{
    background: black;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    position: absolute;
    width: 8.9% !important;
    right: 59.3%;
    top: 31%;
    height: 77%;
    opacity: 1 !important;
}
.nationLWrap {
	border-right: 1vh solid black;
}
.nationRWrap {
	right:auto;
	left:60.1%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
    border-left: 1vh solid black;
}
.nationL,
.nationR{
    transform: scale(1.3, 1.3);
}
.flag {
	position: absolute;
	width:23%;
	height: 80%;
	top: 10%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	opacity: 1 !important;
}
.flagL {
	right:2%;
}
.flagR {
	left:2%;
}
.priorityL,
.priorityR{
    top: 0 !important;
}


.priority{
	background: #0090DC;
	/*opacity: 1!important; debug*/
}

.priorityL{
	left: 29.1%;
}
.priorityL.rev{
	right: 19.27083333333333%
}

.priorityR{
	right: 28.1%;
}

.priorityR.rev{
	left: 19.27083333333333%
}
.priority span {
    display: block;
    width: 100%;
    height: 100%;
}

.sign>div.on {
	opacity: 1;
}
.text-narrow {
    transform: scale(1, 1.2);
}
.hide {
    opacity :0;
}