@charset "utf-8";

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-bold';
    src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoCondensed-italic';
    src: url('../fonts/RobotoCondensed-italic.ttf') format('truetype');
}

body {
  color: white;
  font-family: 'RobotoCondensed-bold','HiraginoKakugoStd';
  text-align: center;
  background: black;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
	overflow: hidden;
}

.statusWrap {
  position: absolute;
    width: 30%;
    left: 35%;
    height: 45%;
    top: 16%;
}

.roundWrap {
  color: white;
  position: absolute;
  width: 50%;
  height: 30%;
  top: 0;
  left: 36%;
  z-index: 2;
  font-family: "Roboto";
  font-weight: medium;
  font-size: 12vh;
}

.roundWrap>* {
  float: left;
}

.timeWrap {
	position: absolute;
  left: 0%;
  top: 25%;
  width: 100%;
  height: 45%;
  text-align: left;
  font-family: "Futura";
  font-weight: medium;
}
.timeWrap>div {
  width: 100%;
  position: absolute;
  left: 0;
}

.weaponWrap {
      position: absolute;
      top: 69%;
      width: 70%;
      height: 25%;
      left: 16%;
  font-family: "Roboto";
  font-weight: bold;
  letter-spacing: 0.3em;
  z-index: 9999;
}
.weaponBorder {
  width: 93%;
  height: 87%;
  left: 1%;
  top: 6%;
  position: absolute;
  border: 0.4vh solid white;

}

.bgWrapL,
.bgWrapR {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.bgWrapL {
  position: absolute;
	left: 0;
}

.bgWrapR {
  position: absolute;
	right: 0;
}
.bgWrapL.on{
  animation-name: bgL;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 1.4s;
  animation-fill-mode:forwards;
}
@keyframes bgL {
  0% {
		background-color:black;
  }
  100% {
    background-color: rgba(255,18,47,1);
  }
}
@keyframes bgR {
  0% {
		background-color:black;
  }
  100% {
    background-color: #00ff00;
  }
}

.ripple-container {
	position: absolute;
	right: 0;
	transform: translate(10vh, -5vh);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bgWrapR.on .ripple-container,
.bgWrapR.invalid .ripple-container {
	position: absolute;
	right: auto;
  transform: translate(-10vh, -5vh);
  z-index: 1;
}
.hit-ripple {
	width: 120vh;
	height: 120vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.on .ripple {
	opacity: 0;
	width:  85%;
  height: 85%;
  border-radius: 0%;
  animation: wave 1.4s;
  position: absolute;
  /*transform: translateX(5%,0);*/
	border: solid thin #ff122f;
}
/*.invalid .ripple {
	opacity: 0;
	width:  85%;
  height: 85%;
  border-radius: 50%;
  animation: waveI 1.4s;
  position: absolute;
	border: solid thin #fff;
}*/
@keyframes wave {
  0% {
		opacity: 1;
    width:  1%;
    height: 1%;
    /*box-shadow: 0 0 300px inset #ff122f;*/
		/*background: #ff122f;*/
		border: 2vh solid rgba(255,18,47,1);
  }
  100% {
    width:  70%;
    height: 100%;
    opacity:   0;
		border: 15vh solid rgba(255,18,47,1);
  }
}

.bgWrapR.on .ripple {
	opacity: 0;
	width:  85%;
  height: 85%;
  border-radius: 0%;
	animation: waveR 1.4s;
  position: absolute;
  
	border: solid thin #00ff00;
}
@keyframes waveR {
  from {
		opacity: 1;
    width:  1%;
    height: 1%;
    /*box-shadow: 0 0 300px inset #00ff00;*/
		border: 2vh solid #00ff00;
  }
  to {
    width:  70%;
    height: 100%;
    opacity:   0;
		border: 15vh solid #00ff00;
  }
}

@keyframes waveI {
  from {
		opacity: 1;
    width:  20%;
    height: 20%;
    box-shadow: 0 0 300px inset #fff;
		background: #fff;
  }
  to {
    width:  100%;
    height: 100%;
    opacity:   0;
  }
}

.bgWrapL .ripple.layer-0,
.bgWrapR .ripple.layer-0 {
  animation-delay: 0s;
}
.bgWrapL .ripple.layer-1,
.bgWrapR .ripple.layer-1 {
  animation-delay: 0.2s;
}
.bgWrapL .ripple.layer-2,
.bgWrapR .ripple.layer-2 {
  animation-delay: 0.4s;
}
.bgWrapL .ripple.layer-3,
.bgWrapR .ripple.layer-3 {
  animation-delay: 0.6s;
}



/*
.bgWrapL:before {
	transform:skew(-25deg,0);
	right:-5.9%;
	border-left: none !important;
}
.bgWrapR:before {
	transform:skew(25deg,0);
	left:-5.9%;
	border-right: none !important;
}
*/

.bgWrapL.invalid:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  background: rgba(255,255,255,0.5);
}
.bgWrapR.invalid:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  background: rgba(255,255,255,0.5);
}

.bgWrapL .circle {
  right: 99%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  border-right: none;
}

.bgWrapR .circle {
  left: 99%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-left: none;
}

.bgWrapL .colorCircle,
.bgWrapR .colorCircle {
  height: 37.5%;
  display: block;
  position: absolute;
  top: 31%;
  border-radius: 100%;
}

.guageL, .guageR {
	opacity: 0;
}
.on .guageL, .on .guageR,
.invalid .guageL, .invalid .guageR {
	opacity: 1;
}
.bgWrapL.on .guageL {
	position: absolute;
	right: 0;
	bottom: -2vh;
	width: 100%;
	height: 2vh;
	animation: extend 0.2s ease-in-out;
	background: rgba(255,18,47,0.8);
}
.bgWrapR.on .guageR:after {
  content: '';
  display: block;
  position: absolute;
	left: 0;
	bottom: -2vh;
	width: 100%;
	height: 2vh;
	animation: blur 1.2s ease-in-out;
	background: rgba(255,18,47,0.8);
}
.bgWrapL.on .guageL:after {
  content: '';
  display: block;
  position: absolute;
	right: 0;
	bottom: -2vh;
	width: 100%;
	height: 2vh;
	animation: blur 1.2s ease-in-out;
	/*background: rgba(255,18,47,0.8);*/
}
.bgWrapR.on .guageR {
	position: absolute;
	left: 0;
	bottom: -2vh;
	width: 100%;
	height: 2vh;
	animation: extend 0.2s ease-in-out;
	background: rgba(0,255,0,0.8);
}
.bgWrapR.on .guageR::after {
  content: '';
  display: block;
  position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2vh;
	animation: blur 1s ease-in-out;
	background: rgba(0,255,0,0.8);
}
.bgWrapL.on .guageL::after {
  content: '';
  display: block;
  position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 2vh;
	animation: blur 1s ease-in-out;
  /*background: rgba(255,18,47,0.8);*/
}
@keyframes blur {
    0% {
      opacity: 1;
      filter: blur(10px);
    }
    100% {
      opacity: 0.8;
      filter: blur(0);
    }
}

.bgWrapL.invalid .guageL {
  content: '';
	position: absolute;
	right: 0;
	bottom: -2vh;
	width: 100%;
	height: 2vh;
	/*animation: extend 0.2s ease-in-out;*/
	background: rgba(255,255,255,0.8);
}
.bgWrapR.invalid .guageR {
  content: '';
	position: absolute;
	left: 0;
	bottom: -2vh;
	width: 100%;
	height: 2vh;
	/*animation: extend 0.2s ease-in-out;*/
	background: rgba(255,255,255,0.8);
}
.bgWrapL.invalid .guageL::after {
  content: '';
  display: block;
  position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 2vh;
	/*animation: blur 0.8s ease-in-out;*/
	background: rgba(255,255,255,0.8);
}
.bgWrapR.invalid .guageR::after {
  content: '';
  display: block;
  position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2vh;
	/*animation: blur 0.8s ease-in-out;*/
	background: rgba(255,255,255,0.8);
}



.portraitL,
.portraitR {
  position: fixed;
  bottom: 9%;
  width: 5.2%;
  /* padding: 0.2%; */
  /* background: white; */
  border-radius: 11px;
  box-sizing: border-box;
  border: 0.19vw solid white;
  border-radius: 11px;
  overflow: hidden;
}

.portraitL {
  left: 13.2%;
}

.portraitR {
  right: 13.2%;
}

.portraitL img,
.portraitR img {
  width: 100%;
  display: block;
}

.scoreBoxL,
.scoreBoxR {
	position: absolute;
  width: 37%;
  height: 48%;
  left: 3%;
  top: 20%;
  color: white;
  font-family: Futura;
  z-index: 2;
}
.scoreBoxR.on {
	color: #fff;
}
.scoreBoxL.on {
	color: #fff;
}
.scoreBoxR.invalid, .scoreBoxL.invalid {
  color: #fff;
}

.scoreBoxR {
  left: auto;
  right: 3%;
}
/*
.scoreBoxL:before {
	content: '';
	position: absolute;
	width: 2px;
	height: 8.5vh;
	left: 4vh;
	transform: translate(-4vh, 0);
	background: rgba(255,255,255,0.15);
}
.scoreBoxL:after {
	content: '';
	position: absolute;
	right: 4vh;
	width: 2px;
	height: 8.5vh;
	transform: translate(4vh, -8.5vh);
	background: rgba(0,0,0,0.15);
	box-sizing: border-box;
}
.scoreBoxR:before {
	content: '';
	position: absolute;
	width: 2px;
	height: 8.5vh;
	right: 4vh;
	transform: translate(4vh, 0);
	background: rgba(255,255,255,0.15);
}
.scoreBoxR:after {
	content: '';
	position: absolute;
	left: 4vh;
	width: 2px;
	height: 8.5vh;
	transform: translate(-4vh, -8.5vh);
	background: rgba(0,0,0,0.15);
	box-sizing: border-box;
}*/
.scoreR, .scoreL {
}

.nameLWrap,
.nameRWrap {
  position: absolute;
  top: 79%;
  width: 40%;
  height: 16%;
  word-break: break-all;
}

.nameLWrap {
  left: 9%;
}

.nameRWrap {
  right: 9%;
}

.nameL{
  
  text-align: left !important;
}
.nameR {
  text-align: right !important;
}

.fixfont {
  opacity: 0;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: auto;
}

.fixfont>div {
  display: table;
  width: 100%;
  height: 100%;
}

.fixfont>div>div {
  display: table-cell;
  vertical-align: middle;
	text-align: center;
}

/* ----------------------------------------
	sign
---------------------------------------- */
.sign {
  top: 6%;
  left: 0;
  height: 9%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.sign .card {
  position: absolute;
  width: 4%;
  height: 100%;
  top: 0;
}

.sign>div {
  opacity: 0;
  /*opacity: 1; /*debug*/
}

.yellowcardL,
.yellowcardR {
	background: #faed00;
}

.yellowcardL {
	left: 7%;
}

.yellowcardR {
	right: 7%;
}

.redcardL,
.redcardR {
  background: #e72633;
}


.redcardL {
  left: 12%;
}

.redcardR {
  right: 12%;
}

.nationLWrap,
.nationRWrap {
  position: absolute;
  left: 9%;
  top: 67%;
  width: 40%;
  height: 13%;
  word-break: break-all;
}

.nationRWrap {
  left: auto;
  right: 9%;
}

.nationL{
  text-align: left !important;
}
.nationR {
  text-align: right !important;
}

.priorityL,
.priorityR {
  height: 100%;
  background: #00a199;
}

.priorityL {
  left: 17%;
}

.priorityR {
	right: 17%;
}

.priorityR>div {}

.priority span {
  display: block;
  width: 100%;
  height: 100%;
}

.sign>div.on {
  opacity: 1;
}

.flag {
  position: absolute;
	left: 3%;
	width: 8%;
  height: 96%;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1 !important;
  background-position: 50% 50%;
}

.flagR {
  left: auto;
  right: 3%;
}


.logo {
	position: absolute;
	top: 66%;
	left: 5% !important;
	width: 90% !important;
	padding: 0.7vh 0;
	background: #fff;
	height: 4vh;
}
.logo img {
	margin: auto;
	display: block;
	height: 100%;
	width: auto;
}

.hide {opacity:0;}

.signLWrap ,
.signRWrap {
  position: absolute;
  left: 6%;
  top: 69.5%;
  width: 2%;
  height: 23.5%;
  background: #e72633;
}
.signRWrap {
  left: auto;
  right: 6%;
  background: #00ff00;
}