@charset "utf-8";

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-bold';
    src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoCondensed-italic';
    src: url('../fonts/RobotoCondensed-italic.ttf') format('truetype');
}

body {
  color: white;
  font-family: 'RobotoCondensed-bold','HiraginoKakugoStd';
  text-align: center;
  background: #384C82;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
	overflow: hidden;
}

.statusWrap {
  position: absolute;
  width: 10.4%;
  left: 44.8%;
  height: 13%;
  bottom: 8.8%;
}

.roundWrap {
  position: absolute;
  width: 70%;
  height: 30%;
  top: 0;
  left: 15%;
  z-index: 2;
  border-radius: 3px;
  background: rgb(139, 139, 139);
	background: #eff0f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #eff0f3 0%, #919ca8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #eff0f3 0%,#919ca8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #eff0f3 0%,#919ca8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff0f3', endColorstr='#919ca8',GradientType=0 ); /* IE6-9 */
}

.roundWrap>div {
  color: #333;
	margin: auto;
  width: 25%;
}

.timeWrap {
	position: absolute;
	left: 50%;
	top: 38%;
	transform: translate(-50%, 0);
  width: 87%;
  height: 8.5vh;
  text-align: left;
  background: rgba(0,0,0,0.8);
}
.timeWrap>div {
  width: 100%;
  position: absolute;
  left: 0;
}
.time {
  padding: 0 1vh;
}

.bgWrapL,
.bgWrapR {
  width: 38%;
  height: 8.5vh;
  bottom: 8.3vh;
  opacity: 0.92;
  position: absolute;
  z-index: 1;
	background: #616a74; /* Old browsers */
	background: -moz-linear-gradient(top,  #616a74 0%, #3c434c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #616a74 0%,#3c434c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #616a74 0%,#3c434c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616a74', endColorstr='#3c434c',GradientType=0 ); /* IE6-9 */
}

.bgWrapL {
	left: 50%;
	transform: translate(-112%, 0);
}

.bgWrapR {
	right: 50%;
	transform: translate(112%, 0);
}

.ripple-container {
	position: absolute;
	right: 0;
	transform: translate(13vh, 0);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bgWrapR.on .ripple-container,
.bgWrapR.invalid .ripple-container {
	position: absolute;
	right: auto;
	transform: translate(-13vh, 0);
}
.hit-ripple {
	width: 35vh;
	height: 35vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	bottom: 0;
	right: 0;
}
.on .ripple {
	opacity: 0;
	width:  85%;
  height: 85%;
  border-radius: 50%;
  animation: wave 1.4s;
  position: absolute;
	border: solid thin #ff122f;
}
/*.invalid .ripple {
	opacity: 0;
	width:  85%;
  height: 85%;
  border-radius: 50%;
  animation: waveI 1.4s;
  position: absolute;
	border: solid thin #fff;
}*/
@keyframes wave {
  from {
		opacity: 1;
    width:  20%;
    height: 20%;
    box-shadow: 0 0 300px inset #ff122f;
		background: #ff122f;
  }
  to {
    width:  100%;
    height: 100%;
    opacity:   0;
  }
}

.bgWrapR.on .ripple {
	opacity: 0;
	width:  85%;
  height: 85%;
  border-radius: 50%;
	animation: waveR 1.4s;
	position: absolute;
	border: solid thin #00ff00;
}
@keyframes waveR {
  from {
		opacity: 1;
    width:  20%;
    height: 20%;
    box-shadow: 0 0 300px inset #00ff00;
		background: #00ff00;
  }
  to {
    width:  100%;
    height: 100%;
    opacity:   0;
  }
}

@keyframes waveI {
  from {
		opacity: 1;
    width:  20%;
    height: 20%;
    box-shadow: 0 0 300px inset #fff;
		background: #fff;
  }
  to {
    width:  100%;
    height: 100%;
    opacity:   0;
  }
}

.bgWrapL .ripple.layer-0,
.bgWrapR .ripple.layer-0 {
  animation-delay: 0s;
}
.bgWrapL .ripple.layer-1,
.bgWrapR .ripple.layer-1 {
  animation-delay: 0.2s;
}
.bgWrapL .ripple.layer-2,
.bgWrapR .ripple.layer-2 {
  animation-delay: 0.4s;
}
.bgWrapL .ripple.layer-3,
.bgWrapR .ripple.layer-3 {
  animation-delay: 0.6s;
}



/*
.bgWrapL:before {
	transform:skew(-25deg,0);
	right:-5.9%;
	border-left: none !important;
}
.bgWrapR:before {
	transform:skew(25deg,0);
	left:-5.9%;
	border-right: none !important;
}
*/
.bgWrapL:after,
.bgWrapR:after {
  content: "";
  background: red;
  width: 1%;
  height: 100%;
  position: absolute;
  top: 0;
}

.bgWrapL:after {
  right: 0;
}

.bgWrapR:after {
  background: #00ff0c;
  left: 0;
}

.bgWrapL.bgWhite,
.bgWrapL.bgRed,
.bgWrapL.bgGreen {
  transform: scaleY(1) perspective(59vh) rotateX(-23deg);
  border: 1vh solid transparent;
  width: 58.6vh;
  height: 8vh;
  bottom: 7.8vh;
  left: 11.2vh;
}

.bgWrapR.bgWhite,
.bgWrapR.bgRed,
.bgWrapR.bgGreen {
  transform: scaleY(1) perspective(59vh) rotateX(-23deg);
  border: 1vh solid transparent;
  width: 58.5vh;
  height: 8vh;
  bottom: 7.8vh;
  right: 11.3vh;
}

.bgWhite,
.btWhite:before {
  border-color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1);
}

.bgRed,
.bgRed:before {
  border: 1vh solid transparent;
  border-color: rgba(255, 0, 0, 1) !important;
  box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 1);
}

.bgGreen,
.bgGreen:before {
  border: 1vh solid transparent;
  border-color: rgba(0, 255, 0, 1) !important;
  box-shadow: 0px 0px 20px 0px rgba(0, 255, 0, 1);
}

.bgWrapL .circle {
  right: 99%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  border-right: none;
}

.bgWrapR .circle {
  left: 99%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-left: none;
}

.bgWrapL .colorCircle,
.bgWrapR .colorCircle {
  height: 37.5%;
  display: block;
  position: absolute;
  top: 31%;
  border-radius: 100%;
}

.bgWrapL .colorCircle {
  left: -5%;
  background: #FF0000;
}

.bgWrapR .colorCircle {
  right: -5%;
  background: #00D600;
}

.guageL, .guageR {
	opacity: 0;
}
.on .guageL, .on .guageR,
.invalid .guageL, .invalid .guageR {
	opacity: 1;
}
.bgWrapL.on .guageL {
	position: absolute;
	right: 0;
	bottom: -2vh;
	width: 100%;
	height: 2vh;
	animation: extend 0.2s ease-in-out;
	background: rgba(255,18,47,0.8);
}
.bgWrapR.on .guageR:after {
  content: '';
  display: block;
  position: absolute;
	left: 0;
	bottom: -2vh;
	width: 100%;
	height: 2vh;
	animation: blur 1.2s ease-in-out;
	background: rgba(255,18,47,0.8);
}
.bgWrapL.on .guageL:after {
  content: '';
  display: block;
  position: absolute;
	right: 0;
	bottom: -2vh;
	width: 100%;
	height: 2vh;
	animation: blur 1.2s ease-in-out;
	background: rgba(255,18,47,0.8);
}
.bgWrapR.on .guageR {
	position: absolute;
	left: 0;
	bottom: -2vh;
	width: 100%;
	height: 2vh;
	animation: extend 0.2s ease-in-out;
	background: rgba(0,255,0,0.8);
}
.bgWrapR.on .guageR::after {
  content: '';
  display: block;
  position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2vh;
	animation: blur 1s ease-in-out;
	background: rgba(0,255,0,0.8);
}
.bgWrapL.on .guageL::after {
  content: '';
  display: block;
  position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 2vh;
	animation: blur 1s ease-in-out;
  background: rgba(255,18,47,0.8);
}
@keyframes blur {
    0% {
      opacity: 1;
      filter: blur(10px);
    }
    100% {
      opacity: 0.8;
      filter: blur(0);
    }
}

.bgWrapL.invalid .guageL {
  content: '';
	position: absolute;
	right: 0;
	bottom: -2vh;
	width: 100%;
	height: 2vh;
	/*animation: extend 0.2s ease-in-out;*/
	background: rgba(255,255,255,0.8);
}
.bgWrapR.invalid .guageR {
  content: '';
	position: absolute;
	left: 0;
	bottom: -2vh;
	width: 100%;
	height: 2vh;
	/*animation: extend 0.2s ease-in-out;*/
	background: rgba(255,255,255,0.8);
}
.bgWrapL.invalid .guageL::after {
  content: '';
  display: block;
  position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 2vh;
	/*animation: blur 0.8s ease-in-out;*/
	background: rgba(255,255,255,0.8);
}
.bgWrapR.invalid .guageR::after {
  content: '';
  display: block;
  position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2vh;
	/*animation: blur 0.8s ease-in-out;*/
	background: rgba(255,255,255,0.8);
}



.portraitL,
.portraitR {
  position: fixed;
  bottom: 9%;
  width: 5.2%;
  /* padding: 0.2%; */
  /* background: white; */
  border-radius: 11px;
  box-sizing: border-box;
  border: 0.19vw solid white;
  border-radius: 11px;
  overflow: hidden;
}

.portraitL {
  left: 13.2%;
}

.portraitR {
  right: 13.2%;
}

.portraitL img,
.portraitR img {
  width: 100%;
  display: block;
}

.scoreBoxL,
.scoreBoxR {
	position: absolute;
	width: 4.5%;
	height: 8.5vh;
	left: 50%;
	transform: translate(-210%, 0);
	bottom: 8.3%;
	color: #333;
	font-weight: bolder;
	background: #eff0f3;
	background: -moz-linear-gradient(top, #eff0f3 0%, #919ca8 100%);
	background: -webkit-linear-gradient(top, #eff0f3 0%,#919ca8 100%);
	background: linear-gradient(to bottom, #eff0f3 0%,#919ca8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff0f3', endColorstr='#919ca8',GradientType=0 );
	transition: .3s;
  z-index: 2;
}
.scoreBoxR.on {
	color: #00ff0c;
}
.scoreBoxL.on {
	color: #ff122f;
}
.scoreBoxR.invalid, .scoreBoxL.invalid {
  color: #fff;
}

.scoreBoxR {
  left: auto;
  right: 50%;
	transform: translate(210%, 0);
}

.scoreBoxL:before {
	content: '';
	position: absolute;
	width: 2px;
	height: 8.5vh;
	left: 4vh;
	transform: translate(-4vh, 0);
	background: rgba(255,255,255,0.15);
}
.scoreBoxL:after {
	content: '';
	position: absolute;
	right: 4vh;
	width: 2px;
	height: 8.5vh;
	transform: translate(4vh, -8.5vh);
	background: rgba(0,0,0,0.15);
	box-sizing: border-box;
}
.scoreBoxR:before {
	content: '';
	position: absolute;
	width: 2px;
	height: 8.5vh;
	right: 4vh;
	transform: translate(4vh, 0);
	background: rgba(255,255,255,0.15);
}
.scoreBoxR:after {
	content: '';
	position: absolute;
	left: 4vh;
	width: 2px;
	height: 8.5vh;
	transform: translate(-4vh, -8.5vh);
	background: rgba(0,0,0,0.15);
	box-sizing: border-box;
}
.scoreR, .scoreL {
	padding: 0 1.5vh;
}

.nameLWrap,
.nameRWrap {
  position: absolute;
  width: 28%;
  height: 7%;
  bottom: 9.1%;
  word-break: break-all;
}

.nameLWrap {
  left: 11%;
}

.nameRWrap {
  right: 11%;
}

.nameL,
.nameR {
	font-family: 'RobotoCondensed-italic','HiraginoKakugoStd';
  padding: 1.5vh 0 1.5vh 7vh;
}
.nameR {
  padding: 1.5vh 7vh 1.5vh 0;
}

.fixfont {
  opacity: 0;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: auto;
}

.fixfont>div {
  display: table;
  width: 100%;
  height: 100%;
}

.fixfont>div>div {
  display: table-cell;
  vertical-align: middle;
	text-align: center;
}

/* ----------------------------------------
	sign
---------------------------------------- */
.sign {
  top: 78.2%;
  left: 0;
  height: 3.9%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.sign .card {
  position: absolute;
  width: 1.71875%;
  height: 100%;
  top: 0;
}

.sign>div {
  opacity: 0;
  /*opacity: 1; /*debug*/
}

.yellowcardL,
.yellowcardR {
	background: rgba(255,255,0,0.8);
	border-radius: 3px;
}

.yellowcardL {
	left: 50%;
	transform: translate(-530%, 0);
}

.yellowcardR {
	right: 50%;
	transform: translate(530%, 0);
}

.redcardL,
.redcardR {
  background: rgba(255,18,47,0.8);
	border-radius: 3px;
}

.yellowcardL:after,
.yellowcardR:after,
.redcardL:after,
.redcardR:after,
.priorityL:after,
.priorityR:after {
	position: absolute;
  bottom: 7%;
  left: 9%;
  content: '';
  display: block;
  width: 82%;
  height: 55%;
  border-radius: 3px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */
}

.redcardL {
	left: 50%;
  transform: translate(-404%, 0);
}

.redcardR {
	right: 50%;
  transform: translate(404%, 0);
}

.nationL,
.nationR {
  position: absolute;
  left: 3%;
  bottom: 0.2vh;
  width: 8%;
  text-align: center;
  letter-spacing: 0.05vh;
  font-size: 1.7vh;
  opacity: 1 !important;
}

.nationR {
  left: auto;
  right: 3%;
}

.nationR>div,
.nationL>div {
  position: absolute;
  width: 44%;
}

.nationR>div {
  right: 14%;
}

.nationL>div {
  left: 14%;
}

.priorityL,
.priorityR {
  height: 100%;
  background: rgba(0,152,219,0.8);
	border-radius: 3px;
}

.priorityL {
	left: 50%;
	transform: translate(-730%, 0);}

.priorityL>div {}

.priorityR {
	right: 50%;
	transform: translate(730%, 0);
}

.priorityR>div {}

.priority span {
  display: block;
  width: 100%;
  height: 100%;
}

.sign>div.on {
  opacity: 1;
}

.flag {
  position: absolute;
	left: 3%;
	width: 8%;
  height: 96%;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1 !important;
  background-position: 50% 50%;
}

.flagR {
  left: auto;
  right: 3%;
}


.logo {
	position: absolute;
	top: 66%;
	left: 5% !important;
	width: 90% !important;
	padding: 0.7vh 0;
	background: #fff;
	height: 4vh;
}
.logo img {
	margin: auto;
	display: block;
	height: 100%;
	width: auto;
}

.hide {opacity:0;}
