@charset "utf-8";

body {
	color: #333;
	font-size: 14px;
	line-height: 1;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

form > * {
	display:block;
	margin: 20px;
}

.create {
	font-weight:bold;
	margin: 50px;
	font-size:large;
	display: block;
}