@charset "utf-8";

html,
body {
	height: 100%;
}

body {
	background: #000;
	color: #fff;
	font-size: 40px;
	line-height: 1;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

img {
	display: block;
	vertical-align: bottom;
}

#container {
	overflow: hidden;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	text-align: center;
}
#container>div {
	position: absolute;
	z-index: 1;
	width: 100%;
}

.fixfont {
	opacity: 0;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin: auto;
}
.fixfont>div {
	display: table;
	width: 100%;
	height: 100%;
}
.fixfont>div>div {
	display: table-cell;
	vertical-align: middle;
}

.placehold {
	display: inline-block;
	height: 100%;
}


/* ----------------------------------------
	name
---------------------------------------- */

#name {
	top: 0;
	height: 20%;
	word-break: break-all;
	line-height: 1.3;
}
#name>div {
	float: left;
	width: 50%;
	height: 100%;
	background: #f30;
}
#name>div:nth-child(2) {
	background: #3c0;
}
#name>div>div {
	top: 5%;
	width: 90%;
	height: 90%;
}


/* ----------------------------------------
	nation
---------------------------------------- */

#container>#nation {
	top: 20%;
	width: 96%;
	height: 10%;
	padding: 1% 2%;
}
#nation>div {
	float: left;
	width: 20%;
	height: 100%;
	text-align: left;
}
#nation>div:nth-child(2) {
	float: right;
	text-align: right;
}
#nation>div>div {
	height: 100%;
}


/* ----------------------------------------
	sign
---------------------------------------- */

#sign {
	top: 34%;
	height: 56%;
	color: #fe1;
}
#sign>div,
#sign>div>div {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}
#sign>div:last-child {
	left: auto;
	right: 0;
}

#sign .priority,
#sign .invalid {
	display: inline-block;
	opacity: 0;
	position: relative;
	height: 16%;
	margin: 0 14px 0 16px;
	vertical-align: top;
}

#sign .priority .fixfont {
	position: absolute;
}

#sign .invalid {
	background: #fff;
}
#sign .on {
	opacity: 1;
}


/* ----------------------------------------
	logo
---------------------------------------- */

#container>#logo {
	top: 44%;
	height: 25%;
	text-align: center;
}
#logo:after,
#statusWrap:after,
#timeWrap:after,
.score:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: solid 6px #fff;
}
#logo div {
	display: inline-block;
	position: relative;
	top: 20%;
	box-sizing: border-box;
	height: 60%;
}
#logo img {
	height: 100%;
}


/* ----------------------------------------
	status
---------------------------------------- */

#statusWrap {
	display: none;
	top: 50%;
	height: 25%;
}
#statusWrap>div {
	top: 20%;
	height: 60%;
}


/* ----------------------------------------
	time
---------------------------------------- */

#timeWrap {
	top: 69%;
	height: 31%;
}
#timeWrap:after {
	border-width: 0;
	border-bottom-width: 6px;
}
#timeWrap>div {
	top: 20%;
	height: 60%;
}


/* ----------------------------------------
	score
---------------------------------------- */

#container>.score {
	left: 0;
	top: 44%;
	width: auto;
	height: 56%;
	background: #000;
}
#container>.score+.score {
	left: auto;
	right: 0;
}
.score>div {
	position: absolute;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 80%;
}

#container>.score.invalid {
	background: #fff;
	color: #000;
}

#container #scoreBoxL.on { background: #f30; }
#container #scoreBoxR.on { background: #3c0; }