@charset "utf-8";

#title {
	padding: 72px 0 40px;
}

article {
	width: 735px;
}
table {
	border-bottom: #2466b6 solid 3px;
	border-top: #2466b6 solid 3px;
	width: 420px;
	margin: auto;
}
table th,
table td {
	vertical-align: middle;
	height: 43px;
	border-bottom: solid 1px #bcbcbc;
}
table th {
	background: #efefef;
	width: 150px;
	text-align: center;
}
table td {
	width: 245px;
	padding-left: 25px;
	text-align: left;
}
#title img {
	display: block;
	margin: auto;
}
/* ----------------------------------------
	SP
---------------------------------------- */

/*@media screen and (max-width: 640px) and (-webkit-min-device-pixel-ratio: 1.5){*/
@media screen and (max-width: 640px){

table {
	width: 90%;
	font-size: 12px;
}
article {
	width: 90%;
}
table th {
	width: 40%;
}
table td {
	width: 55%;
	padding-left: 5%;
}
.submit-area input {
	width: 60%;
	margin: auto;
}
}