@charset "utf-8";

body {
	background: #000;
	color: #fff;
	font-size: 60px;
	line-height: 84px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-serif;
	zoom: 80%;
}

.fixfont {
	opacity: 0;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin: auto;
}
.fixfont>div {
	display: table;
	width: 100%;
	height: 100%;
}
.fixfont>div>div {
	display: table-cell;
	vertical-align: middle;
}

#sideLed {    
	width: 1680px;
    	height: 336px;
	-webkit-transform: rotateZ(-90deg) translateX(-1680px);
	-webkit-transform-origin: 0 0;
	transform: rotateZ(-90deg) translateX(-100%);
	transform-origin: 0 0;
}

#sideLed>li {
	position: relative;
	box-sizing: border-box;
	height: 84px;
	text-align: center;
	background: url(../img/side_bg_w.png) 100% 0 no-repeat;
}

.j #sideLed>li {
	background-image: url(../img/side_bg_j.png);
}

#sideLed>li>div {
	position: absolute;
	top: 0;
}

#sideLed .name {
	right: 458px;
	width: 710px;
	font-size: 70px;
}

#sideLed .nation {
	width: 251px;
	right: 80px;
	text-align: right;
}

.j .nation {
	display: none;
}

#sideLed .nation i {
	position: absolute;
	left: 0;
	top: 10px;
	width: 96px;
	height: 64px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

#sideLed .score {
	left: 170px;
	top: 10px;
	-webkit-box-shadow: inset 0 0 20px 0 rgba(0,0,0,.5);
	box-shadow: inset 0 0 20px 0 rgba(0,0,0,.5);
	width: 300px;
	height: 64px;
	border-radius: 20px;
	line-height: 1;
}

#sideLed [data-pos="rev"] {
	background-position: 0 0;
}
#sideLed [data-pos="rev"] .nation {
	left: 80px;
	right: auto;
	text-align: left;
}
#sideLed [data-pos="rev"] .nation i {
	left: auto;
	right: 0;
}

#sideLed [data-pos="rev"] .score {
	left: auto;
	right: 170px;
}

#sideLed .invalid .score,
#sideLed .on .score {
	color: #000;
}

#sideLed .invalid .score { background: #fff; }
#sideLed .on .score { background: #ff5a00; }
#sideLed .on .scoreR { background: #00d200; }