@charset "utf-8";


body {
	color: white;
	font-family: 'Ameba Sans','UD Bold';
	text-align: center;
	background: rgba(180,100,210,1);
}

#container {
    position: absolute;
	width: 100%;
	height: 100%;
}

#statusWrap {
	position: absolute;
    width: 10.4vw;
    height: 13.33vh;
    left: 44.8vw;
    bottom: 6.85vh;
}
#statusWrap > img {
    width: 100%;
    height: 100%;
	display: block;
}
#roundWrap {
    position: absolute;
    width: 33%;
    height: 36%;
    top: 7%;
    left: 42%;
}
#roundWrap p {
	margin-right: -50%;
}
.roundDeco {
    opacity: 0;
}
.roundDeco.on {
    opacity: 1
}
#timeWrap {
    position: absolute;
    left: 26%;
    top: 39%;
    width: 71%;
    height: 54%;
    text-align: left;
}
#bgWrapL,
#bgWrapR{
	background: black;
    width: 27.13vw;
    height: 7.78vh;
    bottom: 6.85vh;
    position: absolute;
    border-radius: 1vh;
}
#bgWrapL{
    right: 59.896%;
	border-radius: 5vh 0 0 5vh;
}
#bgWrapR{
    left: 59.896%;
    border-radius: 0 5vh 5vh 0;
}
#bgWrapL.bgWhite, #bgWrapL.bgRed, #bgWrapL.bgGreen {
    border: 1vh solid transparent;
    width: 31%;
    height: 8vh;
    bottom: 7.6vh;
    left: 15vh;
}
#bgWrapR.bgWhite, #bgWrapR.bgRed, #bgWrapR.bgGreen {
    border: 1vh solid transparent;
    width: 31%;
    height: 8vh;
    bottom: 7.6vh;
    right: 15vh;
}
#bgWrapL.short.bgWhite, #bgWrapL.short.bgRed, #bgWrapL.short.bgGreen {
    left: 24vh;
}
#bgWrapR.short.bgWhite, #bgWrapR.short.bgRed, #bgWrapR.short.bgGreen {
    right: 24vh;
}

#bgWrapL .circle,
#bgWrapR .circle {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    background: black;
}
.bgWhite{ border-color: rgba(255,255,255,1) !important;}
.bgRed{ border-color: rgba(255, 0, 0, 1) !important;}
.bgGreen{ border-color: rgba(0, 255, 0, 1) !important;}
#bgWrapL .circle{
    right: 99%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
	border-right: none;
}
#bgWrapR .circle {
    left: 99%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
	border-left: none;
}

#bgWrapL .colorCircle,
#bgWrapR .colorCircle {
    height: 37.5%;
    display: block;
    position: absolute;
    top: 31%;
    border-radius: 100%;
}
#bgWrapL .colorCircle{
    left: 5vh;
	background: #FF0000;
}
#bgWrapR .colorCircle {
	right: 5vh;
	background: #00D600;
}

#bgWrapL.short {
    left: 25vh;
}
#bgWrapR.short {
    right: 25vh;
}
#bgWrapL.short, #bgWrapR.short {
    width: 26%;
}

#portraitL,
#portraitR {
    position: fixed;
    bottom: 7.59%;
    width: 5.625%;
    height: 12.77%;
    /* padding: 0.2%; */
    /* background: white; */
    border-radius: 11px;
    box-sizing: border-box;
    border: 0.19vw solid white;
    border-radius: 11px;
    overflow: hidden;
    z-index: 200;
}
#portraitL {
    left: 18.125%
}
#portraitR {
    right: 18.125%
}
#portraitL img,
#portraitR img{
	width:100%;
    display: block;
}

#scoreBoxL,
#scoreBoxR {
	position: absolute;
	width: 4.16vw;
    height: 7.78vh;
	left: 40.5vw;
    bottom: 6.85vh;
	background: white;
	color: black;
}
#scoreBoxR {
	left: auto;
	right: 40.4%;
}
#scoreBoxR:after,
#scoreBoxL:after {
    content: "";
    position: fixed;
    bottom: 5.46%;
    width: 25.625%;
    height: 1.296%;
	opacity:0;
	/*opacity:1;/*debug*/
} 
#scoreBoxR:before,
#scoreBoxL:before {
    content: "";
    position: fixed;
    bottom: 14.72%;
    width: 25.625%;
    height: 1.296%;
	opacity:0;
	/*opacity:1;/*debug*/
} 
#scoreBoxL:before,
#scoreBoxL:after {
    background: #FF0000;
    right: 59.896%;
    z-index: 100;
}
#scoreBoxR:before,
#scoreBoxR:after{
    background: #00D600;
    left: 59.896%;
    z-index: 100;
}
#scoreBoxR.on:after,
#scoreBoxL.on:after,
#scoreBoxR.on:before,
#scoreBoxL.on:before {
	opacity:1;
} 
#scoreBoxR.invalid:after,
#scoreBoxL.invalid:after,
#scoreBoxR.invalid:before,
#scoreBoxL.invalid:before {
	opacity:1;
	background: white;
} 
#nameLWrap,
#nameRWrap {
	position: absolute;
    width: 15.5%;
    height: 7%;
    bottom: 7.3%;
	font-family: 'UD Bold';
	word-break: break-all;
}
#nameLWrap {
    right: 60%;
}
#nameRWrap {
	left: 60%;
}
#nameL,
#nameR {
	width: 100%;
	height: 100%;
}
.nameImg {
    height: 79%;
    position: absolute;
    text-align: center;
    top: 8%;
    width: 100%;
}
#nameLWrap .nameImg {
    right: 2%;
}
#nameRWrap .nameImg {
    left: 2%;
}
.nameImg img {
    display: inline-block;
    height: 100%;
}

#logo {
    position: absolute;
    width: 4.8vw;
    height: 2.35%;
    left: 47.6vw;
    bottom: 4.1vh;
}
#logo img {
    width: 100%;
}

.fixfont {
	opacity: 0;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin: auto;
}
.fixfont>div {
	display: table;
	width: 100%;
	height: 100%;
}
.fixfont>div>div {
	display: table-cell;
	vertical-align: middle;
}

/* ----------------------------------------
	sign
---------------------------------------- */

#sign {
    bottom: 15.185vh;
    left: 0;
    height: 3.98%;
    width: 100%;
    position: absolute;
    z-index: 1000;
}
#sign .card {
	position: absolute;
	width: 1.71875%;
	height: 100%;
    border-radius: 15%;
	top:0;
}
#sign>div {
	opacity: 0;
	/*opacity: 1; /*debug*/
}
#yellowcardL,
#yellowcardR {
	background:#FFE100;
}
#yellowcardL {
	left: 42.70833333333333%;
}
#yellowcardR {
	right: 42.70833333333333%
}
#redcardL,
#redcardR {
	background:red;
}
#redcardL { 
	left: 40.72%;
}
#redcardR { 
	right: 40.72%;
}
.nationL,
.nationR{
    background: black;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    position: absolute;
    width: 9.5% !important;
    right: 60%;
    top: -5%;
    height: 90%;
	opacity: 0 !important;
}
.nationL {
	border-right: 1vh solid black;
}
.nationR {
	right:auto;
	left:60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
	border-left: 1vh solid black;
}
.flag {
	position: absolute;
	width:23%;
	height: 80%;
	top: 10%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	opacity: 1 !important;
}
#flagL {
	right:2%;
}
#flagR {
	left:2%;
}
#priorityL,
#priorityR{
}


.priority{
	/*opacity: 1!important; debug*/
}
.priority img {
    width: 100%;
    height: 100%;
}

#priorityL{
	left: 15.52%;
}
#priorityL.rev{
	right: 19.27083333333333%
}

#priorityR{
	right: 15.52%;
}

#priorityR.rev{
	left: 19.27083333333333%
}
.priority span {
    display: block;
    width: 100%;
    height: 100%;
}

#sign>div.on {
	opacity: 1;
}