@charset "utf-8";

html,
body {
	height: 100%;
}

body {
	/*background: url(../img/base.png);*/
	background: black;
	background-size: 100% 100%;
	color: #fff;
	font-size: 40px;
	line-height: 1;
	font-family: "HiraginoKakugoProW6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

img {
	display: block;
	vertical-align: bottom;
}

#container {
	overflow: hidden;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	text-align: center;
}
#container>div {
	position: absolute;
	z-index: 1;
	width: 100%;
}
#container:before,
#container:after {
	content: '';
	position: absolute;
	top: 24.07%;
	/*-webkit-box-shadow: inset 0 0 20px 0 rgba(0,0,0,.8);
	box-shadow: inset 0 0 20px 0 rgba(0,0,0,.8);*/
	width: 3.125%;
	height: 12.96%;
}
#container:before,
.rev #container:after {
	background: #f00;
}
#container:before {
	left: 1.5625%;
}
#container:after,
.rev #container:before {
	background: #0f0;
}
#container:after {
	left: auto;
	right: 1.5625%;
}

.fixfont {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin: auto;
}
.fixfont>div {
	display: table;
	width: 100%;
	height: 100%;
}
.fixfont>div>div {
	display: table-cell;
	vertical-align: middle;
}

.placehold {
	display: inline-block;
	height: 100%;
}


/* ----------------------------------------
	name
---------------------------------------- */

#name {
	top: 24.07%;
	height: 7%;
	word-break: break-all;
	font-family: "HiraginoKakugoProW6";
	font-weight: bold;
}
#name>div {
	position: absolute;
	left: 6.25%;
	width: 43.75%;
	height: 100%;
	text-align: left;
}
#name>div:nth-child(2) {
	left: auto;
	right: 6.25%;
	text-align: right;
}

#name .fixfont>div>div {
	vertical-align: top;
}

.j #name {
	height: 12.96%;
}

.j #name .fixfont>div>div {
	vertical-align: middle;
}


/* ----------------------------------------
	nation
---------------------------------------- */

#container>#nation {
	top: 33%;
	width: 87.5%;
	height: 4%;
	padding: 0 6.25%;
}
#nation>div {
	float: left;
	width: 20%;
	height: 100%;
	text-align: left;
	white-space: nowrap;
}
#nation>div:nth-child(2) {
	float: right;
	text-align: right;
}
#nation>div>div {
	display: inline-block;
	width: auto;
	height: 100%;
	vertical-align: top;
	white-space: normal;
}

#nation .flag {
	width: 22%;
	margin-right: 5%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}
#nation>div:nth-child(2) .flag {
	margin: 0 0 0 5%;
}

.j #nation {
	display: none;
}


/* ----------------------------------------
	sign
---------------------------------------- */

#sign {
	top: 0;
	height: 1px;
}
#sign>div {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	text-align: left;
}
#sign>div:last-child {
	left: auto;
	right: 0;
	text-align: right;
}
#sign>div>div {
	display: inline-block;
	opacity: 0;
	/*opacity: 1; /*debug*/
	height: 100%;
	background-size: 100% 100%;
}

#sign .card {
	width: 11.46%;
	background-image: url(../img/yellowcard_2018.png);
}

#redcardL { margin-left: 1.5625%; }
#redcardR { margin-right: 1.5625%; }

#sign #redcardL,
#sign #redcardR {
	background-image: url(../img/redcard_2018.png);
}

#sign .priority{
	width: 38.02%;
	background-image: url(../img/priority_l_2018.png);
}

#sign #priorityL.priority.rev{
	width: 38.02%;
	background-image: url(../img/priority_r_2018.png) !important;
}

#sign #priorityR{
	background-image: url(../img/priority_r_2018.png);
}

#sign #priorityR.priority.rev{
	background-image: url(../img/priority_l_2018.png) !important;
}

#sign>div>.on {
	opacity: 1;
}


/* ----------------------------------------
	logo
---------------------------------------- */

#container>#logo {
	top: 5.555%;
	height: 11.11%;
	text-align: center;
}
#logo img {
	display: inline-block;
	height: 100%;
}
#logo {
	opacity:0;
}
#logo.on {
	opacity:1;
}


/* ----------------------------------------
	status
---------------------------------------- */

#container>#statusWrap {
	left: 50%;
	bottom: 2.78%;
	width: 13.54%;
    height: 14.52%;
	margin-left: -6.77%;
	color: #969696;
}


/* ----------------------------------------
	time
---------------------------------------- */

#time{
	font-weight:bold;
	color: white;
}

#container>#timeWrap {
	left: 50%;
	top: 51.85%;
	width: 15.625%;
	height: 17.11%;
	margin-left: -7.8125%;
	color: #000;
}


/* ----------------------------------------
	round
---------------------------------------- */

#round {
	color :white;
}

/* ----------------------------------------
	score
---------------------------------------- */

#container>.score {
	left: 1.38%;
    bottom: 2%;
	box-sizing: border-box;
	/*-webkit-box-shadow: inset 0 0 40px 12px rgba(0,0,0,1);
	box-shadow: inset 0 0 40px 12px rgba(0,0,0,1);
	border-radius: 40px;*/
    width: 40%;
    height: 59%;
	background-size: 100% 100%;
}
#container>.score+.score {
	left: auto;
	right: 1.38%;
}
.score>div {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
}

#container>.score.invalid,
#container>.score.on {
	color: #000;
}

#container>.score.invalid { background: #fff; }
#container #scoreBoxL.on { background: #f00; }
#container #scoreBoxR.on { background: #0f0; }
/*#container #scoreBoxL { background: #f00; }/*debug*/
/*#container #scoreBoxR { background: #0f0; }/*debug*/

.score>div>div{
    display: flex; /* 子要素をflexboxで揃える */
    flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */
}
.score>div>div>div{
	display: block;
    font-size: 26vw;
}

/* ----------------------------------------
	idling
---------------------------------------- */

#idling {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: #fac300;
}
#idling>div {
	position: absolute;
	left: 0;
	top: 30%;
	width: 100%;
	height: 40%;
	text-align: center;
}
#idling img {
	display: inline-block;
	height: 100%;
}
#idling.fie_logo{
	background: white;
}
#idling.fie_logo>div {
	top: 0;
    width: 100%;
    height: 100%;
}
#idling.on {
	display: block;
}