/*!
 * Copyright (c) 2015 kf (7kfpun@gmail.com)
 *
 * Permission is hereby granted"], free of charge"], to any person obtaining a copy
 * of this software and associated documentation files (the "Software")"], to deal
 * in the Software without restriction"], including without limitation the rights
 * to use"], copy"], modify"], merge"], publish"], distribute"], sublicense"], and/or sell
 * copies of the Software"], and to permit persons to whom the Software is
 * furnished to do so"], subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS""], WITHOUT WARRANTY OF ANY KIND"],
 * EXPRESS OR IMPLIED"], INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 * MERCHANTABILITY"], FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
 * IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM"],
 * DAMAGES OR OTHER LIABILITY"], WHETHER IN AN ACTION OF CONTRACT"], TORT OR
 * OTHERWISE"], ARISING FROM"], OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE
 * OR OTHER DEALINGS IN THE SOFTWARE.
 */

[data-nation="abw"],
[data-nation="aw"],
[data-nation="533"],
[data-nation="ioc-aru"],
[data-nation="fifa-aru"] {
  background-image: url(../flags/png/abw.png);
  background-image: url(../flags/abw.svg);
}
[data-nation="afg"],
[data-nation="af"],
[data-nation="4"],
[data-nation="ioc-afg"],
[data-nation="fifa-afg"] {
  background-image: url(../flags/png/afg.png);
  background-image: url(../flags/afg.svg);
}
[data-nation="ago"],
[data-nation="ao"],
[data-nation="24"],
[data-nation="ioc-ang"],
[data-nation="fifa-ang"] {
  background-image: url(../flags/png/ago.png);
  background-image: url(../flags/ago.svg);
}
[data-nation="aia"],
[data-nation="ai"],
[data-nation="660"],
[data-nation="ioc-aia"],
[data-nation="fifa-aia"] {
  background-image: url(../flags/png/aia.png);
  background-image: url(../flags/aia.svg);
}
[data-nation="ala"],
[data-nation="ax"],
[data-nation="248"],
[data-nation="fifa-ald"] {
  background-image: url(../flags/png/ala.png);
  background-image: url(../flags/ala.svg);
}
[data-nation="alb"],
[data-nation="al"],
[data-nation="8"],
[data-nation="ioc-alb"],
[data-nation="fifa-alb"] {
  background-image: url(../flags/png/alb.png);
  background-image: url(../flags/alb.svg);
}
[data-nation="and"],
[data-nation="ad"],
[data-nation="20"],
[data-nation="ioc-and"],
[data-nation="fifa-and"] {
  background-image: url(../flags/png/and.png);
  background-image: url(../flags/and.svg);
}
[data-nation="uae"],
[data-nation="are"],
[data-nation="ae"],
[data-nation="784"],
[data-nation="ioc-uae"],
[data-nation="fifa-uae"] {
  background-image: url(../flags/png/are.png);
  background-image: url(../flags/are.svg);
}
[data-nation="arg"],
[data-nation="ar"],
[data-nation="32"],
[data-nation="ioc-arg"],
[data-nation="fifa-arg"] {
  background-image: url(../flags/png/arg.png);
  background-image: url(../flags/arg.svg);
}
[data-nation="arm"],
[data-nation="am"],
[data-nation="51"],
[data-nation="ioc-arm"],
[data-nation="fifa-arm"] {
  background-image: url(../flags/png/arm.png);
  background-image: url(../flags/arm.svg);
}
[data-nation="asm"],
[data-nation="as"],
[data-nation="16"],
[data-nation="ioc-asa"],
[data-nation="fifa-asa"] {
  background-image: url(../flags/png/asm.png);
  background-image: url(../flags/asm.svg);
}
[data-nation="ata"],
[data-nation="aq"],
[data-nation="10"],
[data-nation="fifa-ros"] {
  background-image: url(../flags/png/ata.png);
  background-image: url(../flags/ata.svg);
}
[data-nation="atf"],
[data-nation="tf"],
[data-nation="260"] {
  background-image: url(../flags/png/atf.png);
  background-image: url(../flags/atf.svg);
}
[data-nation="atg"],
[data-nation="ag"],
[data-nation="28"],
[data-nation="ioc-ant"],
[data-nation="fifa-atg"] {
  background-image: url(../flags/png/atg.png);
  background-image: url(../flags/atg.svg);
}
[data-nation="aus"],
[data-nation="au"],
[data-nation="36"],
[data-nation="ioc-aus"],
[data-nation="fifa-aus"] {
  background-image: url(../flags/png/aus.png);
  background-image: url(../flags/aus.svg);
}
[data-nation="aut"],
[data-nation="at"],
[data-nation="40"],
[data-nation="ioc-aut"],
[data-nation="fifa-aut"] {
  background-image: url(../flags/png/aut.png);
  background-image: url(../flags/aut.svg);
}
[data-nation="aze"],
[data-nation="az"],
[data-nation="31"],
[data-nation="ioc-aze"],
[data-nation="fifa-aze"] {
  background-image: url(../flags/png/aze.png);
  background-image: url(../flags/aze.svg);
}
[data-nation="bdi"],
[data-nation="bi"],
[data-nation="108"],
[data-nation="ioc-bdi"],
[data-nation="fifa-bdi"] {
  background-image: url(../flags/png/bdi.png);
  background-image: url(../flags/bdi.svg);
}
[data-nation="bel"],
[data-nation="be"],
[data-nation="56"],
[data-nation="ioc-bel"],
[data-nation="fifa-bel"] {
  background-image: url(../flags/png/bel.png);
  background-image: url(../flags/bel.svg);
}
[data-nation="ben"],
[data-nation="bj"],
[data-nation="204"],
[data-nation="ioc-ben"],
[data-nation="fifa-ben"] {
  background-image: url(../flags/png/ben.png);
  background-image: url(../flags/ben.svg);
}
[data-nation="bes"],
[data-nation="bq"],
[data-nation="535"],
[data-nation="ioc-aho"],
[data-nation="fifa-ant"] {
  background-image: url(../flags/png/bes.png);
  background-image: url(../flags/bes.svg);
}
[data-nation="bfa"],
[data-nation="bf"],
[data-nation="854"],
[data-nation="ioc-bur"],
[data-nation="fifa-bfa"] {
  background-image: url(../flags/png/bfa.png);
  background-image: url(../flags/bfa.svg);
}
[data-nation="bgd"],
[data-nation="bd"],
[data-nation="50"],
[data-nation="ioc-ban"],
[data-nation="fifa-ban"] {
  background-image: url(../flags/png/bgd.png);
  background-image: url(../flags/bgd.svg);
}
[data-nation="bgr"],
[data-nation="bg"],
[data-nation="100"],
[data-nation="ioc-bul"],
[data-nation="fifa-bul"] {
  background-image: url(../flags/png/bgr.png);
  background-image: url(../flags/bgr.svg);
}
[data-nation="bhr"],
[data-nation="bh"],
[data-nation="48"],
[data-nation="ioc-brn"],
[data-nation="fifa-bhr"] {
  background-image: url(../flags/png/bhr.png);
  background-image: url(../flags/bhr.svg);
}
[data-nation="bhs"],
[data-nation="bs"],
[data-nation="44"],
[data-nation="ioc-bah"],
[data-nation="fifa-bah"] {
  background-image: url(../flags/png/bhs.png);
  background-image: url(../flags/bhs.svg);
}
[data-nation="bih"],
[data-nation="ba"],
[data-nation="70"],
[data-nation="ioc-bih"],
[data-nation="fifa-bih"] {
  background-image: url(../flags/png/bih.png);
  background-image: url(../flags/bih.svg);
}
[data-nation="blm"],
[data-nation="bl"],
[data-nation="652"] {
  background-image: url(../flags/png/blm.png);
  background-image: url(../flags/blm.svg);
}
[data-nation="blr"],
[data-nation="by"],
[data-nation="112"],
[data-nation="ioc-blr"],
[data-nation="fifa-blr"] {
  background-image: url(../flags/png/blr.png);
  background-image: url(../flags/blr.svg);
}
[data-nation="blz"],
[data-nation="bz"],
[data-nation="84"],
[data-nation="ioc-biz"],
[data-nation="fifa-blz"] {
  background-image: url(../flags/png/blz.png);
  background-image: url(../flags/blz.svg);
}
[data-nation="bmu"],
[data-nation="bm"],
[data-nation="60"],
[data-nation="ioc-ber"],
[data-nation="fifa-ber"] {
  background-image: url(../flags/png/bmu.png);
  background-image: url(../flags/bmu.svg);
}
[data-nation="bol"],
[data-nation="bo"],
[data-nation="68"],
[data-nation="ioc-bol"],
[data-nation="fifa-bol"] {
  background-image: url(../flags/png/bol.png);
  background-image: url(../flags/bol.svg);
}
[data-nation="bra"],
[data-nation="br"],
[data-nation="76"],
[data-nation="ioc-bra"],
[data-nation="fifa-bra"] {
  background-image: url(../flags/png/bra.png);
  background-image: url(../flags/bra.svg);
}
[data-nation="brb"],
[data-nation="bb"],
[data-nation="52"],
[data-nation="ioc-bar"],
[data-nation="fifa-brb"] {
  background-image: url(../flags/png/brb.png);
  background-image: url(../flags/brb.svg);
}
[data-nation="bru"],
[data-nation="brn"],
[data-nation="bn"],
[data-nation="96"],
[data-nation="ioc-bru"],
[data-nation="fifa-bru"] {
  background-image: url(../flags/png/brn.png);
  background-image: url(../flags/brn.svg);
}
[data-nation="btn"],
[data-nation="bt"],
[data-nation="64"],
[data-nation="ioc-bhu"],
[data-nation="fifa-bhu"] {
  background-image: url(../flags/png/btn.png);
  background-image: url(../flags/btn.svg);
}
[data-nation="bvt"],
[data-nation="bv"],
[data-nation="74"] {
  background-image: url(../flags/png/bvt.png);
  background-image: url(../flags/bvt.svg);
}
[data-nation="bwa"],
[data-nation="bw"],
[data-nation="72"],
[data-nation="ioc-bot"],
[data-nation="fifa-bot"] {
  background-image: url(../flags/png/bwa.png);
  background-image: url(../flags/bwa.svg);
}
[data-nation="caf"],
[data-nation="cf"],
[data-nation="140"],
[data-nation="ioc-caf"],
[data-nation="fifa-cta"] {
  background-image: url(../flags/png/caf.png);
  background-image: url(../flags/caf.svg);
}
[data-nation="can"],
[data-nation="ca"],
[data-nation="124"],
[data-nation="ioc-can"],
[data-nation="fifa-can"] {
  background-image: url(../flags/png/can.png);
  background-image: url(../flags/can.svg);
}
[data-nation="cck"],
[data-nation="cc"],
[data-nation="166"],
[data-nation="fifa-cck"] {
  background-image: url(../flags/png/cck.png);
  background-image: url(../flags/cck.svg);
}
[data-nation="che"],
[data-nation="ch"],
[data-nation="756"],
[data-nation="ioc-sui"],
[data-nation="fifa-sui"] {
  background-image: url(../flags/png/che.png);
  background-image: url(../flags/che.svg);
}
[data-nation="chl"],
[data-nation="cl"],
[data-nation="152"],
[data-nation="ioc-chi"],
[data-nation="fifa-chi"] {
  background-image: url(../flags/png/chl.png);
  background-image: url(../flags/chl.svg);
}
[data-nation="chn"],
[data-nation="cn"],
[data-nation="156"],
[data-nation="ioc-chn"],
[data-nation="fifa-chn"] {
  background-image: url(../flags/png/chn.png);
  background-image: url(../flags/chn.svg);
}
[data-nation="civ"],
[data-nation="ci"],
[data-nation="384"],
[data-nation="ioc-civ"],
[data-nation="fifa-civ"] {
  background-image: url(../flags/png/civ.png);
  background-image: url(../flags/civ.svg);
}
[data-nation="cmr"],
[data-nation="cm"],
[data-nation="120"],
[data-nation="ioc-cmr"],
[data-nation="fifa-cmr"] {
  background-image: url(../flags/png/cmr.png);
  background-image: url(../flags/cmr.svg);
}
[data-nation="cod"],
[data-nation="cd"],
[data-nation="180"],
[data-nation="ioc-cod"],
[data-nation="fifa-cod"] {
  background-image: url(../flags/png/cod.png);
  background-image: url(../flags/cod.svg);
}
[data-nation="cog"],
[data-nation="cg"],
[data-nation="178"],
[data-nation="ioc-cgo"],
[data-nation="fifa-cgo"] {
  background-image: url(../flags/png/cog.png);
  background-image: url(../flags/cog.svg);
}
[data-nation="cok"],
[data-nation="ck"],
[data-nation="184"],
[data-nation="ioc-cok"],
[data-nation="fifa-cok"] {
  background-image: url(../flags/png/cok.png);
  background-image: url(../flags/cok.svg);
}
[data-nation="col"],
[data-nation="co"],
[data-nation="170"],
[data-nation="ioc-col"],
[data-nation="fifa-col"] {
  background-image: url(../flags/png/col.png);
  background-image: url(../flags/col.svg);
}
[data-nation="com"],
[data-nation="km"],
[data-nation="174"],
[data-nation="ioc-com"],
[data-nation="fifa-com"] {
  background-image: url(../flags/png/com.png);
  background-image: url(../flags/com.svg);
}
[data-nation="cpv"],
[data-nation="cv"],
[data-nation="132"],
[data-nation="ioc-cpv"],
[data-nation="fifa-cpv"] {
  background-image: url(../flags/png/cpv.png);
  background-image: url(../flags/cpv.svg);
}
[data-nation="cri"],
[data-nation="cr"],
[data-nation="188"],
[data-nation="ioc-crc"],
[data-nation="fifa-crc"] {
  background-image: url(../flags/png/cri.png);
  background-image: url(../flags/cri.svg);
}
[data-nation="cub"],
[data-nation="cu"],
[data-nation="192"],
[data-nation="ioc-cub"],
[data-nation="fifa-cub"] {
  background-image: url(../flags/png/cub.png);
  background-image: url(../flags/cub.svg);
}
[data-nation="cuw"],
[data-nation="cw"],
[data-nation="531"] {
  background-image: url(../flags/png/cuw.png);
  background-image: url(../flags/cuw.svg);
}
[data-nation="cxr"],
[data-nation="cx"],
[data-nation="162"],
[data-nation="fifa-cxr"] {
  background-image: url(../flags/png/cxr.png);
  background-image: url(../flags/cxr.svg);
}
[data-nation="cym"],
[data-nation="ky"],
[data-nation="136"],
[data-nation="ioc-cay"],
[data-nation="fifa-cay"] {
  background-image: url(../flags/png/cym.png);
  background-image: url(../flags/cym.svg);
}
[data-nation="cyp"],
[data-nation="cy"],
[data-nation="196"],
[data-nation="ioc-cyp"],
[data-nation="fifa-cyp"] {
  background-image: url(../flags/png/cyp.png);
  background-image: url(../flags/cyp.svg);
}
[data-nation="cze"],
[data-nation="cz"],
[data-nation="203"],
[data-nation="ioc-cze"],
[data-nation="fifa-cze"] {
  background-image: url(../flags/png/cze.png);
  background-image: url(../flags/cze.svg);
}
[data-nation="deu"],
[data-nation="ger"],
[data-nation="de"],
[data-nation="276"],
[data-nation="ioc-ger"],
[data-nation="fifa-ger"] {
  background-image: url(../flags/png/deu.png);
  background-image: url(../flags/deu.svg);
}
[data-nation="dji"],
[data-nation="dj"],
[data-nation="262"],
[data-nation="ioc-dji"],
[data-nation="fifa-dji"] {
  background-image: url(../flags/png/dji.png);
  background-image: url(../flags/dji.svg);
}
[data-nation="dma"],
[data-nation="dm"],
[data-nation="212"],
[data-nation="ioc-dma"],
[data-nation="fifa-dma"] {
  background-image: url(../flags/png/dma.png);
  background-image: url(../flags/dma.svg);
}
[data-nation="dnk"],
[data-nation="den"],
[data-nation="dk"],
[data-nation="208"],
[data-nation="ioc-den"],
[data-nation="fifa-den"] {
  background-image: url(../flags/png/dnk.png);
  background-image: url(../flags/dnk.svg);
}
[data-nation="dom"],
[data-nation="do"],
[data-nation="214"],
[data-nation="ioc-dom"],
[data-nation="fifa-dom"] {
  background-image: url(../flags/png/dom.png);
  background-image: url(../flags/dom.svg);
}
[data-nation="dza"],
[data-nation="dz"],
[data-nation="12"],
[data-nation="ioc-alg"],
[data-nation="fifa-alg"] {
  background-image: url(../flags/png/dza.png);
  background-image: url(../flags/dza.svg);
}
[data-nation="ecu"],
[data-nation="ec"],
[data-nation="218"],
[data-nation="ioc-ecu"],
[data-nation="fifa-ecu"] {
  background-image: url(../flags/png/ecu.png);
  background-image: url(../flags/ecu.svg);
}
[data-nation="egy"],
[data-nation="eg"],
[data-nation="818"],
[data-nation="ioc-egy"],
[data-nation="fifa-egy"] {
  background-image: url(../flags/png/egy.png);
  background-image: url(../flags/egy.svg);
}
[data-nation="eri"],
[data-nation="er"],
[data-nation="232"],
[data-nation="ioc-eri"],
[data-nation="fifa-eri"] {
  background-image: url(../flags/png/eri.png);
  background-image: url(../flags/eri.svg);
}
[data-nation="esh"],
[data-nation="eh"],
[data-nation="732"],
[data-nation="fifa-sah"] {
  background-image: url(../flags/png/esh.png);
  background-image: url(../flags/esh.svg);
}
[data-nation="esp"],
[data-nation="es"],
[data-nation="724"],
[data-nation="ioc-esp"],
[data-nation="fifa-esp"] {
  background-image: url(../flags/png/esp.png);
  background-image: url(../flags/esp.svg);
}
[data-nation="est"],
[data-nation="ee"],
[data-nation="233"],
[data-nation="ioc-est"],
[data-nation="fifa-est"] {
  background-image: url(../flags/png/est.png);
  background-image: url(../flags/est.svg);
}
[data-nation="eth"],
[data-nation="et"],
[data-nation="231"],
[data-nation="ioc-eth"],
[data-nation="fifa-eth"] {
  background-image: url(../flags/png/eth.png);
  background-image: url(../flags/eth.svg);
}
[data-nation="fin"],
[data-nation="fi"],
[data-nation="246"],
[data-nation="ioc-fin"],
[data-nation="fifa-fin"] {
  background-image: url(../flags/png/fin.png);
  background-image: url(../flags/fin.svg);
}
[data-nation="fji"],
[data-nation="fj"],
[data-nation="242"],
[data-nation="ioc-fij"],
[data-nation="fifa-fij"] {
  background-image: url(../flags/png/fji.png);
  background-image: url(../flags/fji.svg);
}
[data-nation="flk"],
[data-nation="fk"],
[data-nation="238"],
[data-nation="ioc-flk"],
[data-nation="fifa-flk"] {
  background-image: url(../flags/png/flk.png);
  background-image: url(../flags/flk.svg);
}
[data-nation="fra"],
[data-nation="fr"],
[data-nation="250"],
[data-nation="ioc-fra"],
[data-nation="fifa-fra"] {
  background-image: url(../flags/png/fra.png);
  background-image: url(../flags/fra.svg);
}
[data-nation="fro"],
[data-nation="fo"],
[data-nation="234"],
[data-nation="ioc-far"],
[data-nation="fifa-fro"] {
  background-image: url(../flags/png/fro.png);
  background-image: url(../flags/fro.svg);
}
[data-nation="fsm"],
[data-nation="fm"],
[data-nation="583"],
[data-nation="ioc-fsm"],
[data-nation="fifa-fsm"] {
  background-image: url(../flags/png/fsm.png);
  background-image: url(../flags/fsm.svg);
}
[data-nation="gab"],
[data-nation="ga"],
[data-nation="266"],
[data-nation="ioc-gab"],
[data-nation="fifa-gab"] {
  background-image: url(../flags/png/gab.png);
  background-image: url(../flags/gab.svg);
}
[data-nation="gbr"],
[data-nation="gb"],
[data-nation="826"],
[data-nation="ioc-gbr"] {
  background-image: url(../flags/png/gbr.png);
  background-image: url(../flags/gbr.svg);
}
[data-nation="geo"],
[data-nation="ge"],
[data-nation="268"],
[data-nation="ioc-geo"],
[data-nation="fifa-geo"] {
  background-image: url(../flags/png/geo.png);
  background-image: url(../flags/geo.svg);
}
[data-nation="ggy"],
[data-nation="gg"],
[data-nation="831"],
[data-nation="fifa-gbg"] {
  background-image: url(../flags/png/ggy.png);
  background-image: url(../flags/ggy.svg);
}
[data-nation="gha"],
[data-nation="gh"],
[data-nation="288"],
[data-nation="ioc-gha"],
[data-nation="fifa-gha"] {
  background-image: url(../flags/png/gha.png);
  background-image: url(../flags/gha.svg);
}
[data-nation="gib"],
[data-nation="gi"],
[data-nation="292"],
[data-nation="ioc-gib"],
[data-nation="fifa-gbz"] {
  background-image: url(../flags/png/gib.png);
  background-image: url(../flags/gib.svg);
}
[data-nation="gin"],
[data-nation="gn"],
[data-nation="324"],
[data-nation="ioc-gui"],
[data-nation="fifa-gui"] {
  background-image: url(../flags/png/gin.png);
  background-image: url(../flags/gin.svg);
}
[data-nation="glp"],
[data-nation="gp"],
[data-nation="312"],
[data-nation="ioc-gud"],
[data-nation="fifa-glp"] {
  background-image: url(../flags/png/glp.png);
  background-image: url(../flags/glp.svg);
}
[data-nation="gmb"],
[data-nation="gm"],
[data-nation="270"],
[data-nation="ioc-gam"],
[data-nation="fifa-gam"] {
  background-image: url(../flags/png/gmb.png);
  background-image: url(../flags/gmb.svg);
}
[data-nation="gnb"],
[data-nation="gw"],
[data-nation="624"],
[data-nation="ioc-gbs"],
[data-nation="fifa-gnb"] {
  background-image: url(../flags/png/gnb.png);
  background-image: url(../flags/gnb.svg);
}
[data-nation="gnq"],
[data-nation="gq"],
[data-nation="226"],
[data-nation="ioc-geq"],
[data-nation="fifa-eqg"] {
  background-image: url(../flags/png/gnq.png);
  background-image: url(../flags/gnq.svg);
}
[data-nation="grc"],
[data-nation="gr"],
[data-nation="300"],
[data-nation="ioc-gre"],
[data-nation="fifa-gre"] {
  background-image: url(../flags/png/grc.png);
  background-image: url(../flags/grc.svg);
}
[data-nation="grd"],
[data-nation="gd"],
[data-nation="308"],
[data-nation="ioc-grn"],
[data-nation="fifa-grn"] {
  background-image: url(../flags/png/grd.png);
  background-image: url(../flags/grd.svg);
}
[data-nation="grl"],
[data-nation="gl"],
[data-nation="304"],
[data-nation="ioc-grl"],
[data-nation="fifa-grl"] {
  background-image: url(../flags/png/grl.png);
  background-image: url(../flags/grl.svg);
}
[data-nation="gtm"],
[data-nation="gt"],
[data-nation="320"],
[data-nation="ioc-gua"],
[data-nation="fifa-gua"] {
  background-image: url(../flags/png/gtm.png);
  background-image: url(../flags/gtm.svg);
}
[data-nation="guf"],
[data-nation="gf"],
[data-nation="254"],
[data-nation="ioc-fgu"],
[data-nation="fifa-guf"] {
  background-image: url(../flags/png/guf.png);
  background-image: url(../flags/guf.svg);
}
[data-nation="gum"],
[data-nation="gu"],
[data-nation="316"],
[data-nation="ioc-gum"],
[data-nation="fifa-gum"] {
  background-image: url(../flags/png/gum.png);
  background-image: url(../flags/gum.svg);
}
[data-nation="guy"],
[data-nation="gy"],
[data-nation="328"],
[data-nation="ioc-guy"],
[data-nation="fifa-guy"] {
  background-image: url(../flags/png/guy.png);
  background-image: url(../flags/guy.svg);
}
[data-nation="hkg"],
[data-nation="hk"],
[data-nation="344"],
[data-nation="ioc-hkg"],
[data-nation="fifa-hkg"] {
  background-image: url(../flags/png/hkg.png);
  background-image: url(../flags/hkg.svg);
}
[data-nation="hmd"],
[data-nation="hm"],
[data-nation="334"] {
  background-image: url(../flags/png/hmd.png);
  background-image: url(../flags/hmd.svg);
}
[data-nation="hnd"],
[data-nation="hn"],
[data-nation="340"],
[data-nation="ioc-hon"],
[data-nation="fifa-hon"] {
  background-image: url(../flags/png/hnd.png);
  background-image: url(../flags/hnd.svg);
}
[data-nation="hrv"],
[data-nation="hr"],
[data-nation="191"],
[data-nation="ioc-cro"],
[data-nation="fifa-cro"] {
  background-image: url(../flags/png/hrv.png);
  background-image: url(../flags/hrv.svg);
}
[data-nation="hti"],
[data-nation="ht"],
[data-nation="332"],
[data-nation="ioc-hai"],
[data-nation="fifa-hai"] {
  background-image: url(../flags/png/hti.png);
  background-image: url(../flags/hti.svg);
}
[data-nation="hun"],
[data-nation="hu"],
[data-nation="348"],
[data-nation="ioc-hun"],
[data-nation="fifa-hun"] {
  background-image: url(../flags/png/hun.png);
  background-image: url(../flags/hun.svg);
}
[data-nation="ina"],
[data-nation="idn"],
[data-nation="id"],
[data-nation="360"],
[data-nation="ioc-ina"],
[data-nation="fifa-idn"] {
  background-image: url(../flags/png/idn.png);
  background-image: url(../flags/idn.svg);
}
[data-nation="imn"],
[data-nation="im"],
[data-nation="833"],
[data-nation="fifa-gbm"] {
  background-image: url(../flags/png/imn.png);
  background-image: url(../flags/imn.svg);
}
[data-nation="ind"],
[data-nation="in"],
[data-nation="356"],
[data-nation="ioc-ind"],
[data-nation="fifa-ind"] {
  background-image: url(../flags/png/ind.png);
  background-image: url(../flags/ind.svg);
}
[data-nation="iot"],
[data-nation="io"],
[data-nation="86"] {
  background-image: url(../flags/png/iot.png);
  background-image: url(../flags/iot.svg);
}
[data-nation="irl"],
[data-nation="ie"],
[data-nation="372"],
[data-nation="ioc-irl"],
[data-nation="fifa-irl"] {
  background-image: url(../flags/png/irl.png);
  background-image: url(../flags/irl.svg);
}
[data-nation="iri"],
[data-nation="irn"],
[data-nation="ir"],
[data-nation="364"],
[data-nation="ioc-iri"],
[data-nation="fifa-irn"] {
  background-image: url(../flags/png/irn.png);
  background-image: url(../flags/irn.svg);
}
[data-nation="irq"],
[data-nation="iq"],
[data-nation="368"],
[data-nation="ioc-irq"],
[data-nation="fifa-irq"] {
  background-image: url(../flags/png/irq.png);
  background-image: url(../flags/irq.svg);
}
[data-nation="isl"],
[data-nation="is"],
[data-nation="352"],
[data-nation="ioc-isl"],
[data-nation="fifa-isl"] {
  background-image: url(../flags/png/isl.png);
  background-image: url(../flags/isl.svg);
}
[data-nation="isr"],
[data-nation="il"],
[data-nation="376"],
[data-nation="ioc-isr"],
[data-nation="fifa-isr"] {
  background-image: url(../flags/png/isr.png);
  background-image: url(../flags/isr.svg);
}
[data-nation="ita"],
[data-nation="it"],
[data-nation="380"],
[data-nation="ioc-ita"],
[data-nation="fifa-ita"] {
  background-image: url(../flags/png/ita.png);
  background-image: url(../flags/ita.svg);
}
[data-nation="jam"],
[data-nation="jm"],
[data-nation="388"],
[data-nation="ioc-jam"],
[data-nation="fifa-jam"] {
  background-image: url(../flags/png/jam.png);
  background-image: url(../flags/jam.svg);
}
[data-nation="jey"],
[data-nation="je"],
[data-nation="832"],
[data-nation="fifa-gbj"] {
  background-image: url(../flags/png/jey.png);
  background-image: url(../flags/jey.svg);
}
[data-nation="jor"],
[data-nation="jo"],
[data-nation="400"],
[data-nation="ioc-jor"],
[data-nation="fifa-jor"] {
  background-image: url(../flags/png/jor.png);
  background-image: url(../flags/jor.svg);
}
[data-nation="jpn"],
[data-nation="jp"],
[data-nation="392"],
[data-nation="ioc-jpn"],
[data-nation="fifa-jpn"] {
  background-image: url(../flags/png/jpn.png);
  background-image: url(../flags/jpn.svg);
}
[data-nation="kaz"],
[data-nation="kz"],
[data-nation="398"],
[data-nation="ioc-kaz"],
[data-nation="fifa-kaz"] {
  background-image: url(../flags/png/kaz.png);
  background-image: url(../flags/kaz.svg);
}
[data-nation="ken"],
[data-nation="ke"],
[data-nation="404"],
[data-nation="ioc-ken"],
[data-nation="fifa-ken"] {
  background-image: url(../flags/png/ken.png);
  background-image: url(../flags/ken.svg);
}
[data-nation="kgz"],
[data-nation="kg"],
[data-nation="417"],
[data-nation="ioc-kgz"],
[data-nation="fifa-kgz"] {
  background-image: url(../flags/png/kgz.png);
  background-image: url(../flags/kgz.svg);
}
[data-nation="cam"],
[data-nation="khm"],
[data-nation="kh"],
[data-nation="116"],
[data-nation="ioc-cam"],
[data-nation="fifa-cam"] {
  background-image: url(../flags/png/khm.png);
  background-image: url(../flags/khm.svg);
}
[data-nation="kir"],
[data-nation="ki"],
[data-nation="296"],
[data-nation="ioc-kir"],
[data-nation="fifa-kir"] {
  background-image: url(../flags/png/kir.png);
  background-image: url(../flags/kir.svg);
}
[data-nation="kna"],
[data-nation="kn"],
[data-nation="659"],
[data-nation="ioc-skn"],
[data-nation="fifa-skn"] {
  background-image: url(../flags/png/kna.png);
  background-image: url(../flags/kna.svg);
}
[data-nation="kor"],
[data-nation="kr"],
[data-nation="410"],
[data-nation="ioc-kor"],
[data-nation="fifa-kor"] {
  background-image: url(../flags/png/kor.png);
  background-image: url(../flags/kor.svg);
}
[data-nation="kuw"],
[data-nation="kwt"],
[data-nation="kw"],
[data-nation="414"],
[data-nation="ioc-kuw"],
[data-nation="fifa-kuw"] {
  background-image: url(../flags/png/kwt.png);
  background-image: url(../flags/kwt.svg);
}
[data-nation="lao"],
[data-nation="la"],
[data-nation="418"],
[data-nation="ioc-lao"],
[data-nation="fifa-lao"] {
  background-image: url(../flags/png/lao.png);
  background-image: url(../flags/lao.svg);
}
[data-nation="lbn"],
[data-nation="lb"],
[data-nation="422"],
[data-nation="ioc-lib"],
[data-nation="fifa-lib"] {
  background-image: url(../flags/png/lbn.png);
  background-image: url(../flags/lbn.svg);
}
[data-nation="lbr"],
[data-nation="lr"],
[data-nation="430"],
[data-nation="ioc-lbr"],
[data-nation="fifa-lbr"] {
  background-image: url(../flags/png/lbr.png);
  background-image: url(../flags/lbr.svg);
}
[data-nation="lby"],
[data-nation="ly"],
[data-nation="434"],
[data-nation="ioc-lba"],
[data-nation="fifa-lby"] {
  background-image: url(../flags/png/lby.png);
  background-image: url(../flags/lby.svg);
}
[data-nation="lca"],
[data-nation="lc"],
[data-nation="662"],
[data-nation="ioc-lca"],
[data-nation="fifa-lca"] {
  background-image: url(../flags/png/lca.png);
  background-image: url(../flags/lca.svg);
}
[data-nation="lie"],
[data-nation="li"],
[data-nation="438"],
[data-nation="ioc-lie"],
[data-nation="fifa-lie"] {
  background-image: url(../flags/png/lie.png);
  background-image: url(../flags/lie.svg);
}
[data-nation="lka"],
[data-nation="lk"],
[data-nation="144"],
[data-nation="ioc-sri"],
[data-nation="fifa-sri"] {
  background-image: url(../flags/png/lka.png);
  background-image: url(../flags/lka.svg);
}
[data-nation="lso"],
[data-nation="ls"],
[data-nation="426"],
[data-nation="ioc-les"],
[data-nation="fifa-les"] {
  background-image: url(../flags/png/lso.png);
  background-image: url(../flags/lso.svg);
}
[data-nation="ltu"],
[data-nation="lt"],
[data-nation="440"],
[data-nation="ioc-ltu"],
[data-nation="fifa-ltu"] {
  background-image: url(../flags/png/ltu.png);
  background-image: url(../flags/ltu.svg);
}
[data-nation="lux"],
[data-nation="lu"],
[data-nation="442"],
[data-nation="ioc-lux"],
[data-nation="fifa-lux"] {
  background-image: url(../flags/png/lux.png);
  background-image: url(../flags/lux.svg);
}
[data-nation="lva"],
[data-nation="lv"],
[data-nation="428"],
[data-nation="ioc-lat"],
[data-nation="fifa-lva"] {
  background-image: url(../flags/png/lva.png);
  background-image: url(../flags/lva.svg);
}
[data-nation="mac"],
[data-nation="mo"],
[data-nation="446"],
[data-nation="ioc-mac"],
[data-nation="fifa-mac"] {
  background-image: url(../flags/png/mac.png);
  background-image: url(../flags/mac.svg);
}
[data-nation="maf"],
[data-nation="mf"],
[data-nation="663"] {
  background-image: url(../flags/png/maf.png);
  background-image: url(../flags/maf.svg);
}
[data-nation="mar"],
[data-nation="ma"],
[data-nation="504"],
[data-nation="ioc-mar"],
[data-nation="fifa-mar"] {
  background-image: url(../flags/png/mar.png);
  background-image: url(../flags/mar.svg);
}
[data-nation="mco"],
[data-nation="mc"],
[data-nation="492"],
[data-nation="ioc-mon"],
[data-nation="fifa-mon"] {
  background-image: url(../flags/png/mco.png);
  background-image: url(../flags/mco.svg);
}
[data-nation="mda"],
[data-nation="md"],
[data-nation="498"],
[data-nation="ioc-mda"],
[data-nation="fifa-mda"] {
  background-image: url(../flags/png/mda.png);
  background-image: url(../flags/mda.svg);
}
[data-nation="mdg"],
[data-nation="mg"],
[data-nation="450"],
[data-nation="ioc-mad"],
[data-nation="fifa-mad"] {
  background-image: url(../flags/png/mdg.png);
  background-image: url(../flags/mdg.svg);
}
[data-nation="mdv"],
[data-nation="mv"],
[data-nation="462"],
[data-nation="ioc-mdv"],
[data-nation="fifa-mdv"] {
  background-image: url(../flags/png/mdv.png);
  background-image: url(../flags/mdv.svg);
}
[data-nation="mex"],
[data-nation="mx"],
[data-nation="484"],
[data-nation="ioc-mex"],
[data-nation="fifa-mex"] {
  background-image: url(../flags/png/mex.png);
  background-image: url(../flags/mex.svg);
}
[data-nation="mhl"],
[data-nation="mh"],
[data-nation="584"],
[data-nation="ioc-msh"],
[data-nation="fifa-mhl"] {
  background-image: url(../flags/png/mhl.png);
  background-image: url(../flags/mhl.svg);
}
[data-nation="mkd"],
[data-nation="mk"],
[data-nation="807"],
[data-nation="ioc-mkd"],
[data-nation="fifa-mkd"] {
  background-image: url(../flags/png/mkd.png);
  background-image: url(../flags/mkd.svg);
}
[data-nation="mli"],
[data-nation="ml"],
[data-nation="466"],
[data-nation="ioc-mli"],
[data-nation="fifa-mli"] {
  background-image: url(../flags/png/mli.png);
  background-image: url(../flags/mli.svg);
}
[data-nation="mlt"],
[data-nation="mt"],
[data-nation="470"],
[data-nation="ioc-mlt"],
[data-nation="fifa-mlt"] {
  background-image: url(../flags/png/mlt.png);
  background-image: url(../flags/mlt.svg);
}
[data-nation="mmr"],
[data-nation="mm"],
[data-nation="104"],
[data-nation="ioc-mya"],
[data-nation="fifa-mya"] {
  background-image: url(../flags/png/mmr.png);
  background-image: url(../flags/mmr.svg);
}
[data-nation="mne"],
[data-nation="me"],
[data-nation="499"],
[data-nation="ioc-mgo"],
[data-nation="fifa-mne"] {
  background-image: url(../flags/png/mne.png);
  background-image: url(../flags/mne.svg);
}
[data-nation="mgl"],
[data-nation="mng"],
[data-nation="mn"],
[data-nation="496"],
[data-nation="ioc-mgl"],
[data-nation="fifa-mng"] {
  background-image: url(../flags/png/mng.png);
  background-image: url(../flags/mng.svg);
}
[data-nation="mnp"],
[data-nation="mp"],
[data-nation="580"],
[data-nation="ioc-nma"],
[data-nation="fifa-nmi"] {
  background-image: url(../flags/png/mnp.png);
  background-image: url(../flags/mnp.svg);
}
[data-nation="moz"],
[data-nation="mz"],
[data-nation="508"],
[data-nation="ioc-moz"],
[data-nation="fifa-moz"] {
  background-image: url(../flags/png/moz.png);
  background-image: url(../flags/moz.svg);
}
[data-nation="mrt"],
[data-nation="mr"],
[data-nation="478"],
[data-nation="ioc-mtn"],
[data-nation="fifa-mtn"] {
  background-image: url(../flags/png/mrt.png);
  background-image: url(../flags/mrt.svg);
}
[data-nation="msr"],
[data-nation="ms"],
[data-nation="500"],
[data-nation="ioc-mnt"],
[data-nation="fifa-msr"] {
  background-image: url(../flags/png/msr.png);
  background-image: url(../flags/msr.svg);
}
[data-nation="mtq"],
[data-nation="mq"],
[data-nation="474"],
[data-nation="ioc-mrt"],
[data-nation="fifa-mtq"] {
  background-image: url(../flags/png/mtq.png);
  background-image: url(../flags/mtq.svg);
}
[data-nation="mus"],
[data-nation="mu"],
[data-nation="480"],
[data-nation="ioc-mri"],
[data-nation="fifa-mri"] {
  background-image: url(../flags/png/mus.png);
  background-image: url(../flags/mus.svg);
}
[data-nation="mwi"],
[data-nation="mw"],
[data-nation="454"],
[data-nation="ioc-maw"],
[data-nation="fifa-mwi"] {
  background-image: url(../flags/png/mwi.png);
  background-image: url(../flags/mwi.svg);
}
[data-nation="mas"],
[data-nation="mys"],
[data-nation="my"],
[data-nation="458"],
[data-nation="ioc-mas"],
[data-nation="fifa-mas"] {
  background-image: url(../flags/png/mys.png);
  background-image: url(../flags/mys.svg);
}
[data-nation="myt"],
[data-nation="yt"],
[data-nation="175"],
[data-nation="ioc-may"],
[data-nation="fifa-myt"] {
  background-image: url(../flags/png/myt.png);
  background-image: url(../flags/myt.svg);
}
[data-nation="nam"],
[data-nation="na"],
[data-nation="516"],
[data-nation="ioc-nam"],
[data-nation="fifa-nam"] {
  background-image: url(../flags/png/nam.png);
  background-image: url(../flags/nam.svg);
}
[data-nation="ncl"],
[data-nation="nc"],
[data-nation="540"],
[data-nation="ioc-ncd"],
[data-nation="fifa-ncl"] {
  background-image: url(../flags/png/ncl.png);
  background-image: url(../flags/ncl.svg);
}
[data-nation="ner"],
[data-nation="ne"],
[data-nation="562"],
[data-nation="ioc-nig"],
[data-nation="fifa-nig"] {
  background-image: url(../flags/png/ner.png);
  background-image: url(../flags/ner.svg);
}
[data-nation="nfk"],
[data-nation="nf"],
[data-nation="574"],
[data-nation="ioc-nfi"],
[data-nation="fifa-nfk"] {
  background-image: url(../flags/png/nfk.png);
  background-image: url(../flags/nfk.svg);
}
[data-nation="nga"],
[data-nation="ng"],
[data-nation="566"],
[data-nation="ioc-ngr"],
[data-nation="fifa-nga"] {
  background-image: url(../flags/png/nga.png);
  background-image: url(../flags/nga.svg);
}
[data-nation="nic"],
[data-nation="ni"],
[data-nation="558"],
[data-nation="ioc-nca"],
[data-nation="fifa-nca"] {
  background-image: url(../flags/png/nic.png);
  background-image: url(../flags/nic.svg);
}
[data-nation="niu"],
[data-nation="nu"],
[data-nation="570"],
[data-nation="ioc-niu"],
[data-nation="fifa-niu"] {
  background-image: url(../flags/png/niu.png);
  background-image: url(../flags/niu.svg);
}
[data-nation="nld"],
[data-nation="nl"],
[data-nation="528"],
[data-nation="ioc-ned"],
[data-nation="fifa-ned"] {
  background-image: url(../flags/png/nld.png);
  background-image: url(../flags/nld.svg);
}
[data-nation="nor"],
[data-nation="no"],
[data-nation="578"],
[data-nation="ioc-nor"],
[data-nation="fifa-nor"] {
  background-image: url(../flags/png/nor.png);
  background-image: url(../flags/nor.svg);
}
[data-nation="npl"],
[data-nation="np"],
[data-nation="524"],
[data-nation="ioc-nep"],
[data-nation="fifa-nep"] {
  background-image: url(../flags/png/npl.png);
  background-image: url(../flags/npl.svg);
}
[data-nation="nru"],
[data-nation="nr"],
[data-nation="520"],
[data-nation="ioc-nru"],
[data-nation="fifa-nru"] {
  background-image: url(../flags/png/nru.png);
  background-image: url(../flags/nru.svg);
}
[data-nation="nzl"],
[data-nation="nz"],
[data-nation="554"],
[data-nation="ioc-nzl"],
[data-nation="fifa-nzl"] {
  background-image: url(../flags/png/nzl.png);
  background-image: url(../flags/nzl.svg);
}
[data-nation="omn"],
[data-nation="om"],
[data-nation="512"],
[data-nation="ioc-oma"],
[data-nation="fifa-oma"] {
  background-image: url(../flags/png/omn.png);
  background-image: url(../flags/omn.svg);
}
[data-nation="pak"],
[data-nation="pk"],
[data-nation="586"],
[data-nation="ioc-pak"],
[data-nation="fifa-pak"] {
  background-image: url(../flags/png/pak.png);
  background-image: url(../flags/pak.svg);
}
[data-nation="pan"],
[data-nation="pa"],
[data-nation="591"],
[data-nation="ioc-pan"],
[data-nation="fifa-pan"] {
  background-image: url(../flags/png/pan.png);
  background-image: url(../flags/pan.svg);
}
[data-nation="pcn"],
[data-nation="pn"],
[data-nation="612"],
[data-nation="fifa-pcn"] {
  background-image: url(../flags/png/pcn.png);
  background-image: url(../flags/pcn.svg);
}
[data-nation="per"],
[data-nation="pe"],
[data-nation="604"],
[data-nation="ioc-per"],
[data-nation="fifa-per"] {
  background-image: url(../flags/png/per.png);
  background-image: url(../flags/per.svg);
}
[data-nation="phi"],
[data-nation="phl"],
[data-nation="ph"],
[data-nation="608"],
[data-nation="ioc-phi"],
[data-nation="fifa-phi"] {
  background-image: url(../flags/png/phl.png);
  background-image: url(../flags/phl.svg);
}
[data-nation="plw"],
[data-nation="pw"],
[data-nation="585"],
[data-nation="ioc-plw"],
[data-nation="fifa-plw"] {
  background-image: url(../flags/png/plw.png);
  background-image: url(../flags/plw.svg);
}
[data-nation="png"],
[data-nation="pg"],
[data-nation="598"],
[data-nation="ioc-png"],
[data-nation="fifa-png"] {
  background-image: url(../flags/png/png.png);
  background-image: url(../flags/png.svg);
}
[data-nation="pol"],
[data-nation="pl"],
[data-nation="616"],
[data-nation="ioc-pol"],
[data-nation="fifa-pol"] {
  background-image: url(../flags/png/pol.png);
  background-image: url(../flags/pol.svg);
}
[data-nation="pri"],
[data-nation="pr"],
[data-nation="630"],
[data-nation="ioc-pur"],
[data-nation="fifa-pur"] {
  background-image: url(../flags/png/pri.png);
  background-image: url(../flags/pri.svg);
}
[data-nation="prk"],
[data-nation="kp"],
[data-nation="408"],
[data-nation="ioc-prk"],
[data-nation="fifa-prk"] {
  background-image: url(../flags/png/prk.png);
  background-image: url(../flags/prk.svg);
}
[data-nation="prt"],
[data-nation="pt"],
[data-nation="620"],
[data-nation="ioc-por"],
[data-nation="fifa-por"] {
  background-image: url(../flags/png/prt.png);
  background-image: url(../flags/prt.svg);
}
[data-nation="pry"],
[data-nation="py"],
[data-nation="600"],
[data-nation="ioc-par"],
[data-nation="fifa-par"] {
  background-image: url(../flags/png/pry.png);
  background-image: url(../flags/pry.svg);
}
[data-nation="pse"],
[data-nation="ps"],
[data-nation="275"],
[data-nation="ioc-ple"],
[data-nation="fifa-ple"] {
  background-image: url(../flags/png/pse.png);
  background-image: url(../flags/pse.svg);
}
[data-nation="pyf"],
[data-nation="pf"],
[data-nation="258"],
[data-nation="ioc-fpo"],
[data-nation="fifa-tah2"] {
  background-image: url(../flags/png/pyf.png);
  background-image: url(../flags/pyf.svg);
}
[data-nation="qat"],
[data-nation="qa"],
[data-nation="634"],
[data-nation="ioc-qat"],
[data-nation="fifa-qat"] {
  background-image: url(../flags/png/qat.png);
  background-image: url(../flags/qat.svg);
}
[data-nation="reu"],
[data-nation="re"],
[data-nation="638"],
[data-nation="ioc-reu"],
[data-nation="fifa-reu"] {
  background-image: url(../flags/png/reu.png);
  background-image: url(../flags/reu.svg);
}
[data-nation="rou"],
[data-nation="ro"],
[data-nation="642"],
[data-nation="ioc-rou"],
[data-nation="fifa-rou"] {
  background-image: url(../flags/png/rou.png);
  background-image: url(../flags/rou.svg);
}
[data-nation="rus"],
[data-nation="ru"],
[data-nation="643"],
[data-nation="ioc-rus"],
[data-nation="fifa-rus"] {
  background-image: url(../flags/png/rus.png);
  background-image: url(../flags/rus.svg);
}
[data-nation="rwa"],
[data-nation="rw"],
[data-nation="646"],
[data-nation="ioc-rwa"],
[data-nation="fifa-rwa"] {
  background-image: url(../flags/png/rwa.png);
  background-image: url(../flags/rwa.svg);
}
[data-nation="ksa"],
[data-nation="sau"],
[data-nation="sa"],
[data-nation="682"],
[data-nation="ioc-ksa"],
[data-nation="fifa-ksa"] {
  background-image: url(../flags/png/sau.png);
  background-image: url(../flags/sau.svg);
}
[data-nation="sdn"],
[data-nation="sd"],
[data-nation="729"],
[data-nation="ioc-sud"],
[data-nation="fifa-sud"] {
  background-image: url(../flags/png/sdn.png);
  background-image: url(../flags/sdn.svg);
}
[data-nation="sen"],
[data-nation="sn"],
[data-nation="686"],
[data-nation="ioc-sen"],
[data-nation="fifa-sen"] {
  background-image: url(../flags/png/sen.png);
  background-image: url(../flags/sen.svg);
}
[data-nation="sgp"],
[data-nation="sg"],
[data-nation="702"],
[data-nation="ioc-sin"],
[data-nation="fifa-sin"] {
  background-image: url(../flags/png/sgp.png);
  background-image: url(../flags/sgp.svg);
}
[data-nation="sgs"],
[data-nation="gs"],
[data-nation="239"] {
  background-image: url(../flags/png/sgs.png);
  background-image: url(../flags/sgs.svg);
}
[data-nation="shn"],
[data-nation="sh"],
[data-nation="654"],
[data-nation="ioc-hel"],
[data-nation="fifa-shn"] {
  background-image: url(../flags/png/shn.png);
  background-image: url(../flags/shn.svg);
}
[data-nation="sjm"],
[data-nation="sj"],
[data-nation="744"] {
  background-image: url(../flags/png/sjm.png);
  background-image: url(../flags/sjm.svg);
}
[data-nation="slb"],
[data-nation="sb"],
[data-nation="90"],
[data-nation="ioc-sol"],
[data-nation="fifa-sol"] {
  background-image: url(../flags/png/slb.png);
  background-image: url(../flags/slb.svg);
}
[data-nation="sle"],
[data-nation="sl"],
[data-nation="694"],
[data-nation="ioc-sle"],
[data-nation="fifa-sle"] {
  background-image: url(../flags/png/sle.png);
  background-image: url(../flags/sle.svg);
}
[data-nation="slv"],
[data-nation="sv"],
[data-nation="222"],
[data-nation="ioc-esa"],
[data-nation="fifa-slv"] {
  background-image: url(../flags/png/slv.png);
  background-image: url(../flags/slv.svg);
}
[data-nation="smr"],
[data-nation="sm"],
[data-nation="674"],
[data-nation="ioc-smr"],
[data-nation="fifa-smr"] {
  background-image: url(../flags/png/smr.png);
  background-image: url(../flags/smr.svg);
}
[data-nation="som"],
[data-nation="so"],
[data-nation="706"],
[data-nation="ioc-som"],
[data-nation="fifa-som"] {
  background-image: url(../flags/png/som.png);
  background-image: url(../flags/som.svg);
}
[data-nation="spm"],
[data-nation="pm"],
[data-nation="666"],
[data-nation="ioc-spm"],
[data-nation="fifa-spm"] {
  background-image: url(../flags/png/spm.png);
  background-image: url(../flags/spm.svg);
}
[data-nation="srb"],
[data-nation="rs"],
[data-nation="688"],
[data-nation="ioc-srb"],
[data-nation="fifa-srb"] {
  background-image: url(../flags/png/srb.png);
  background-image: url(../flags/srb.svg);
}
[data-nation="ssd"],
[data-nation="ss"],
[data-nation="728"] {
  background-image: url(../flags/png/ssd.png);
  background-image: url(../flags/ssd.svg);
}
[data-nation="stp"],
[data-nation="st"],
[data-nation="678"],
[data-nation="ioc-stp"],
[data-nation="fifa-stp"] {
  background-image: url(../flags/png/stp.png);
  background-image: url(../flags/stp.svg);
}
[data-nation="sur"],
[data-nation="sr"],
[data-nation="740"],
[data-nation="ioc-sur"],
[data-nation="fifa-sur"] {
  background-image: url(../flags/png/sur.png);
  background-image: url(../flags/sur.svg);
}
[data-nation="svk"],
[data-nation="sk"],
[data-nation="703"],
[data-nation="ioc-svk"],
[data-nation="fifa-svk"] {
  background-image: url(../flags/png/svk.png);
  background-image: url(../flags/svk.svg);
}
[data-nation="svn"],
[data-nation="si"],
[data-nation="705"],
[data-nation="ioc-slo"],
[data-nation="fifa-svn"] {
  background-image: url(../flags/png/svn.png);
  background-image: url(../flags/svn.svg);
}
[data-nation="swe"],
[data-nation="se"],
[data-nation="752"],
[data-nation="ioc-swe"],
[data-nation="fifa-swe"] {
  background-image: url(../flags/png/swe.png);
  background-image: url(../flags/swe.svg);
}
[data-nation="swz"],
[data-nation="sz"],
[data-nation="748"],
[data-nation="ioc-swz"],
[data-nation="fifa-swz"] {
  background-image: url(../flags/png/swz.png);
  background-image: url(../flags/swz.svg);
}
[data-nation="sxm"],
[data-nation="sx"],
[data-nation="534"] {
  background-image: url(../flags/png/sxm.png);
  background-image: url(../flags/sxm.svg);
}
[data-nation="syc"],
[data-nation="sc"],
[data-nation="690"],
[data-nation="ioc-sey"],
[data-nation="fifa-sey"] {
  background-image: url(../flags/png/syc.png);
  background-image: url(../flags/syc.svg);
}
[data-nation="syr"],
[data-nation="sy"],
[data-nation="760"],
[data-nation="ioc-syr"],
[data-nation="fifa-syr"] {
  background-image: url(../flags/png/syr.png);
  background-image: url(../flags/syr.svg);
}
[data-nation="tca"],
[data-nation="tc"],
[data-nation="796"],
[data-nation="ioc-tks"],
[data-nation="fifa-tca"] {
  background-image: url(../flags/png/tca.png);
  background-image: url(../flags/tca.svg);
}
[data-nation="tcd"],
[data-nation="td"],
[data-nation="148"],
[data-nation="ioc-cha"],
[data-nation="fifa-cha"] {
  background-image: url(../flags/png/tcd.png);
  background-image: url(../flags/tcd.svg);
}
[data-nation="tgo"],
[data-nation="tg"],
[data-nation="768"],
[data-nation="ioc-tog"],
[data-nation="fifa-tog"] {
  background-image: url(../flags/png/tgo.png);
  background-image: url(../flags/tgo.svg);
}
[data-nation="tha"],
[data-nation="th"],
[data-nation="764"],
[data-nation="ioc-tha"],
[data-nation="fifa-tha"] {
  background-image: url(../flags/png/tha.png);
  background-image: url(../flags/tha.svg);
}
[data-nation="tjk"],
[data-nation="tj"],
[data-nation="762"],
[data-nation="ioc-tjk"],
[data-nation="fifa-tjk"] {
  background-image: url(../flags/png/tjk.png);
  background-image: url(../flags/tjk.svg);
}
[data-nation="tkl"],
[data-nation="tk"],
[data-nation="772"],
[data-nation="fifa-tkl"] {
  background-image: url(../flags/png/tkl.png);
  background-image: url(../flags/tkl.svg);
}
[data-nation="tkm"],
[data-nation="tm"],
[data-nation="795"],
[data-nation="ioc-tkm"],
[data-nation="fifa-tkm"] {
  background-image: url(../flags/png/tkm.png);
  background-image: url(../flags/tkm.svg);
}
[data-nation="tls"],
[data-nation="tl"],
[data-nation="626"],
[data-nation="ioc-tls"],
[data-nation="fifa-tls"] {
  background-image: url(../flags/png/tls.png);
  background-image: url(../flags/tls.svg);
}
[data-nation="ton"],
[data-nation="to"],
[data-nation="776"],
[data-nation="ioc-tga"],
[data-nation="fifa-tga"] {
  background-image: url(../flags/png/ton.png);
  background-image: url(../flags/ton.svg);
}
[data-nation="tto"],
[data-nation="tt"],
[data-nation="780"],
[data-nation="ioc-tto"],
[data-nation="fifa-tri"] {
  background-image: url(../flags/png/tto.png);
  background-image: url(../flags/tto.svg);
}
[data-nation="tun"],
[data-nation="tn"],
[data-nation="788"],
[data-nation="ioc-tun"],
[data-nation="fifa-tun"] {
  background-image: url(../flags/png/tun.png);
  background-image: url(../flags/tun.svg);
}
[data-nation="tur"],
[data-nation="tr"],
[data-nation="792"],
[data-nation="ioc-tur"],
[data-nation="fifa-tur"] {
  background-image: url(../flags/png/tur.png);
  background-image: url(../flags/tur.svg);
}
[data-nation="tuv"],
[data-nation="tv"],
[data-nation="798"],
[data-nation="ioc-tuv"],
[data-nation="fifa-tuv"] {
  background-image: url(../flags/png/tuv.png);
  background-image: url(../flags/tuv.svg);
}
[data-nation="twn"],
[data-nation="tw"],
[data-nation="158"] {
  background-image: url(../flags/png/twn.png);
  background-image: url(../flags/twn.svg);
}
[data-nation="tza"],
[data-nation="tz"],
[data-nation="834"],
[data-nation="ioc-tan"],
[data-nation="fifa-tan"] {
  background-image: url(../flags/png/tza.png);
  background-image: url(../flags/tza.svg);
}
[data-nation="uga"],
[data-nation="ug"],
[data-nation="800"],
[data-nation="ioc-uga"],
[data-nation="fifa-uga"] {
  background-image: url(../flags/png/uga.png);
  background-image: url(../flags/uga.svg);
}
[data-nation="ukr"],
[data-nation="ua"],
[data-nation="804"],
[data-nation="ioc-ukr"],
[data-nation="fifa-ukr"] {
  background-image: url(../flags/png/ukr.png);
  background-image: url(../flags/ukr.svg);
}
[data-nation="umi"],
[data-nation="um"],
[data-nation="581"] {
  background-image: url(../flags/png/umi.png);
  background-image: url(../flags/umi.svg);
}
[data-nation="ury"],
[data-nation="uy"],
[data-nation="858"],
[data-nation="ioc-uru"],
[data-nation="fifa-uru"] {
  background-image: url(../flags/png/ury.png);
  background-image: url(../flags/ury.svg);
}
[data-nation="usa"],
[data-nation="us"],
[data-nation="840"],
[data-nation="ioc-usa"],
[data-nation="fifa-usa"] {
  background-image: url(../flags/png/usa.png);
  background-image: url(../flags/usa.svg);
}
[data-nation="uzb"],
[data-nation="uz"],
[data-nation="860"],
[data-nation="ioc-uzb"],
[data-nation="fifa-uzb"] {
  background-image: url(../flags/png/uzb.png);
  background-image: url(../flags/uzb.svg);
}
[data-nation="vat"],
[data-nation="va"],
[data-nation="336"],
[data-nation="fifa-vat"] {
  background-image: url(../flags/png/vat.png);
  background-image: url(../flags/vat.svg);
}
[data-nation="vct"],
[data-nation="vc"],
[data-nation="670"],
[data-nation="ioc-vin"],
[data-nation="fifa-vin"] {
  background-image: url(../flags/png/vct.png);
  background-image: url(../flags/vct.svg);
}
[data-nation="ven"],
[data-nation="ve"],
[data-nation="862"],
[data-nation="ioc-ven"],
[data-nation="fifa-ven"] {
  background-image: url(../flags/png/ven.png);
  background-image: url(../flags/ven.svg);
}
[data-nation="vgb"],
[data-nation="vg"],
[data-nation="92"],
[data-nation="ioc-ivb"],
[data-nation="fifa-vgb"] {
  background-image: url(../flags/png/vgb.png);
  background-image: url(../flags/vgb.svg);
}
[data-nation="vir"],
[data-nation="vi"],
[data-nation="850"],
[data-nation="ioc-isv"],
[data-nation="fifa-vir"] {
  background-image: url(../flags/png/vir.png);
  background-image: url(../flags/vir.svg);
}
[data-nation="vie"],
[data-nation="vnm"],
[data-nation="vn"],
[data-nation="704"],
[data-nation="ioc-vie"],
[data-nation="fifa-vie"] {
  background-image: url(../flags/png/vnm.png);
  background-image: url(../flags/vnm.svg);
}
[data-nation="vut"],
[data-nation="vu"],
[data-nation="548"],
[data-nation="ioc-van"],
[data-nation="fifa-van"] {
  background-image: url(../flags/png/vut.png);
  background-image: url(../flags/vut.svg);
}
[data-nation="wlf"],
[data-nation="wf"],
[data-nation="876"],
[data-nation="ioc-waf"],
[data-nation="fifa-wlf"] {
  background-image: url(../flags/png/wlf.png);
  background-image: url(../flags/wlf.svg);
}
[data-nation="wsm"],
[data-nation="ws"],
[data-nation="882"],
[data-nation="ioc-sam"],
[data-nation="fifa-sam"] {
  background-image: url(../flags/png/wsm.png);
  background-image: url(../flags/wsm.svg);
}
[data-nation="yem"],
[data-nation="ye"],
[data-nation="887"],
[data-nation="ioc-yem"],
[data-nation="fifa-yem"] {
  background-image: url(../flags/png/yem.png);
  background-image: url(../flags/yem.svg);
}
[data-nation="zaf"],
[data-nation="za"],
[data-nation="710"],
[data-nation="ioc-rsa"],
[data-nation="fifa-rsa"] {
  background-image: url(../flags/png/zaf.png);
  background-image: url(../flags/zaf.svg);
}
[data-nation="zmb"],
[data-nation="zm"],
[data-nation="894"],
[data-nation="ioc-zam"],
[data-nation="fifa-zam"] {
  background-image: url(../flags/png/zmb.png);
  background-image: url(../flags/zmb.svg);
}
[data-nation="zwe"],
[data-nation="zw"],
[data-nation="716"],
[data-nation="ioc-zim"],
[data-nation="fifa-zim"] {
  background-image: url(../flags/png/zwe.png);
  background-image: url(../flags/zwe.svg);
}
[data-nation="fifa-eng"] {
  background-image: url(../flags/png/eng.png);
  background-image: url(../flags/eng.svg);
}
[data-nation="eur"],
[data-nation="eu"] {
  background-image: url(../flags/png/eur.png);
  background-image: url(../flags/eur.svg);
}
[data-nation="ioc-kos"] {
  background-image: url(../flags/png/kos.png);
  background-image: url(../flags/kos.svg);
}
[data-nation="fifa-nir"] {
  background-image: url(../flags/png/nir.png);
  background-image: url(../flags/nir.svg);
}
[data-nation="tpe"],
[data-nation="ico-tpe"],
[data-nation="fifa-tpe"] {
  background-image: url(../flags/png/tpe.png);
  background-image: url(../flags/tpe.svg);
}
[data-nation="fifa-sco"] {
  background-image: url(../flags/png/sco.png);
  background-image: url(../flags/sco.svg);
}
[data-nation="fifa-wal"] {
  background-image: url(../flags/png/wal.png);
  background-image: url(../flags/wal.svg);
}
[data-nation="fie"] {
  background-image: url(../flags/png/fie.png);
}
