@charset "utf-8";

html, body,
div, p,
table, tr, th, td,
ul, ol, li,
dl, dt, dd,
h1, h2, h3, h4, h5, h6,
img, a, address {
	margin: 0;
	border: 0;
	padding: 0;
	list-style: none;
}

html,
.responsive,
div {
	height: 100%;
}

body {    
	width: 100%;
	height: 20vw;
	background: rgba(0,0,0,.5);
}

.responsive {
	width: 100%;
}

div {
	position: relative;
	float: left;
	width: 50%;
}

#container {
	position: relative;
	float: none;
	width: 100%;
}

.invalid { background: #fff; }
.on { background: #f00; }
#playerR.on { background: #0f0; }

#info {
	display: none;
	position: absolute;
	left: 20px;
	top: 20px;
	padding: 10px;
	border: solid 2px #fff;
	background: rgba(0,0,0,.5);
	color: #fff;
}
#info:after {
	content: '3200px × 640px';
}
.responsive #info:after {
	content: '100% × 100%';
}


/* ----------------------------------------
	idling
---------------------------------------- */

#idling {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: #fff;
}
.darkBg #idling{
	background: #000;
}
#idling>div {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 25%;
}
#idling>div:first-child {
	-webkit-transform: rotateZ(180deg);
	-webkit-transform-origin: 50% 50%;
	transform: rotateZ(180deg);
	transform-origin: 50% 50%;
}
#idling>div+div {
	top: auto;
	bottom: 0;
}
#idling ul,
#idling li,
#idling li:after,
#idling img {
	height: 100%;
}
#idling li {
	float: left;
	width: 50%;
	text-align: center;
	white-space: nowrap;
}
#idling .full li {
	float: left;
	width: 100%;
	text-align: center;
	white-space: nowrap;
}
#idling li:after,
#idling img {
	display: inline-block;
	vertical-align: middle;
}
#idling li:after {
	content: '';
	width: 0;
}
#idling img {
	height: -webkit-calc(56 / 96 * 100%);
	height: calc(56 / 96 * 100%);
}

#idling.on {
	display: block;
}