@charset "utf-8";

/* ++++++++++++++++++++++++++++++++++++++++

	for jquery.grslider.js
	Last Update: 9/4, 2018

++++++++++++++++++++++++++++++++++++++++ */

/* ----------------------------------------
	.grSliderWrap - スライダーエリア全体
	.grSliderContents - スライダーのラップ
	.grSlider - スライダー
---------------------------------------- */

.grSliderWrap,
.grSliderContents,
.grSlider {
	position: relative;
	z-index: 1;
	margin: auto;
}
.grSliderWrap {
	overflow: hidden;
}

.grSlider {
	box-sizing: content-box !important;
	white-space: nowrap !important;
}
.grSlider:after {
	content: '';
	display: block;
	clear: both;
}

.grSliderFlip .grSlider {
	-webkit-perspective: 1000px;
	perspective: 1000px;
}


/* ----------------------------------------
	.grSliderEl - スライダー要素
---------------------------------------- */

.grSlider>* {
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: top;
	white-space: normal;
}

.grSliderEl {
	position: relative;
	float: left;
	box-sizing: border-box;
	z-index: 1;
}

.grSliderR .grSliderEl {
	float: right;
}

.grSliderVertical .grSliderEl,
.grSliderFade .grSliderEl,
.grSliderFlip .grSliderEl {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.grSliderFade .grSliderEl,
.grSliderFlip .grSliderEl {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grSliderFlip .grSliderEl {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.grSliderFlip.grSliderR .grSliderEl {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.grSliderFlip.grSliderU .grSliderEl {
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}

.grSliderFlip.grSliderD .grSliderEl {
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.grSliderActive {
	z-index: 2;
}

.grSliderEmpty {
	visibility: hidden !important;
	height: 1px;
	-webkit-transform: rotateX(0deg) rotateY(0deg) !important;
	transform: rotateX(0deg) rotateY(0deg) !important;
}


/* ----------------------------------------
	 .grSliderFrameL, .grSliderFrameR - 枠（初期非表示）
---------------------------------------- */

.grSliderFrameL,
.grSliderFrameR {
	display: none;
	opacity: .5;
	position: absolute;
	top: 0;
	z-index: 99;
	width: 10%;
	height: 100%;
	background: #fff;
}
.grSliderFrameL {
	left: 0;
}

.grSliderFrameR {
	right: 0;
}


/* ----------------------------------------
	 .grSliderPrev, .grSliderNext - 前後ボタン
---------------------------------------- */

.grSliderPrev,
.grSliderNext {
	display: block;
	position: absolute;
	top: 40%;
	z-index: 100;
	width: 40px;
	height: 20%;
	background: rgba(255,255,255,.5);
	text-indent: -20000px;
	transition: .2s;
}
.grSliderPrev {
	left: 0;
	border-radius: 0 10px 10px 0;
}

.grSliderNext {
	right: 0;
	border-radius: 10px 0 0 10px;
}

.grSliderPrev:before,
.grSliderNext:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 12px;
	height: 12px;
	margin: -6px 0 0 -3px;
	border: solid 0 #333;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50%;
	transition: .2s;
}
.grSliderPrev:before {
	border-left-width: 2px;
	border-bottom-width: 2px;
}

.grSliderNext:before {
	margin-left: -11px;
	border-right-width: 2px;
	border-top-width: 2px;
}

.grSliderPrev:hover,
.grSliderNext:hover {
	opacity: .7;
}


/* ----------------------------------------
	 .grSliderNav - スライダーナビ
---------------------------------------- */

.grSliderNav {
	position: absolute;
	left: 0;
	bottom: 20px;
	z-index: 100;
	width: 100%;
	height: 20px;
	text-align: center;
}
.grSliderNav>div,
.grSliderNav ul {
	width: 100%;
	height: 100%;
}
.grSliderNav li {
	display: inline-block;
	width: 20px;
	height: 100%;
	margin: 0 10px;
	vertical-align: top;
}
.grSliderNav a {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background: #fff;
	text-indent: -20000px;
	cursor: pointer;
	transition: .2s;
}
.grSliderNav a:after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 0;
	height: 0;
	border-radius: 100%;
	background: #c33;
	transition: .2s linear;
}
.grSliderNav a:hover {
	opacity: .7;
}

.grSliderNav .grSliderNavActive a {
	cursor: default;
}
.grSliderNav .grSliderNavActive a:after {
	left: 20%;
	top: 20%;
	width: 60%;
	height: 60%;
}
.grSliderNav .grSliderNavActive a:hover {
	opacity: 1;
}


/* ----------------------------------------
	.grSliderLoader - 読み込み中
---------------------------------------- */

.grSliderLoader {
	position: relative;
	z-index: 1000000;
	width: 100px;
	height: 0;
	margin: auto;
	text-align: center;
}
.grSliderLoader>div {
	position: absolute;
	left: 50%;
	top: 0;
	width: 7em;
	margin-left: -3.5em;
	padding-top: 100%;
	-webkit-text-shadow: 2px 1px 6px #000;
	text-shadow: 2px 1px 6px #000;
	letter-spacing: .1em;
	white-space: nowrap;
	color: #fff;
	font-size: 30px;
	line-height: 1;
	font-family: arial, sans-serif;
}
.grSliderLoader>div>div {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.grSliderLoader>div>div>div {
	display: table;
	width: 100%;
	height: 100%;
}
.grSliderLoader p {
	display: table-cell;
	vertical-align: middle;
}