@charset "utf-8";


body {
	color: white;
	font-family: 'MO ClearTone SG';
	font-weight: normal;
	text-align: center;
}

#container {
    position: absolute;
	width: 100%;
	height: 100%;
	background: url("../img/live_w/bg.png") no-repeat;
	background-size: 100% 100%;
}

#statusWrap {
    position: absolute;
    width: 8.6%;
    height: 12%;
    left: 45.7%;
    bottom: 10.98%;
	background: url("../img/live_w/bg_c.png") no-repeat;
	background-size: 100% 100%;
}
#roundWrap {
    position: absolute;
    width: 72%;
    height: 39%;
    bottom: 6%;
    left: 0;
    text-align: right;
    font-weight: bold;
    color: #000;
}
.roundInner {
	position: absolute;
	right: 34%;
	height: 100%;
	text-align: right;
}
.roundEx {
    position: relative;
    right: 7%;
}
#timeWrap {
    position: absolute;
    left: 23%;
    top: 9%;
    width: 71%;
    height: 42%;
    text-align: left;
}
#bgWrapL,
#bgWrapR{
width: 37.4%;
    height: 12%;
    bottom: 10.98%;
    position: absolute;
}
#bgWrapL{
    left: 8.1%;
	background:  url("../img/live_w/bg_l.png") left top no-repeat;
	background-size: 100% 100%;
}
#bgWrapR{
    right: 8.1%;
	background:  url("../img/live_w/bg_r.png") left top no-repeat;
	background-size: 100% 100%;
}
#bgWrapR.bgWhite {
	background-image:url("../img/live_w/bg_r_white.png");
}
#bgWrapL.bgWhite {
	background-image:url("../img/live_w/bg_l_white.png");
}
#bgWrapR.bgGreen {
	background-image:url("../img/live_w/bg_r_green.png");
}
#bgWrapL.bgRed {
	background-image:url("../img/live_w/bg_l_red.png");
}

#scoreBoxL,
#scoreBoxR {
    position: absolute;
    width: 4.11%;
    height: 6.6%;
    left: 40%;
    bottom: 14%;
    color: white;
	text-shadow: 0 2px 2px #000000;
	text-align: center;
}
#scoreBoxR {
	left: auto;
	right: 40%;
}
#scoreBoxR:before,
#scoreBoxL:before {
   /* content: "";
    position: fixed;
    bottom: 5%;
    width: 22.00%;
    height: 1.4%;
	opacity:0;
	opacity:1/*;debug*/
} 
#scoreBoxL:before {
    background: #FF0000;
    left: 18.2%;
}
#scoreBoxR:before{
    background: #00D600;
    right: 18.2%;
}
#scoreBoxR.on:before,
#scoreBoxL.on:before {
	opacity:1;
} 
#scoreBoxR.invalid:before,
#scoreBoxL.invalid:before {
	opacity:1;
	background: white;
} 
#nameLWrap,
#nameRWrap {
    position: absolute;
    width: 27.5%;
    height: 3.9%;
    bottom: 12.6%;
    color: black;
	
    left: 11.2%;
	font-weight: bolder;
}
#nameLWrap {
	text-align: left;
}
#nameRWrap {
	text-align: right;
	left: auto;
    right: 11.2%;
}

.fixfont {
	opacity: 0;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin: auto;
}
.fixfont>div {
	display: table;
	width: 100%;
	height: 100%;
}
.fixfont>div>div {
	display: table-cell;
	vertical-align: middle;
}

/* ----------------------------------------
	sign
---------------------------------------- */

#sign {
    top: 78.4%;
    left: 0;
    height: 4%;
    width: 100%;
    position: absolute;
}
#sign .card {
	position: absolute;
    width: 1.5%;
    height: 87%;
	top:0;
}
#sign>div {
	opacity: 0;
	/*opacity: 1; /*debug*/
}
#yellowcardL,
#yellowcardR {
	background:url("../img/live_w/card_yellow.png") no-repeat;
	background-size: 100% 100%;
}
#yellowcardL {
	left: 37.6%;
}
#yellowcardR {
	right: 37.6%
}
#redcardL,
#redcardR {
	background:url("../img/live_w/card_red.png") no-repeat;
	background-size: 100% 100%;
}
#redcardL { 
	    left: 35.9%;
}
#redcardR { 
	right: 35.9%;
}
.nationL,
.nationR{
	position: absolute;
    width: 9.5% !important;
    right: 83.3%;
    top: 7%;
    height: 80%;
	font-weight: bold;
	opacity: 1 !important;
}
.nationR {
	right:auto;
    left: 83.3%;
}
#priorityL,
#priorityR{
    top: -23% !important;
	font-weight: bolder;
}

.flag {
	position: absolute;
	width: 3%;
	height:80%;
	left:14%;
	top:0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	opacity: 1 !important;
}
#flagR {
	left: auto;
	right: 14%;
}


.priority{
	background: none;
	/*opacity: 1!important; debug*/
	color: #00deff;
	height: 120% !important;
    width: 2% !important;
}

#priorityL{
    left: 17.2%;
}

#priorityR{
    right: 17.2%;
}

.priority span {
    display: block;
    width: 100%;
    height: 100%;
}

#sign>div.on {
	opacity: 1;
}