@charset "utf-8";

/* ----------------------------------------
	reset
---------------------------------------- */

html, body,
div, p,
table, tr, th, td,
ul, ol, li,
dl, dt, dd,
h1, h2, h3, h4, h5, h6,
img, a, address {
	margin: 0;
	border: 0;
	padding: 0;
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;

}


/* ----------------------------------------
	clearfix
---------------------------------------- */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}
/* ----------------------------------------
	font
---------------------------------------- */


@font-face {
    font-family: 'UD Bold';
    src: url('../fonts/A-OTF-UDSHINMGOPRO-BOLD.OTF') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'Ameba Sans';
    src: url('../fonts/Ameba Sans.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothicNo.20-Condensed';
    src: url('../fonts/TradeGothicNo20-CondBold.woff2') format('woff2'),
        url('../fonts/TradeGothicNo20-CondBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: "HiraginoKakugoProW6";
  src: url("../fonts/HiraginoKakugoProW6.otf") format('woff2'),
       url("../fonts/HiraginoKakugoProW6.woff")  format('woff'),
       url("../fonts/HiraginoKakugoProW6.otf")   format('opentype');
}

@font-face {
	font-family: "MO ClearTone SG";
	src: url("../fonts/MOClearToneSG-Medium.otf") format('opentype');
	font-weight: normal;
}
@font-face {
	font-family: "MO ClearTone SG";
	src: url("../fonts/MOClearToneSG-DemiBold.otf") format('opentype');
	font-weight: bolder;
}
@font-face {
	font-family: "MO ClearTone SG";
	src: url("../fonts/MOClearToneSG-Bold.otf") format('opentype');
	font-weight: bold;
}
@font-face {
	font-family: "HiraginoKakugoStd";
	src: url("../fonts/ヒラギノ角ゴ StdN W6.otf") format('opentype');
	font-weight: normal;
}
@font-face {
	font-family: "HiraginoKakugoStd";
	src: url("../fonts/ヒラギノ角ゴ StdN W7.otf") format('opentype');
	font-weight: bolder;
}

