@charset "utf-8";


body {
	background: #000;
	color: #fff;
	font-size: 60px;
	line-height: 84px;
	
	font-family: helvetica,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
	font-feature-settings : "palt";
	
	
	zoom: 80%;
	
}


.fixfont {
	opacity: 0;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin: auto;
}
.fixfont>div {
	display: table;
	width: 100%;
	height: 100%;
}
.fixfont>div>div {
	display: table-cell;
	vertical-align: middle;
}

#sideLed {    
	width: 1680px;
    	height: 336px;
}


.black {
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
	height: 100%;
	z-index: 100;
}

#sideLed>li {
	position: relative;
	box-sizing: border-box;
	height: 84px;
	text-align: center;
}

#sideLed>li>div {
	position: absolute;
	top: 0;
}


.red {
	background-color: rgba(0,0,0,0.7);
	border-top:2px solid #f06755;
	box-sizing:border-box;　/* 追加 */
	
}

.green {
	background-color: rgba(0,0,0,0.7);
	border-top:2px solid #9dd4d7;
	box-sizing:border-box;　/* 追加 */
}

.player {
    
}

.name {
	display: flex;          /* 2 */
    align-items: center;    /* 4 */
    text-align: left;
    width: 100%;
}

.name h2 {
	display: inline-block;
	margin-left: 10px;
	font-stretch:expanded;
	font-size: 60px;
    font-weight: normal;
    letter-spacing: 0.00em;
    
    box-sizing:border-box;　/* 追加 */
    
    -moz-transform:    scale( 0.80, 1 );  /* Firefox */
	  -webkit-transform: scale( 0.80, 1 );  /* Chrome,Safari */
	  -o-transform:      scale( 0.80, 1 );  /* Opera */
	  -ms-transform:     scale( 0.80, 1 );  /* IE */
	  transform:         scale( 0.80, 1 );  /* CSS3 */
}

.name p {
	font-feature-settings : "palt";
	display: inline-block;
	font-size: 20px;
	line-height: 1.2em;
	letter-spacing: 0.08em;
	
	 -moz-transform:    scale( 0.80, 1 );  /* Firefox */
	  -webkit-transform: scale( 0.80, 1 );  /* Chrome,Safari */
	  -o-transform:      scale( 0.80, 1 );  /* Opera */
	  -ms-transform:     scale( 0.80, 1 );  /* IE */
	  transform:         scale( 0.80, 1 );  /* CSS3 */
}

.info {
	margin: 0;
	padding: 0;
	text-align: right;
	width: 100%;
	overflow: hidden;
	margin-top: -4px;
}

.info h3 {
	display: inline-block;
	font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 48px;
    font-weight: normal;
	letter-spacing: -0.01em;
	font-feature-settings : "palt";
	margin-left: 70px;
	
	-moz-transform:    scale( 0.80, 1 );  /* Firefox */
	  -webkit-transform: scale( 0.80, 1 );  /* Chrome,Safari */
	  -o-transform:      scale( 0.80, 1 );  /* Opera */
	  -ms-transform:     scale( 0.80, 1 );  /* IE */
	  transform:         scale( 0.80, 1 );  /* CSS3 */
}

.player2 .name, .player4 .name {	
	text-align: right;
	justify-content: flex-end;
}

.player2 .name h2, .player4 .name h2 {	
	margin-left: 0;
	margin-right: 10px;
}

.player2 .info, .player4 .info {
	text-align: left;
}

.player2 .info h3, .player4 .info h3 {
	margin-left: -70px;
}



#sideLed, canvas {    
    	
	-webkit-transform: rotateZ(-90deg) translateX(-1680px);
	-webkit-transform-origin: 0 0;
	transform: rotateZ(-90deg) translateX(-100%);
		transform-origin: 0 0;
	

}