@charset "utf-8";

body {
	background: #000;
	color: #fff;
	font-size: 60px;
	line-height: 84px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-serif;
	zoom: 80%;
}

.fixfont {
	opacity: 0;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin: auto;
}
.fixfont>div {
	display: table;
	width: 100%;
	height: 100%;
}
.fixfont>div>div {
	display: table-cell;
	vertical-align: middle;
}

#sideLed {    
	overflow: hidden;
	width: 1680px;
	height: 336px;
	-webkit-transform: rotateZ(-90deg) translateX(-1680px);
	-webkit-transform-origin: 0 0;
	transform: rotateZ(-90deg) translateX(-100%);
	transform-origin: 0 0;
}

#sideLed>li {
	position: relative;
	box-sizing: border-box;
	height: 84px;
	text-align: center;
	background: url(../img/side_bg_w.png) 100% 0 no-repeat;
}

.j #sideLed>li { background-image: url(../img/side_bg_j_front.png); }
.j #sideLed>[data-direction="back"] { background-image: url(../img/side_bg_j_back.png); }

#sideLed>li>div {
	position: absolute;
	top: 0;
}

#sideLed [data-pos="rev"] {
	background-position: 0 0;
}


/* ----------------------------------------
	name
---------------------------------------- */

#sideLed .name {
	width: 660px;
	font-size: 70px;
}

#sideLed .name {
	width: 660px;
	font-size: 70px;
}

[data-direction="front"] .name {
	left: 630px;
}
#sideLed [data-direction="front"][data-pos="rev"] .name {
	left: auto;
	right: 630px;
}

#sideLed [data-direction="back"] .name {
	left: 670px;
}
#sideLed [data-direction="back"][data-pos="rev"] .name {
	left: auto;
	right: 670px;
}


/* ----------------------------------------
	nation
---------------------------------------- */

#sideLed .nation {
	width: 251px;
	right: 80px;
	text-align: right;
}

.j .nation {
	display: none;
}

#sideLed .nation i {
	position: absolute;
	left: 0;
	top: 10px;
	width: 96px;
	height: 64px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

#sideLed [data-pos="rev"] .nation {
	left: 80px;
	right: auto;
	text-align: left;
}
#sideLed [data-pos="rev"] .nation i {
	left: auto;
	right: 0;
}


/* ----------------------------------------
	score
---------------------------------------- */

#sideLed .score {
	top: 10px;
	-webkit-box-shadow: inset 0 0 20px 0 rgba(0,0,0,.5);
	box-shadow: inset 0 0 20px 0 rgba(0,0,0,.5);
	width: 200px;
	height: 64px;
	border-radius: 20px;
	line-height: 64px;
}

#sideLed [data-direction="front"] .score {
	left: 380px;
}

#sideLed [data-direction="front"][data-pos="rev"] .score {
	left: auto;
	right: 380px;
}

#sideLed [data-direction="back"] .score {
	left: 470px;
}

#sideLed [data-direction="back"][data-pos="rev"] .score {
	left: auto;
	right: 470px;
}

#sideLed .invalid .score,
#sideLed .on .score {
	color: #000;
}

#sideLed .invalid .score { background: #fff; }
#sideLed .on .score { background: #f00; }
#sideLed .on .scoreR { background: #0f0; }


/* ----------------------------------------
	logo
---------------------------------------- */

#sideLed .logo img {
	display: block;
}

#sideLed [data-direction="front"] .logo {
	right: 100px;
	top: 18px;
}
#sideLed [data-direction="front"] .logo img {
	height: 48px;
}

#sideLed [data-direction="back"] .logo {
	left: 225px;
	top: 22px;
}
#sideLed [data-direction="back"] .logo img {
	height: 40px;
}

#sideLed [data-direction="back"][data-pos="rev"] .logo {
	left: auto;
	right: 225px;
}


/* ----------------------------------------
	round
---------------------------------------- */

#sideLed .round {
	top: 5px;
	width: 80px;
	border-radius: 10px;
	background: #fff;
	color: #333;
	font-weight: bold;
}

#sideLed [data-direction="front"] .round {
	left: -75px;
	top: 17px;
	width: 150px;
	font-size: 40px;
	line-height: 50px;
}
#sideLed [data-direction="front"][data-pos="rev"] .round {
	left: auto;
	right: -75px;
}

#sideLed [data-direction="back"] .round {
	left: 110px;
	font-size: 26px;
	line-height: 30px;
}
#sideLed [data-direction="back"][data-pos="rev"] .round {
	left: auto;
	right: 110px;
}


/* ----------------------------------------
	time
---------------------------------------- */

#sideLed .time {
	letter-spacing: .2em;
	font-weight: bold;
}

#sideLed [data-direction="front"] .time {
	left: 100px;
	font-size: 40px;
}

#sideLed [data-direction="back"] .time {
	left: 75px;
	top: auto;
	bottom: 5px;
	width: 150px;
	text-indent: .2em;
	font-size: 36px;
	line-height: 40px;
}
#sideLed [data-direction="back"][data-pos="rev"] .time {
	left: auto;
	right: 75px;
}


