@charset "utf-8";

/* test setting area*/

#sideLed,
#sideWFsemi,
#sideWS,
#sideWF,
#sideMS,
#sideMF,
#sideME{
	z-index:1;
}
#sideSponsor{
	z-index:10;
}

body {
	background: #000;
	color: #fff;
	font-size: 40px;
	line-height: 64px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-serif;
	zoom: 80%;
}

.fixfont {
	opacity: 0;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin: auto;
}
.fixfont>div {
	display: table;
	width: 100%;
	height: 100%;
}
.fixfont>div>div {
	display: table-cell;
	vertical-align: middle;
}

.sideList {    
    position: absolute;
    left: 0;
    /*right: 0;*/
    top: 0;
	/*overflow: hidden;*/
	width: 1512px;
	height: 672px;
}
.sideList.rotate {
	/*webkit-transform: rotateZ(-90deg) translateX(-1680px);
	-webkit-transform-origin: 0 0;
	/*transform: rotateZ(-90deg) translateX(-100%);*/
	/*transform-origin: 0 0;
	transform: rotateZ(-90deg) translate3d(-100%,0,0);/* test */
}

.sideList>li {
	position: relative;
	box-sizing: border-box;
	height: 25%;
	text-align: center;
	background-size: cover;
	background-color: #000;
	/*background-color: #888;/*debug*/
	/*border: 1px solid #fff;/*debug*/
	overflow: hidden;/*test*/
}

#sideLed>li {
}
/*#sideLed>li:after {
	content: "";
	position: absolute;
	background: white;
	right: 25.2%;
	top: 15%;
	height:70%;
	width: 1%;
}
#sideLed>li[data-pos="rev"]:after {
	right:auto;
	left: 25.2%;
}
#sideLed>li.playerR:after{
	background-color: #00D600;
}
#sideLed>li.playerL:after{
	background-color: #FF0000;
}*/


#sideLed>li>div {
	position: absolute;
	top: 0;
}

#sideLed [data-pos="rev"] {
	background-position: 0 0;
}


/* ----------------------------------------
	name
---------------------------------------- */

#sideLed .name {
	width: 40%;
 /* text-shadow:1px 1px 0 #000, -1px -1px 0 #000,
              -1px 1px 0 #000, 1px -1px 0 #000,
              0px 1px 0 #000,  0-1px 0 #000,
              -1px 0 0 #000, 1px 0 0 #000;*/
	padding: 0 1%;
}

[data-direction="front"] .name {
	width: 42%;
	left: 28.5%;
}
#sideLed [data-direction="front"][data-pos="rev"] .name {
	width: 42%;
	left: auto;
	right: 28.5%;
}

#sideLed [data-direction="back"] .name {
	width: 36%;
	left: 34.3%;
}
#sideLed [data-direction="back"][data-pos="rev"] .name {
	width: 36%;
	left: auto;
	right: 34.3%;
}


/* ----------------------------------------
	nation
---------------------------------------- */

#sideLed .nation {
	width: 15%;
	right: 14%;
	height:72%;
	text-align: right;
	top: 14%;
}

.j .nation {
	display: none;
}

#sideLed .nation i {
	position: absolute;
	right: 40%;
	top: 0;
	width: 30%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

#sideLed [data-pos="rev"] .nation {
	left: 14%;
	right: auto;
	text-align: left;
}
#sideLed [data-pos="rev"] .nation i {
	left: 40%;
	right: auto;
}

.flag {
	position: absolute;
	height: 50%;
	top:25%;
}
.flag img {
	width:auto;
	height: 100%;
}

#sideLed .flag {
	top: 17%;
	left: 20%;
}
#sideLed .flagR {
	right: 20%;
	left: auto;
}

/* ----------------------------------------
	score
---------------------------------------- */

#sideLed .score {
	width: 8%;
    height: 100%;
    top: 0;
	line-height: 82px;
	font-weight: bold;
}

#sideLed [data-direction="front"] .score {
    left: 20.6%;
}

#sideLed [data-direction="front"][data-pos="rev"] .score {
	left: auto;
	right: 20.6%;
}

#sideLed [data-direction="back"] .score {
    left: 26.4%;
}

#sideLed [data-direction="back"][data-pos="rev"] .score {
	left: auto;
	right: 26.4%;
}

#sideLed .invalid .score,
#sideLed .on .score {
	color: #000;
}

/*#sideLed .invalid .score,
#sideLed .invalid .name { background: #fff;  color: black}
#sideLed .on .score,
#sideLed  [data-side="playerL"].on .name { background: #f00; color: black}
#sideLed .on .scoreR,
#sideLed  [data-side="playerR"].on .name { background: #0f0;  color: black}*/

.sideLed .on>ul, .sideLed .off>ul, .sideLed .invalid>ul,
.sideLed .red>ul, .sideLed .green>ul { display: none; }
.sideLed>li>ul { height: 100%; background: #f8f8f8; color: black; }
.sideLed>li>ul>li { float: left; width: 50%; height: 100%; text-align: center; }
#sideME.sideLed>li>ul>li { float: none; width: 100%; }
.sideLed>li>ul>li img { height: 100%; width: auto; }
.dqw.sideList>li { height: 100%; }

.sideLed .invalid { background: #fff; color: black; }
.sideLed .red { background: #f00; color: black; }
.sideLed .green { background: #0f0; color: black; }
.sideLed .off { background: #000; color: black; }
.sideLed [data-side="playerL"].on { background: #f00; color: black; }
.sideLed [data-side="playerR"].on { background: #0f0; color: black; }


/* ----------------------------------------
	logo
---------------------------------------- */

#sideLed .logo img {
	display: block;
}

#sideLed [data-direction="front"] .logo {
	right: 7%;
    top: 18%;
    width: 11.5%;
}
#sideLed [data-direction="front"] .logo img {
}

#sideLed [data-direction="back"] .logo {
	left: 13.3%;
    top: 18%;
    width: 11.5%;
}
#sideLed [data-direction="back"] .logo img {
}

#sideLed [data-direction="back"][data-pos="rev"] .logo {
	left: auto;
	right: 13.3%;
}


/* ----------------------------------------
	round
---------------------------------------- */

#sideLed .round {
    top: 7%;
    width: 6%;
	border-radius: 20px;
	background: #fff;
	color: #333;
	font-weight: bold;
}

#sideLed [data-direction="front"] .round {
    left: -3.5%;
    top: 18%;
    width: 7%;
    height: 65%;
    font-size: 110%;
    line-height: 128%;
}
#sideLed [data-direction="front"][data-pos="rev"] .round {
	left: auto;
	right: -3.5%;
}

#sideLed [data-direction="back"] .round {
    left: 6%;
    font-size: 70%;
    line-height: 128%;
}
#sideLed [data-direction="back"][data-pos="rev"] .round {
	left: auto;
	right: 6%;
}


/* ----------------------------------------
	time
---------------------------------------- */

#sideLed .time {
	letter-spacing: .2em;
	font-weight: bold;
}

#sideLed [data-direction="front"] .time {
    left: 4.5%;
    font-size: 110%;
    top: 15%;
}

#sideLed [data-direction="back"] .time {
    left: 6.5%;
    top: auto;
    bottom: 10%;
    width: 5%;
    text-indent: .2em;
    font-size: 69%;
    line-height: 100%;
}
#sideLed [data-direction="back"][data-pos="rev"] .time {
	left: auto;
	right: 6.5%;
}


/* ----------------------------------------
	sign
---------------------------------------- */

.sign {
	top: 0;
	height: 100%;
	right: 0;
	width: 22%;
}
[data-side="playerL"] .sign {
	left: 0;
	right: auto;
}
[data-side="playerL"][data-direction="back"] .sign {
	right: 0;
	left: auto;
}
[data-side="playerR"][data-direction="back"] .sign {
	left: 0;
	right: auto;
}
.sign>div {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: left;
}
[data-side="playerR"]  .sign>div {
	left: auto;
	right: 0;
	text-align: right;
}
[data-side="playerL"][data-direction="back"] .sign>div {
	left: auto;
	right: 0;
	text-align: right;
}
[data-side="playerR"][data-direction="back"] .sign>div {
	left: auto;
	right: 0;
	text-align: left;
}
.sign>div>div {
	display: inline-block;
	opacity: 0;
	/*opacity: 1; /*debug*/
	height: 100%;
	background-size: 100% 100%;
}

.sign .yellowcardL,
.sign .yellowcardR {
    width: 13.8%;
	background-image: url(../img/yellowcard_2018.png);
}

[data-direction="front"] .redcardL { margin-left: 1.5625%; }
[data-direction="front"] .redcardR { margin-right: 1.5625%; }
[data-direction="back"] .redcardL { margin-right: 1.5625%; }
[data-direction="back"] .redcardR { margin-left: 1.5625%; }

.sign .redcardL,
.sign .redcardR {
    width: 13.8%;
	background-image: url(../img/redcard_2018.png);
}

.sign .priority{
	width: 44%;
	background-image: url(../img/priority_l_2018.png);
}

[data-direction="back"] .sign .priorityL.priority{
	background-image: url(../img/priority_r_2018.png) !important;
}

.sign .priorityR{
	background-image: url(../img/priority_r_2018.png);
}

[data-direction="back"] .sign .priorityR.priority{
	background-image: url(../img/priority_l_2018.png) !important;
}

.sign>div>.on {
	opacity: 1;
}

#sideSponsor>li,
#sideSponsor2>li {
	background-color: #f8f8f8;
}
.loopslider {
    margin: 0 auto;
    height: 100%;
    text-align: left;
    position: relative;
 /*  overflow: hidden;*/
}
 
.loopslider ul {
    height: 100%;
    float: left;
    display: block;
   /* overflow: hidden;*/
}
 
.loopslider ul li {
    width: auto;
    height: 100%;
    float: left;
    display: block;
    overflow: hidden;
	margin-right: 20px;
}
.loopslider ul li:last-child {
	margin-right: 0 !important;
}
.loopslider ul li img {
	height: 100%;
	width: auto;
}

#sideMessage > li > ul {
	position: absolute;
	width: 100%;
}
#sideMessage > li  ul > li {
	width: 100%;
	line-height:  82px;
	letter-spacing: 2px;
	color: yellow;
	font-weight: bold;
}
.messageR li{
	text-align: left;
}
.messageL li{
	text-align: right;
}
.messageR li span{
	margin-left: 1px;
}
.messageL li span{
	margin-right: 1px;
}
.messageR[data-direction="back"] li span{
	margin-left: 6%;
}
.messageL[data-direction="back"] li span{
	margin-right: 6%;
}


#sideTwitter > li > ul {
	position: absolute;
	width: 100%;
}
#sideTwitter > li  ul > li {
	width: 100%;
	line-height:  82px;
	letter-spacing: 2px;
	font-weight: bold;
	color: #00bfff;
}
#sideTwitter > li  ul > li span.evenTweet {
	color: white;
}
#sideTwitter .twitter_logo {
	position: absolute;
	height: 60%;
	left:10px;
	top:20%;
}
#sideTwitter .twitter_logo:nth-of-type(2) {
	left: 80px;
}
#sideTwitter .twitterR .twitter_logo {
	right:10px;
	left:auto; 
}
#sideTwitter .twitterR .twitter_logo:nth-of-type(2){
	right: 80px;
	left:auto; 
}
.twitterR li{
	text-align: left;
}
.twitterL li{
	text-align: right;
}
.twitterR li span{
	margin-left: 1px;
}
.twitterL li span{
	margin-right: 1px;
}
.twitterR[data-direction="back"] li span{
	margin-left: 6%;
}
.twitterL[data-direction="back"] li span{
	margin-right: 6%;
}
 
/* =======================================
    ClearFixElements
======================================= */
/*.loopslider ul:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}
 */
.loopslider ul {
    display: inline-block;
    overflow: hidden;
}

 
/* =======================================
    ClearFixElements
======================================= */

.sideList >li {
	/*order: 1px solid red;/* debug */
}
.sideList#sideSponsor >li,
.sideList#sideSponsor2 >li {
	/*border: 1px solid red;/* debug */
}

