@charset "utf-8";

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 0 0;
    -webkit-animation: "box3d" 30s infinite linear;
    -moz-transform-style: preserve-3d;
    -moz-transform-origin: 0 0;
    -moz-animation: "box3d" 30s infinite linear;
    -ms-transform-style: preserve-3d;
    -ms-transform-origin: 0 0;
    -ms-animation: "box3d" 30s infinite linear;
    -o-transform-style: preserve-3d;
    -o-transform-origin: 0 0;
    -o-animation: "box3d" 30s infinite linear;
    transform-style: preserve-3d;
    transform-origin: 0 0;
    animation: "box3d" 30s infinite linear;
}

.surface img {
    width: 100%;
    height: 100%;
}

.surface {
    position: absolute;
    width: 1512px;
    height: 168px;
    background: #f8f8f8;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-origin: 50% 50%;
    -moz-transform-style: preserve-3d;
    -ms-transform-origin: 50% 50%;
    -ms-transform-style: preserve-3d;
    -o-transform-origin: 50% 50%;
    -o-transform-style: preserve-3d;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
}

.surface.s0 {
    -webkit-transform: translateX(-756px) translateY(-84px) rotateX(0deg) translateZ(48.49px);
    -moz-transform: translateX(-756px) translateY(-84px) rotateX(0deg) translateZ(48.49px);
    -ms-transform: translateX(-756px) translateY(-84px) rotateX(0deg) translateZ(48.49px);
    -o-transform: translateX(-756px) translateY(-84px) rotateX(0deg) translateZ(48.49px);
    transform: translateX(-756px) translateY(-84px) rotateX(0deg) translateZ(48.49px);
}

.surface.s1 {
    -webkit-transform: translateX(-756px) translateY(-84px) rotateX(120deg) translateZ(48.49px);
    -moz-transform: translateX(-756px) translateY(-84px) rotateX(120deg) translateZ(48.49px);
    -ms-transform: translateX(-756px) translateY(-84px) rotateX(120deg) translateZ(48.49px);
    -o-transform: translateX(-756px) translateY(-84px) rotateX(120deg) translateZ(48.49px);
    transform: translateX(-756px) translateY(-84px) rotateX(120deg) translateZ(48.49px);
}

.surface.s2 {
    -webkit-transform: translateX(-756px) translateY(-84px) rotateX(60deg) translateZ(-48.49px) rotateX(180deg);
    -moz-transform: translateX(-756px) translateY(-84px) rotateX(60deg) translateZ(-48.49px) rotateX(180deg);
    -ms-transform: translateX(-756px) translateY(-84px) rotateX(60deg) translateZ(-48.49px) rotateX(180deg);
    -o-transform: translateX(-756px) translateY(-84px) rotateX(60deg) translateZ(-48.49px) rotateX(180deg);
    transform: translateX(-756px) translateY(-84px) rotateX(60deg) translateZ(-48.49px) rotateX(180deg);
}

@-webkit-keyframes box3d {
    0% { -webkit-transform: rotateX(0deg); }
    30% { -webkit-transform: rotateX(0deg); }
    33.33% { -webkit-transform: rotateX(-120deg); }
    63.33% { -webkit-transform: rotateX(-120deg); }
    66.66% { -webkit-transform: rotateX(-240deg); }
    96.66% { -webkit-transform: rotateX(-240deg); }
    100% { -webkit-transform: rotateX(-360deg); }
}

@-moz-keyframes box3d {
    0% { -moz-transform: rotateX(0deg); }
    30% { -moz-transform: rotateX(0deg); }
    33.33% { -moz-transform: rotateX(-120deg); }
    63.33% { -moz-transform: rotateX(-120deg); }
    66.66% { -moz-transform: rotateX(-240deg); }
    96.66% { -moz-transform: rotateX(-240deg); }
    100% { -moz-transform: rotateX(-360deg); }
}

@-ms-keyframes box3d {
    0% { -ms-transform: rotateX(0deg); }
    30% { -ms-transform: rotateX(0deg); }
    33.33% { -ms-transform: rotateX(-120deg); }
    63.33% { -ms-transform: rotateX(-120deg); }
    66.66% { -ms-transform: rotateX(-240deg); }
    96.66% { -ms-transform: rotateX(-240deg); }
    100% { -ms-transform: rotateX(-360deg); }
}

@-o-keyframes box3d {
    0% { -o-transform: rotateX(0deg); }
    30% { -o-transform: rotateX(0deg); }
    33.33% { -o-transform: rotateX(-120deg); }
    63.33% { -o-transform: rotateX(-120deg); }
    66.66% { -o-transform: rotateX(-240deg); }
    96.66% { -o-transform: rotateX(-240deg); }
    100% { -o-transform: rotateX(-360deg); }
}

@keyframes box3d {
    0% { transform: rotateX(0deg); }
    30% { transform: rotateX(0deg); }
    33.33% { transform: rotateX(-120deg); }
    63.33% { transform: rotateX(-120deg); }
    66.66% { transform: rotateX(-240deg); }
    96.66% { transform: rotateX(-240deg); }
    100% { transform: rotateX(-360deg); }
}
