@charset "utf-8";


body {
	color: white;
	font-family: 'HiraginoKakugoStd';
	text-align: center;
	background: #384C82;
}

#container {
    position: absolute;
	width: 100%;
	height: 100%;
}

#statusWrap {
position: absolute;
    width: 10.4%;
    left: 44.8%;
    height: 13%;
    bottom: 8.8%;
}
#roundWrap {
    position: absolute;
    width: 100%;
    height: 30%;
    top: 0%;
    left: -5%;
    transform: skew(25deg,0);
background: rgb(139,139,139);
background: linear-gradient(0deg, rgba(139,139,139,1) 0%, rgba(255,255,255,1) 100%);
}
#roundWrap:after {
	content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0%;
    right: -10%;
    transform: skew(-45deg,0);
background: rgb(139,139,139);
background: linear-gradient(0deg, rgba(139,139,139,1) 0%, rgba(255,255,255,1) 100%);
}
#roundWrap > div {
	transform: skew(-25deg,0);
	color: black;
    width: 25%;
    position: absolute;
    left: 45%;
}
#timeWrap {
    position: absolute;
    left: 1%;
    top: 39%;
    width: 98%;
    height: 61%;
    text-align: left;
	background: black;
}
#timeWrap > div {
	width: 80%;
    position: absolute;
    left: 20%;
}
#bgWrapL,
#bgWrapR{
	background: black;
    width: 59vh;
    height: 8vh;
    bottom: 8.8vh;
	position: absolute;
	/*border-color: rgba(0,255,0,1) !important;
	box-shadow:0px 0px 20px 0px rgba(0,255,0,1) ;/*debug*/
}
#bgWrapL{
	transform: scaleY(1) perspective(59vh) rotateX(-23deg);
	transform-origin: bottom right;
	left: 11.7vh;
}
#bgWrapR{
    transform: scaleY(1) perspective(59vh) rotateX(-23deg);
    transform-origin: bottom left;
    right: 11.7vh;
	
}
#bgWrapL:before,
#bgWrapR:before {
	/*
	content:"";
	background: black;
    width: 50%;
    height: 100%;
    position: absolute;
    top: -13%;
	border: 1vh solid #384C82;
	 border-color: rgba(0,255,0,1) !important;
	box-shadow:0px 0px 20px 0px rgba(0,255,0,1) ;/*debug*/
}
	/*
#bgWrapL:before {
	transform:skew(-25deg,0);
	right:-5.9%;
	border-left: none !important;
}
#bgWrapR:before {
	transform:skew(25deg,0);
	left:-5.9%;
	border-right: none !important;
}
*/
#bgWrapL:after,
#bgWrapR:after {
	content:"";
	background: red;
	width: 2%;
	height: 100%;
	position: absolute;
	top:0;
}
#bgWrapL:after {
	left:3%;
}
#bgWrapR:after {
	background: #00D600;
	right: 3%;
}
#bgWrapL.bgWhite,
#bgWrapL.bgRed,
#bgWrapL.bgGreen{
	transform: scaleY(1) perspective(59vh) rotateX(-23deg);
    border: 1vh solid transparent;
    width: 58.6vh;
    height: 8vh;
    bottom: 7.8vh;
    left: 11.2vh;
}
#bgWrapR.bgWhite,
#bgWrapR.bgRed,
#bgWrapR.bgGreen{
    transform: scaleY(1) perspective(59vh) rotateX(-23deg);
    border: 1vh solid transparent;
    width: 58.5vh;
    height: 8vh;
    bottom: 7.8vh;
    right: 11.3vh;
}
.bgWhite,
.btWhite:before{
	border-color: rgba(255,255,255,1) !important;
	box-shadow:0px 0px 20px 0px rgba(255,255,255,1) ;
}
.bgRed,
.bgRed:before{
	border: 1vh solid transparent;
	border-color: rgba(255, 0, 0, 1) !important;
	box-shadow:0px 0px 20px 0px rgba(255,0,0,1) ;
	}
.bgGreen,
.bgGreen:before{
	border: 1vh solid transparent;
	border-color: rgba(0, 255, 0, 1) !important;
	box-shadow:0px 0px 20px 0px rgba(0,255,0,1) ;
	}
#bgWrapL .circle{
    right: 99%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
	border-right: none;
}
#bgWrapR .circle {
    left: 99%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
	border-left: none;
}

#bgWrapL .colorCircle,
#bgWrapR .colorCircle {
    height: 37.5%;
    display: block;
    position: absolute;
    top: 31%;
    border-radius: 100%;
}
#bgWrapL .colorCircle{
    left: -5%;
	background: #FF0000;
}
#bgWrapR .colorCircle {
    right: -5%;
	background: #00D600;
}
#portraitL,
#portraitR {
    position: fixed;
    bottom: 9%;
    width: 5.2%;
    /* padding: 0.2%; */
    /* background: white; */
    border-radius: 11px;
    box-sizing: border-box;
    border: 0.19vw solid white;
    border-radius: 11px;
    overflow: hidden;
}
#portraitL {
    left: 13.2%;
}
#portraitR {
    right: 13.2%;
}
#portraitL img,
#portraitR img{
	width:100%;
    display: block;
}

#scoreBoxL,
#scoreBoxR {
	position: absolute;
	width: 4.11%;
	height: 7.60%;
	left: 40.4%;
    bottom: 8.8%;
	background: white;
	color: black;
	font-weight: bolder;
}
#scoreBoxR {
	left: auto;
	right: 40.4%;
}
#scoreBoxR:before,
#scoreBoxL:before {
} 
#scoreBoxL:before {
}
#scoreBoxR:before{
}
#scoreBoxR.on:before,
#scoreBoxL.on:before {
} 
#scoreBoxR.invalid:before,
#scoreBoxL.invalid:before {
} 
#nameLWrap,
#nameRWrap {
	position: absolute;
    width: 28%;
    height: 7%;
    bottom: 9.1%;
	word-break: break-all;
}
#nameLWrap {
    left: 11%;
}
#nameRWrap {
	right: 11%;
}
#nameRWrap > div {
	margin-left: 5%;
}
#nameLWrap > div {
	margin-right: 5%;
}
#nameL,
#nameR {
	width: 100%;
	height: 100%;
}

.fixfont {
	opacity: 0;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin: auto;
}
.fixfont>div {
	display: table;
	width: 100%;
	height: 100%;
}
.fixfont>div>div {
	display: table-cell;
	vertical-align: middle;
}

/* ----------------------------------------
	sign
---------------------------------------- */

#sign {
    top: 78.2%;
    left: 0;
    height: 3.9%;
    width: 100%;
    position: absolute;
}
#sign .card {
    position: absolute;
    width: 1.71875%;
    height: 100%;
    top: 0;
    transform: skew(25deg,0);
}
#sign .card > div {
    transform: skew(-25deg,0);
}
#yellowcardR,
#redcardR,
.nationR,
#priorityR{
	transform: skew(-25deg,0) !important;
}

#yellowcardR > div,
#redcardR > div,
.nationR > div,
#priorityR > div{
	transform: skew(25deg,0) !important;
}
#sign>div {
	opacity: 0;
	/*opacity: 1; /*debug*/
}
#yellowcardL,
#yellowcardR {
	background:#FFE100;
}
#yellowcardL {
	left: 42%;
}
#yellowcardR {
	right: 42%
}
#redcardL,
#redcardR {
	background:red;
}
#redcardL { 
    left: 40%;
}
#redcardR { 
	right: 40%;
}
.nationL,
.nationR{
    background: black;
    position: absolute;
    width: 9.6% !important;
    right: 60.6%;
    height: 100%;
    transform: skew(25deg,0);
	opacity: 1 !important;
}
.nationR {
	right:auto;
	left:60.6%;
}
.nationR > div,
.nationL > div {
    position: absolute;
    width: 44%;
}
.nationR > div {
	right: 14%;
}
.nationL > div {
	transform: skew(-25deg,0);
    left: 14%;
}
#priorityL,
#priorityR{
	height: 100%;
	background: #0090DC;
}
#priorityL{
	left: 27.4%;
}
#priorityL > div{
}
#priorityR{
	right: 27.4%;
}
#priorityR > div{
}
.priority span {
    display: block;
    width: 100%;
    height: 100%;
}

#sign>div.on {
	opacity: 1;
}

.flag {
	position: absolute;
    left: 35.5%;
    top: 10%;
    width: 3%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
	opacity: 1 !important;
	background-position: 50% 50%;
}
#flagR {
	left: auto;
	right: 35.5%;
}