<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>Tournament 1</title>
<link rel="stylesheet" href="/fencing/css/setting.css">
<link rel="stylesheet" href="/fencing/css/admin.css">
</head>
<body>