{include file="xx_nimda/header.tpl"}
<!-- :::::::::::::::::::: Contents Area Start :::::::::::::::::::: -->
<div id="login">


<form method="post" name="form" id="form" action="../auth/">
<table id="sys_menu">
<tr>
<th>ID</th>
<td>{if $account_error != ""}<p class="error-style">{$account_error}</p>{/if}
<input type="text" name="account" id="form_account" value="{$account}" size="20" class="form-control textbox1{if $account_error != ""} error{/if}"/></td>
</tr>
<tr>
<th>パスワード</th>
<td>{if $passwd_error != ""}<p class="error-style">{$passwd_error}</p>{/if}
<input type="password" name="passwd" id="form_passwd" value="{$passwd}" size="20" class="form-control textbox1{if $passwd_error != ""} error{/if}"/></td>
</tr>
</table>
<div id="submit">
<input type="submit" name="next" id="form_next" class="btn btn btn-default" value="ログイン"/>
</div>
</form>


</div>
<!-- :::::::::::::::::::: Contents Area End :::::::::::::::::::: -->
{include file="xx_nimda/footer.tpl"}